<div class="tabs">
  <h5>Create Tag Extension</h5>
  <div class="spacer"></div>
  <app-settings></app-settings>
</div>

<form class="form" [formGroup]="extForm" (ngSubmit)="create()">

  <label for="tag">Tag:</label>
  <input id="tag" type="text" formControlName="tag">
  <span><!-- Tag Errors --></span>
  <div>
    <div class="error" *ngIf="tag.touched && tag.errors?.['pattern']">
      Tags must be lower case letters and forward slashes. Must not start with a slash or contain two forward slashes in a row. Private
      tags start with an underscore.<br>
      (i.e. "science", "my/tag", or "_my/private/tag")
    </div>
    <div class="error" *ngIf="tag.touched && tag.errors?.['required']">
      Tag must not be blank.
    </div>
  </div>

  <label for="name">Name:</label>
  <input id="name" type="text" formControlName="name">

  <ng-container *ngFor="let e of serverError">
    <span><!-- Unexpected Error --></span>
    <div class="error">{{ e }}</div>
  </ng-container>

  <span><!-- Buttons --></span>
  <span class="form-group">
    <button type="submit" [disabled]="submitted && !extForm.valid">Create</button>
  </span>

</form>
