:host {
  display: block;
  max-height: 160px;
  overflow: hidden;
  user-select: none;

  .thumbnail {
    min-width: 48px;
    min-height: 48px;
  }

  .card-title {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
}
