<div class="row">
  <ng-container *ngIf="thumbnail">
    <div class="thumbnail"
         *ngIf="thumbnailUrl else defaultThumbnail"
         [style.background-image]="[repostRef, ref] | thumbnail | async"
         [style.border-radius]="thumbnailRadius">{{ thumbnailEmoji }}</div>
    <ng-template #defaultThumbnail>
      <div class="thumbnail"
           [class.default-thumbnail]="!thumbnailColor && !thumbnailEmoji"
           [style.background-color]="thumbnailColor"
           [style.border-radius.px]="thumbnailRadius">{{ thumbnailEmoji }}</div>
    </ng-template>
  </ng-container>
  <a class="card-title" [routerLink]="['/ref', ref.url]">{{ title }}</a>
</div>
<app-md *ngIf="currentText"
        [origin]="ref.origin || ''"
        [plugins]="ref.tags || []"
        [text]="currentText"></app-md>
