<div class="badges" *ngIf="badgeExts$ | async as badgeExts">
  <a class="tag badge" *ngFor="let e of badgeExts" [routerLink]="['/tag', store.view.ext!.tag + ':' + e.tag]">{{ e.name || e.tag }}</a>
</div>
<div class="row">
  <ng-container *ngIf="thumbnail">
    <div class="thumbnail"
         *ngIf="thumbnailUrl else defaultThumbnail"
         [style.background-image]="[repostRef, ref] | thumbnail | async"
         [style.border-radius]="thumbnailRadius">{{ thumbnailEmoji }}</div>
    <ng-template #defaultThumbnail>
      <div class="thumbnail"
           [class.default-thumbnail]="!thumbnailColor && !thumbnailEmoji"
           [style.background-color]="thumbnailColor"
           [style.border-radius.px]="thumbnailRadius">{{ thumbnailEmoji }}</div>
    </ng-template>
  </ng-container>
  <a class="card-title grow" [routerLink]="['/ref', ref.url]">{{ title }}</a>
</div>
<app-md *ngIf="currentText"
        [origin]="ref.origin || ''"
        [plugins]="ref.tags || []"
        [text]="currentText"></app-md>

<ng-template #cardMenu>
  <div class="context-menu" (click)="$event.stopPropagation()">
    <ng-container *ngIf="allBadgeExts$ | async as badgeExts">
      <span i18n>Toggle Badges</span>
      <ng-container *ngFor="let e of badgeExts">
        <div (click)=" toggleBadge(e.tag)">
          <input [id]="e.tag"
                 type="checkbox"
                 [checked]="ref.tags?.includes(e.tag)">
          <label [for]="e.tag" i18n>{{ e.name || e.tag }}</label>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ng-template>
