:host {
  flex-shrink: 0;
  display: block;
  max-height: 160px;
  user-select: none;
  scroll-padding: 40px;
  overflow: hidden;

  .kanban-card-container {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  .thumbnail {
    min-width: 48px;
    min-height: 48px;
  }

  .card-title {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  .badges {
    float: right;
    .badge {
      margin: 4px;
      line-height: 21px;
      display: block;
    }
  }
}
