<ng-container *mobxAutorun>
  <ng-container *ngIf="store.view.ref; else loading">
    <app-comment-reply *ngIf="admin.status.plugins.comment"
                       [to]="store.view.ref"
                       [top]="top"
                       quote=""
                       [tags]="replyTags"
                       [newComments$]="newComments$"></app-comment-reply>
    <div class="summary-box" *ngIf="comments">
      <h5 i18n>Comments:</h5>
      <app-thread-summary query="plugin/comment:!plugin/delete"
                          [source]="store.view.ref"
                          [newComments$]="newComments$"
                          [depth]="1"
                          [pageSize]="summaryItems"></app-thread-summary>
      <a *ngIf="moreComments" routerLink="./comments" queryParamsHandling="merge" class="load-more" i18n>more comments</a>
    </div>
    <div class="summary-box" *ngIf="threads">
      <h5 i18n>Threads:</h5>
      <app-thread-summary query="plugin/thread:!plugin/delete"
                          [source]="store.view.ref"
                          [newComments$]="newComments$"
                          [depth]="1"
                          [pageSize]="summaryItems"></app-thread-summary>
      <a *ngIf="threads > summaryItems" routerLink="./thread" queryParamsHandling="merge" class="load-more" i18n>load more</a>
    </div>
    <div class="summary-box" *ngIf="responses">
      <h5 i18n>Responses:</h5>
      <app-ref-list [page]="query.page"
                    [pageControls]="false"></app-ref-list>
      <a *ngIf="responses > summaryItems" routerLink="./responses" queryParamsHandling="merge" class="load-more" i18n>more responses</a>
    </div>
  </ng-container>
  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
</ng-container>
