<ng-container *mobxAutorun>
  <div class="padded list-container">

    <span></span>
    <div class="padded form-array">
      <button type="button" (click)="upload.click()" i18n-title title="Upload Refs and Exts" i18n>+ add files</button>
      <input #upload type="file"
             accept=".json,.zip,.png,.jpg,.jpeg,.gif,.svg,.webp,.3gp,.mpg,.mpeg,.mp4,.m4v,.m4p,.webm,.ogv,.m3u8,.mov,.mp3,.aac,.flac,.m4a,.ogg,.wav,.xls,.xlsx,.csv,.odx,.txt"
             (change)="store.submit.setFiles($any(upload.files))"
             multiple/>
      <ng-container *ngIf="!store.submit.empty">
        <button type="button" (click)="clear(upload)" i18n-title title="Clear" i18n>clear</button>
      </ng-container>
    </div>

    <ng-container *ngIf="!store.submit.empty">
      <span></span>
      <div class="padded form-array">
        <button type="button" (click)="push()" i18n-title title="Save" i18n>upload all</button>
        <label for="overwrite" i18n>Overwrite existing</label>
        <div><input id="overwrite" type="checkbox" [(ngModel)]="store.submit.overwrite"></div>
      </div>
    </ng-container>

    <ng-container *ngIf="store.submit.exts.length">
      <span>Exts: </span>
      <span></span>
      <ng-container *ngFor="let ext of store.submit.exts; let i = index">
        <div class="list-number">{{ i + 1 }}</div>
        <app-ext [ext]="ext"></app-ext>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="store.submit.refs.length">
      <span>Refs: </span>
      <span></span>
      <ng-container *ngFor="let ref of store.submit.refs; let i = index">
        <div class="list-number">{{ i + 1 }}</div>
        <app-ref [ref]="ref" [showToggle]="true"></app-ref>
      </ng-container>
    </ng-container>
  </div>

  <ng-container *ngFor="let e of serverErrors">
    <span><!-- Unexpected Error --></span>
    <div class="error">{{ e }}</div>
  </ng-container>
</ng-container>
