@if (sources()) {
  <div class="playlist-container">
    <h6>{{ title(current.get()?.url) }}</h6>
    <app-viewer [ref]="current.get()"
                [autoplay]="autoplay()"
                (playing)="autoplay.set(true)"
                (pausing)="autoplay.set(false)"
                (ended)="next(repeat())"></app-viewer>
    <div class="playlist-controls">
      <button type="button" (click)="back()">◀️</button>
      <button type="button" (click)="repeat.set(!repeat())" [class.selected]="repeat()">🔁</button>
      <button type="button" (click)="next()">▶️</button>
    </div>
  </div>
  @if (sources()!.content.length) {
    <details open>
      <summary i18n>Playlist</summary>
      <ol class="playlist-menu">
        @for (s of ref()!.sources; track s; let i = $index) {
          <li tabindex="0"
              [class.selected]="s === current.get()?.url"
              (keydown)="$event.key === 'Enter' && seek(i) || true"
              (click)="seek(i)">{{ title(s) }}</li>
        }
      </ol>
    </details>
  }
} @else {
  <app-loading></app-loading>
}
