<select #create (input)="addFilter($any(create.value))" i18n-title title="Filter">
  <option class="unselected">🪄️ filter</option>
  <optgroup *ngFor="let g of allFilters" [label]="g.label">
    <option *ngFor="let f of g.filters" [value]="f.filter">{{ f.label || f.filter }}</option>
  </optgroup>
</select>
<div class="form-array" *ngFor="let f of filters; let i=index">
  <select id="filter-{{ i }}" [ngModel]="filters[i]" (ngModelChange)="setFilter(i, $event)">
    <optgroup *ngFor="let g of allFilters" [label]="g.label">
      <option *ngFor="let f of g.filters" [value]="f.filter">{{ f.label || f.filter }}</option>
    </optgroup>

  </select>
  <button type="button" (click)="removeFilter(i)" i18n>&ndash;</button>
</div>
