<div class="link" [class.remote]="!local" [title]="template.config?.description || ''">
  <a *ngIf="template.tag" [routerLink]="['/tags', template.tag]">{{ template.name || template.tag }}</a>
  <a *ngIf="!template.tag" routerLink="/tags">{{ template.name || 'root' }}</a>
  <span *ngIf="!qualifiedTag" class="host" i18n>(root: "")</span>
  <span *ngIf="!template.tag && template.origin" class="host" i18n>(root: {{ template.origin }})</span>
  <span *ngIf="template.name && template.tag" class="host">({{ qualifiedTag }})</span>
  <span *ngIf="!template.tag && !template.name && template.origin" class="host">({{ template.origin }})</span>
</div>
<div class="stack">
  <div class="info">
    <span [title]="template.modified?.toISOString()" i18n>modified {{ template.modified?.fromNow() }}</span>
    <ng-container *ngIf="!local" i18n>
      on <a [routerLink]="['/tag', template.origin]">{{ template.origin }}</a>
    </ng-container>
  </div>
  <div class="actions">
    <a *ngIf="!local"
       class="fake-link"
       (click)="copy()" i18n>copy</a>
    <a *ngIf="local && store.account.admin else source"
       class="fake-link"
       (click)="editing = !editing" i18n>edit</a>
    <ng-template #source>
      <a class="fake-link"
         (click)="viewSource = !viewSource" i18n>source</a>
    </ng-template>
    <a class="fake-link"
       (click)="download()" i18n>download</a>
    <a *ngIf="!deleting && store.account.admin"
       class="fake-link"
       (click)="deleting = true" i18n>delete</a>
    <span *ngIf="deleting" class="delete-confirm" i18n>are you sure?
      <a class="fake-link" (click)="delete()">yes</a> /
      <a class="fake-link" (click)="deleting = false">no</a>
    </span>
  </div>
</div>

<form *ngIf="editing else showErrors" class="form" [formGroup]="editForm" (ngSubmit)="save()">

  <app-template-form [group]="editForm"></app-template-form>

  <ng-container *ngFor="let e of serverError">
    <span><!-- Unexpected Error --></span>
    <div class="error">{{ e }}</div>
  </ng-container>

  <span><!-- Buttons --></span>
  <span class="form-array right">
    <button type="submit" [disabled]="submitted && !editForm.valid" i18n>save</button>
    <button (click)="editing = false" i18n>cancel</button>
  </span>
</form>

<form *ngIf="viewSource" class="form" [formGroup]="editForm">
  <app-template-form [group]="editForm"></app-template-form>
</form>

<ng-template #showErrors>
  <ng-container *ngFor="let e of serverError">
    <div class="error">{{ e }}</div>
  </ng-container>
</ng-template>
