<ng-container *ngIf="store.account.admin">
  <button type="button"
          (click)="uploadFile.click()"
          i18n-title
          title="Upload Template"
          class="upload" i18n>+ upload dev template</button>

  <input #uploadFile
         type="file"
         class="upload"
         (change)="upload(uploadFile.files!)">

  <ng-container *ngFor="let e of serverError">
    <span><!-- Unexpected Error --></span>
    <div class="error">{{ e }}</div>
  </ng-container>
</ng-container>
<ng-container *ngIf="query.error?.status !== 403 else accessDenied">
  <app-template-list [page]="query.page"></app-template-list>
</ng-container>
<ng-template #accessDenied>
  <div class="error-403" i18n>Access Denied</div>
</ng-template>
