<ng-container *mobxAutorun>
  <form class="form"
        [formGroup]="editForm"
        (ngSubmit)="save()"
        [appLimitWidth]="form?.fillPopover?.nativeElement || form?.fillSidebar?.nativeElement"
        [limitSibling]="true">

    @if (store.local.selectedUserTag || config.electron || isDevMode()) {
      <label for="change-user" i18n>Change User:</label>
      <app-user-tag-selector id="change-user"></app-user-tag-selector>
      <hr><hr>
    }
    <app-ext-form #form [group]="editForm"></app-ext-form>

    @for (e of serverError; track e) {
      <span><!-- Unexpected Error --></span>
      <div class="error">{{ e }}</div>
    }

    <span><!-- Buttons --></span>
    <span class="buttons right">
      @if (editing) {
        <app-loading [inline]="true"></app-loading>
      }
      <button type="submit" [disabled]="editing || submitted && !editForm.valid" i18n>Save</button>
    </span>
  </form>
</ng-container>
