@import 'maplibre-gl/dist/maplibre-gl.css';

.location-map {
  display: block;
  width: 100%;
  height: 300px;
  margin-top: 4px;
  border-radius: 4px;
  overflow: hidden;

  mgl-map {
    display: block;
    width: 100%;
    height: 100%;
  }

  .maplibregl-canvas-container.maplibregl-interactive {
    cursor: crosshair;
  }
}
