<ng-container [formGroup]="group">
  <label for="tag" i18n>Tag:</label>
  <input id="tag" type="text" formControlName="tag" [attr.disabled]="true">

  <label for="title" i18n>Name:</label>
  <input id="title" type="text" [formControl]="name">
  <span><!-- Title Errors --></span>
  <div>
    <div class="error" *ngIf="name.touched && name.errors?.['required']" i18n>
      Name must not be blank.
    </div>
  </div>

  <ng-container *ngIf="!configForm?.length">
    <label for="config" i18n>Config:</label>
    <app-json #configJson
              id="config"
              fieldName="config"
              [group]="group"></app-json>
  </ng-container>
  <formly-form *ngIf="configForm?.length"
               class="nested-form"
               [form]="config"
               [fields]="configForm"></formly-form>

  <ng-container *ngIf="!form?.length">
    <label for="defaults" i18n>Defaults:</label>
    <app-json #defaultsJson
              id="defaults"
              fieldName="defaults"
              [group]="group"></app-json>
  </ng-container>
  <formly-form *ngIf="form?.length"
               class="nested-form"
               [form]="defaults"
               [fields]="form"></formly-form>

  <label for="schema" i18n>Schema:</label>
  <app-json #schemaJson
            id="schema"
            fieldName="schema"
            [group]="group"></app-json>

</ng-container>
