<ng-container [formGroup]="group">
  <label for="tag">Tag:</label>
  <input id="tag" type="text" formControlName="tag" [attr.disabled]="true">

  <label for="title">Name:</label>
  <input id="title" type="text" [formControl]="name">
  <span><!-- Title Errors --></span>
  <div>
    <div class="error" *ngIf="name.touched && name.errors?.['required']">
      Name must not be blank.
    </div>
  </div>

  <label for="config">Config:</label>
  <app-json id="config"
            fieldName="config"
            [group]="group"></app-json>

  <label for="defaults">Defaults:</label>
  <app-json id="defaults"
            fieldName="defaults"
            [group]="group"></app-json>

  <label for="schema">Schema:</label>
  <app-json id="schema"
            fieldName="schema"
            [group]="group"></app-json>

</ng-container>
