:host {
  margin: 0;
}

details {
  text-align: right;
  user-select: none;
  display: flex;
  flex-direction: column;

  summary {
    .bulk-progress {
      display: inline-block;
      width: 100px;
      margin-left: 8px;
      vertical-align: middle;
    }
  }

  * {
    display: block;
  }
}
