<details class="advanced">
  <summary><span i18n>Bulk tools</span> <app-loading *ngIf="batchRunning"></app-loading></summary>
  <span *ngIf="empty" i18n>no results</span>
  <ng-container *ngIf="!empty">
    <span class="fake-link" (click)="download()" i18n>download</span>
    <ng-container *ngIf="type === 'ref'">
      <a class="fake-link" (click)="toggle()" i18n>toggle</a>
      <a *ngIf="store.account.user" class="fake-link" routerLink="/submit" [queryParams]="{source: urls}" i18n>reply</a>
      <app-inline-tag [action]="tag$" i18n>tag</app-inline-tag>
      <app-inline-url [action]="thumbnail$" [value]="defaultThumbnail" i18n>thumbnail</app-inline-url>
      <app-confirm-action [action]="scrape$" i18n>scrape</app-confirm-action>
      <app-confirm-action [action]="copy$" i18n>copy</app-confirm-action>
    </ng-container>
    <app-confirm-action [action]="delete$" i18n>delete</app-confirm-action>
    <ng-container *ngIf="type === 'ref'">
      <ng-container *ngIf="admin.getPlugin('plugin/invoice')">
        <a routerLink="/submit/invoice" [queryParams]="{url: urls}" i18n>invoice</a>
      </ng-container>
      <ng-container *ngFor="let a of actions">
        <a class="fake-link" (click)="doAction(a)">{{ label(a) }}</a>
      </ng-container>
    </ng-container>
  </ng-container>

  @for (e of serverError; track e) {
    <div class="error">{{ e }}</div>
  }
</details>
