:host {
  margin: 0;
}

details {
  width: 100%;
  text-align: right;
  user-select: none;
  display: flex;
  flex-direction: column;

  summary {
    app-loading {
      position: absolute;
    }
  }

  * {
    display: block;
  }
}
