
<button *ngIf="store.account.sysAdmin"
        (click)="backup()"
        i18n-title
        title="Create Backup"
        class="backup" i18n>+ backup</button>

<button *ngIf="!uploading"
        (click)="uploadFile.click()"
        i18n-title
        title="Upload Backup"
        class="upload" i18n>+ upload</button>
<app-loading *ngIf="uploading"></app-loading>
<input #uploadFile
       type="file"
       class="upload"
       (change)="upload(uploadFile?.files!)">

<ng-container *ngFor="let e of serverError">
  <span><!-- Unexpected Error --></span>
  <div class="error">{{ e }}</div>
</ng-container>

<app-backup-list [list]="list"></app-backup-list>
