input[type=file] {
  display: none;
}

app-loading {
  display: inline-block;
  max-height: 18px;
  margin-top: -32px
}

hr {
  margin: 0;
}

.delete-confirm {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 400px;
}
