services:
  cypress:
    build: .
    profiles:
      - ci
    depends_on:
      client:
        condition: service_started
      repl-client:
        condition: service_started
      web:
        condition: service_healthy
      repl-web:
        condition: service_healthy
    network_mode: host
    environment:
      CYPRESS_DEFAULT_COMMAND_TIMEOUT: 30000
      CYPRESS_REQUEST_TIMEOUT: 10000
      CYPRESS_baseUrl: http://localhost:8080
      CYPRESS_mainApi: http://localhost:8081
      CYPRESS_mainApiProxy: http://web
      CYPRESS_replUrl: http://localhost:8082
      CYPRESS_replApi: http://localhost:8083
      CYPRESS_replApiProxy: http://repl-web
      CYPRESS_reporter: cypress-mochawesome-reporter
      CYPRESS_reporterOptions_saveJson: true
      CYPRESS_video: true
#      ELECTRON_ENABLE_LOGGING: 1
    working_dir: /e2e
    volumes:
      - ../:/e2e
  client:
    build: ..
#    image: ghcr.io/cjmalloy/jasper-ui:master
    ports:
      - 8080:80
    environment:
      NGINX_ENTRYPOINT_QUIET_LOGS: 1
      JASPER_API: http://localhost:8081
      CSP_DEFAULT_SRC: http://localhost:8081 ws://localhost:8081
      CSP_CONNECT_SRC: http://localhost:8081 ws://localhost:8081
      JASPER_TITLE: CYPRESS
    depends_on:
      - web
  web:
    image: ghcr.io/cjmalloy/jasper:pr-508
#    build: ../../jasper
    ports:
      - 8081:80
    healthcheck:
      test: "curl -f http://localhost/management/health/readiness"
    environment:
      SPRING_LOGGING_LEVEL_ROOT: WARN
      SPRING_PROFILES_ACTIVE: prod,jwt,storage
      SPRING_DATASOURCE_URL: jdbc:postgresql://db/jasper
      SPRING_DATASOURCE_USERNAME: jasper
      SPRING_DATASOURCE_PASSWORD: jasper
      SERVER_PORT: 80
      JASPER_CORS_ALLOWED_ORIGINS: 'http://localhost:8080,http://localhost:4200'
      JASPER_CORS_ALLOWED_METHODS: '*'
      JASPER_CORS_ALLOWED_HEADERS: '*'
      JASPER_CORS_EXPOSED_HEADERS: 'Authorization,Link,X-Total-Count'
      JASPER_CORS_ALLOW_CREDENTIALS: true
      JASPER_CORS_MAX_AGE: 1800
      JASPER_OVERRIDE_SECURITY_MODE: 'jwt'
      JASPER_OVERRIDE_SECURITY_CLIENT_ID: ''
      JASPER_OVERRIDE_SECURITY_BASE64_SECRET: 'MjY0ZWY2ZTZhYmJhMTkyMmE5MTAxMTg3Zjc2ZDlmZWUwYjk0MDgzODA0MDJiOTgyNTk4MmNjYmQ4Yjg3MmVhYjk0MmE0OGFmNzE2YTQ5ZjliMTEyN2NlMWQ4MjA5OTczYjU2NzAxYTc4YThkMzYxNzdmOTk5MTIxODZhMTkwMDM='
      JASPER_HEAP: 256m
    depends_on:
      - db
  db:
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: jasper
      POSTGRES_PASSWORD: jasper
      POSTGRES_DB: jasper
  repl-client:
    build: ..
#    image: ghcr.io/cjmalloy/jasper-ui:master
    ports:
      - 8082:80
    environment:
      NGINX_ENTRYPOINT_QUIET_LOGS: 1
      JASPER_API: http://localhost:8083
      CSP_DEFAULT_SRC: http://localhost:8083 ws://localhost:8083
      CSP_CONNECT_SRC: http://localhost:8083 ws://localhost:8083
      JASPER_TITLE: REPL
    depends_on:
      - repl-web
  repl-web:
    image: ghcr.io/cjmalloy/jasper:pr-508
#    build: ../../jasper
    ports:
      - 8083:80
    healthcheck:
      test: "curl -f http://localhost/management/health/readiness"
    environment:
      SPRING_LOGGING_LEVEL_ROOT: WARN
      SPRING_PROFILES_ACTIVE: prod,jwt
      SPRING_DATASOURCE_URL: jdbc:postgresql://repl-db/jasper
      SPRING_DATASOURCE_USERNAME: jasper
      SPRING_DATASOURCE_PASSWORD: jasper
      SERVER_PORT: 80
      JASPER_CORS_ALLOWED_ORIGINS: 'http://localhost:8082'
      JASPER_CORS_ALLOWED_METHODS: '*'
      JASPER_CORS_ALLOWED_HEADERS: '*'
      JASPER_CORS_EXPOSED_HEADERS: 'Authorization,Link,X-Total-Count'
      JASPER_CORS_ALLOW_CREDENTIALS: true
      JASPER_CORS_MAX_AGE: 1800
      JASPER_LOCAL_ORIGIN: '@repl'
      JASPER_DEFAULT_ROLE: ROLE_ADMIN # TODO: create remote user instead
      JASPER_OVERRIDE_SERVER_WEB_ORIGINS: '@repl'
      JASPER_OVERRIDE_SECURITY_MODE: 'jwt'
      JASPER_OVERRIDE_SECURITY_CLIENT_ID: ''
      JASPER_OVERRIDE_SECURITY_BASE64_SECRET: 'MjY0ZWY2ZTZhYmJhMTkyMmE5MTAxMTg3Zjc2ZDlmZWUwYjk0MDgzODA0MDJiOTgyNTk4MmNjYmQ4Yjg3MmVhYjk0MmE0OGFmNzE2YTQ5ZjliMTEyN2NlMWQ4MjA5OTczYjU2NzAxYTc4YThkMzYxNzdmOTk5MTIxODZhMTkwMDM='
      JASPER_HEAP: 256m
    depends_on:
      - repl-db
  repl-db:
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: jasper
      POSTGRES_PASSWORD: jasper
      POSTGRES_DB: jasper
