<ng-container *mobxAutorun>
  <ng-container *ngIf="store.view.ref; else loading">
    <app-comment-reply [to]="store.view.ref"
                       [top]="top"
                       [tags]="mailboxes"
                       [newComments$]="newComments$"></app-comment-reply>
    <app-comment-list [source]="store.view.ref"
                      [newComments$]="newComments$"
                      [depth]="depth"></app-comment-list>
    <span class="fake-link load-more"
          *ngIf="thread.hasMore"
          (click)="thread.loadMore()" i18n>
      load more comments
    </span>
  </ng-container>
  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
</ng-container>
