<div class="list-container" *ngIf="!graph">
  <ng-container *ngFor="let ref of pinned">
    <div class="list-number">&bullet;</div>
    <app-ref class="pinned"
             [ref]="ref"
             [showToggle]="true"
             [expanded]="false"></app-ref>
  </ng-container>
  <ng-container *ngFor="let ref of page?.content; let i = index">
    <div class="list-number">{{ i + (page?.number || 0) * (page?.size || 0) + 1 }}</div>
    <app-ref [ref]="ref"
             [showToggle]="true"
             [expanded]="false"></app-ref>
  </ng-container>
</div>
<app-force-directed *ngIf="graph && page"
                    [tag]="tag"
                    [content]="page.content"></app-force-directed>
<app-loading *ngIf="!page"></app-loading>
<app-page-controls *ngIf="page && !page.empty && pageControls"
                   [page]="page"></app-page-controls>

<p class="no-results" *ngIf="page && page.empty">
  {{ emptyMessage }}
</p>
