<div class="link">
  <a *ngIf="tag.tag" [routerLink]="['/tag', qualifiedTag]">{{ tag.name || tag.tag }}</a>
  <a *ngIf="!tag.tag" routerLink="/all">{{ tag.name || 'root' }}</a>
  <span *ngIf="!tag.tag" class="host">(root: "")</span>
  <span *ngIf="tag.name && tag.tag" class="host">({{ tag.tag + tag.origin }})</span>
  <span *ngIf="!tag.tag && !tag.name && tag.origin" class="host">({{ tag.origin }})</span>
</div>
<div class="stack">
  <div class="info">
    <span [title]="tag.modified?.toISOString()">modified {{ tag.modified?.fromNow() }}</span>
  </div>
  <div class="actions" *ngIf="!tag.origin">
    <a *ngIf="writeAccess$ | async"
       class="fake-link"
       (click)="editing = !editing">edit</a>
    <a *ngIf="!deleting && (writeAccess$ | async)"
       class="fake-link"
       (click)="deleting = true">delete</a>
    <span *ngIf="deleting" class="delete-confirm">are you sure?
      <a class="fake-link" (click)="delete()">yes</a> /
      <a class="fake-link" (click)="deleting = false">no</a>
    </span>
  </div>
</div>

<form *ngIf="editing" class="form" [formGroup]="editForm" (ngSubmit)="save()">

  <label for="name">Name:</label>
  <input type="text" id="name" formControlName="name">

  <ng-container *ngFor="let e of serverError">
    <span><!-- Unexpected Error --></span>
    <div class="error">{{ e }}</div>
  </ng-container>

  <span><!-- Buttons --></span>
  <span class="form-array">
    <button type="submit" [disabled]="submitted && !editForm.valid">save</button>
    <button (click)="editing = false">cancel</button>
  </span>
</form>

