.kanban {
  display: grid;
  overflow-x: auto;
  max-width: 100vw;

  .column-title, .swim-lane-title {
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    user-select: none;
    min-width: 180px;
  }

  .column-title {
    max-width: 300px;
    white-space: nowrap;
  }

  .swim-lane-title {
    min-height: 100px;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    text-orientation: sideways;
  }
}

.kanban-header {
  position: relative;
  min-height: 60px;

  .kanban-options {
    display: flex;
    flex-direction: column;
    h2 {
      margin: 0;
      flex-grow: 1;
      text-align: center;
    }
    .disable-swim-lanes {
      align-self: flex-end;
    }
  }

  .kanban-remove {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    transform: scaleY(0);
    transition: transform 250ms linear 1s;
  }

  &.cdk-drop-list-receiving,
  &.cdk-drop-list-dragging {
    .kanban-remove {
      transition: transform 250ms linear;
      transform: scaleY(1);
    }
  }
}
