<ng-container [formGroup]="group">
  <ng-container [formArrayName]="fieldName">
    <button type="button" (click)="addUser()" i18n>+ Add another {{ label }}</button>

    <ng-container *ngFor="let c of users.controls; let i=index">
      <div class="form-array">
        <label for="users-{{ fieldName }}-{{ i }}" i18n>🏷️</label>
        <div class="grow">
          <input id="users-{{ fieldName }}-{{ i }}"
                 size="10"
                 type="email"
                 autocorrect="off"
                 autocapitalize="none"
                 [appAutofocus]="i === autofocus"
                 (blur)="!$any($event.target).value && removeUser(i)"
                 (appInputDone)="addUser()"
                 [last]="i === users.controls.length - 1"
                 [formControl]="$any(c)">
        </div>
        <button type="button" (click)="removeUser(i)" i18n>&ndash;</button>
      </div>
      <div class="error" *ngIf="users.at(i).touched && users.at(i).errors?.['pattern']" i18n>
        User tags must start with the "user/" or "_user/" prefix.
        Tags must be lower case letters, numbers, periods and forward slashes.
        Must not or contain two forward slashes or periods in a row.<br>
        (i.e. "science", "my/tag", or "_my/private/tag")
      </div>
    </ng-container>
  </ng-container>
</ng-container>
