<ng-container [formGroup]="group">

  <label for="tag" i18n>Tag:</label>
  <input id="tag"
         type="email"
         autocorrect="off"
         autocapitalize="none"
         formControlName="tag">
  <span><!-- Tag Errors --></span>
  <div>
    <div class="error" *ngIf="tag.touched && tag.errors?.['pattern']" i18n>
      User tags must start with the "+user/" or "_user/" prefix.
      Tags must be lower case letters and forward slashes. Must not start with a slash or contain two forward slashes in a row. Private
      tags start with an underscore.<br>
      (i.e. "+user/alice", "_user/bob", or "+user/department/charlie")
    </div>
    <div class="error" *ngIf="tag.touched && tag.errors?.['required']" i18n>
      Tag must not be blank.
    </div>
  </div>

  <label for="name" i18n>Name:</label>
  <input id="name" type="text" formControlName="name">

  <label for="role" i18n>Role:</label>
  <select id="role" formControlName="role">
    <option value="ROLE_ADMIN" i18n>admin</option>
    <option value="ROLE_MOD" i18n>mod</option>
    <option value="ROLE_EDITOR" i18n>editor</option>
    <option value="ROLE_USER" i18n>user</option>
    <option value="ROLE_VIEWER" i18n>viewer</option>
  </select>

  <label for="readAccess" i18n>Read Access:</label>
  <app-tags #readAccess
            id="readAccess"
            fieldName="readAccess"
            [group]="group"></app-tags>

  <label for="writeAccess" i18n>Write Access:</label>
  <app-tags #writeAccess
            id="writeAccess"
            fieldName="writeAccess"
            [group]="group"></app-tags>

  <label for="tagReadAccess" i18n>Tag Read Access:</label>
  <app-tags #tagReadAccess
            id="tagReadAccess"
            fieldName="tagReadAccess"
            [group]="group"></app-tags>

  <label for="tagWriteAccess" i18n>Tag Write Access:</label>
  <app-tags #tagWriteAccess
            id="tagWriteAccess"
            fieldName="tagWriteAccess"
            [group]="group"></app-tags>

</ng-container>
