:host {
  display: flex;
  & > :first-child {
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
  }
}

div {
  align-self: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.breadcrumbs {
  .tag {
    white-space: nowrap;
    line-height: 147%;
  }
  .op {
    word-wrap: break-word;
    font-family: KaTeX_Main, "Times New Roman", serif;
    font-size: 120%;
  }
}
