:host {
  display: flex;
  padding: 2px;
  & > :first-child {
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 4px;
  }
}
.breadcrumbs {
  align-self: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: text;
  .tag {
    white-space: nowrap;
    line-height: 147%;
  }
  .op {
    word-wrap: break-word;
    font-family: KaTeX_Main, "Times New Roman", serif;
    font-size: 120%;
  }
}
