<ng-container [formGroup]="group">

  <label for="tag">Tag:</label>
  <input id="tag" type="text" formControlName="tag" [attr.disabled]="true">

  <label for="name">Name:</label>
  <input id="name" type="text" formControlName="name">

  <ng-container *ngIf="root"
                [formGroup]="config">
    <label for="sidebar">Sidebar:</label>
    <div class="editor-preview">
      <textarea id="sidebar" [formControl]="sidebar"></textarea>
      <app-md *ngIf="sidebar.value"
              [text]="sidebar.value"
              class="expand"></app-md>
    </div>

    <label for="pinned">Pinned:</label>
    <app-links id="pinned"
               label="pinned link"
               [group]="config"
               fieldName="pinned"></app-links>

    <label for="themes">Custom Themes:</label>
    <app-themes id="themes"
                [group]="config"
                fieldName="themes"></app-themes>

    <label for="theme">Tag Page Theme:</label>
    <select id="theme" [formControl]="theme">
      <option [ngValue]="undefined">default</option>
      <option *ngFor="let t of themeValues" [ngValue]="t">{{ t }}</option>
    </select>
  </ng-container>

  <ng-container *ngIf="user"
                [formGroup]="config">
    <label for="subscriptions">Subscriptions:</label>
    <app-queries id="subscriptions"
                 label="subscription"
                 [group]="config"
                 fieldName="subscriptions"></app-queries>

    <label for="bookmarks">Bookmarks:</label>
    <app-queries id="bookmarks"
                 label="bookmark"
                 [group]="config"
                 fieldName="bookmarks"></app-queries>

    <label for="userThemes">User Themes:</label>
    <app-themes id="userThemes"
                [group]="config"
                fieldName="userThemes"></app-themes>

    <label for="userTheme">Theme Override:</label>
    <select id="userTheme" formControlName="userTheme">
      <option [ngValue]="undefined">default</option>
      <option *ngFor="let t of userThemeValues" [ngValue]="t">{{ t }}</option>
    </select>
  </ng-container>

  <ng-container *ngIf="queue"
                [formGroup]="config">
    <label for="maxAge">Max Age:</label>
    <input type="text" id="maxAge" formControlName="maxAge">

    <label for="bounty">Bounty:</label>
    <input type="text" id="bounty" formControlName="bounty">

    <label for="approvers">Approvers:</label>
    <app-users id="approvers"
               [group]="config"
               label="approver"
               fieldName="approvers"></app-users>
  </ng-container>

  <ng-container *ngIf="kanban"
                [formGroup]="config">
    <label for="columns">Columns:</label>
    <app-qtags id="columns"
               [group]="config"
               label="column"
               fieldName="columns"></app-qtags>

    <label for="showNoColumn">Extra column for untagged Refs:</label>
    <div>
      <input id="showNoColumn" type="checkbox" formControlName="showNoColumn">
    </div>
    <ng-container *ngIf="config.get('showNoColumn')!.value">
      <label for="noColumnTitle">Extra Column Title:</label>
      <input type="text" id="noColumnTitle" formControlName="noColumnTitle">
    </ng-container>

    <label for="swimLanes">Swim Lanes:</label>
    <app-qtags id="swimLanes"
               [group]="config"
               label="swim lane"
               fieldName="swimLanes"></app-qtags>

    <label for="showNoSwimLane">Extra swim lane for untagged Refs:</label>
    <div>
      <input id="showNoSwimLane" type="checkbox" formControlName="showNoSwimLane">
    </div>
    <ng-container *ngIf="config.get('showNoSwimLane')!.value">
      <label for="noSwimLaneTitle">Extra Swim Lane Title:</label>
      <input type="text" id="noSwimLaneTitle" formControlName="noSwimLaneTitle">
    </ng-container>
  </ng-container>

  <ng-container *ngIf="blog"
                [formGroup]="config">
    <label for="filterTags">Only show selected tags:</label>
    <div>
      <input id="filterTags" type="checkbox" formControlName="filterTags" >
    </div>
    <ng-container *ngIf="config.get('filterTags')!.value">
      <label for="tags">Tags:</label>
      <app-qtags id="tags"
                 [group]="config"></app-qtags>
    </ng-container>
  </ng-container>

  <formly-form *ngIf="form"
               class="nested-form"
               [form]="config"
               [fields]="form"
               [options]="options"></formly-form>
</ng-container>
