details {
  grid-column: 1 / 3;
}

details[open] {
  margin-top: 8px;
  summary {
    margin-bottom: 8px;
  }
}

app-ref {
  max-width: 100%;
  margin: 4px;
}

.default-sort,
.default-filter {
  display: flex;
  flex-direction: column;
  gap: 8px;

  > select,
  .controls {
    width: 100%;
  }

  .controls select {
    flex: 1;
  }
}

.default-filter-date-range {
  display: flex;
  gap: 8px;

  input {
    flex: 1;
  }
}

.default-filter-row {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
