<ng-container [formGroup]="group">

  <label for="tag" i18n>Tag:</label>
  <div class="form-array">
    <input id="tag" type="text" formControlName="tag">
    <button *ngIf="showClear" type="button" (click)="clear.next()" i18n-title title="New Ext" i18n>🆑️</button>
  </div>

  <label for="name" i18n>Name:</label>
  <input id="name" type="text" formControlName="name">

  <formly-form *ngIf="form"
               class="nested-form"
               [form]="config"
               [fields]="form"
               [options]="options"></formly-form>

  <ng-container [formGroup]="config">

    <ng-container *ngIf="columns">
      <label for="columns" i18n>Columns:</label>
      <app-qtags id="columns"
                 [group]="config"
                 label="column"
                 fieldName="columns"></app-qtags>
     </ng-container>

    <ng-container *ngIf="showNoColumn">
      <label for="showNoColumn" i18n>Extra column for untagged Refs:</label>
      <div>
        <input id="showNoColumn" type="checkbox" formControlName="showNoColumn">
      </div>
      <ng-container *ngIf="showNoColumn.value">
        <label for="noColumnTitle" i18n>Extra Column Title:</label>
        <input type="text" id="noColumnTitle" formControlName="noColumnTitle">
      </ng-container>
    </ng-container>

    <ng-container *ngIf="swimLanes">
      <label for="swimLanes" i18n>Swim Lanes:</label>
      <app-qtags id="swimLanes"
                 [group]="config"
                 label="swim lane"
                 fieldName="swimLanes"></app-qtags>
    </ng-container>

    <ng-container *ngIf="showNoSwimLane">
      <label for="showNoSwimLane" i18n>Extra swim lane for untagged Refs:</label>
      <div>
        <input id="showNoSwimLane" type="checkbox" formControlName="showNoSwimLane">
      </div>
      <ng-container *ngIf="config.get('showNoSwimLane')!.value">
        <label for="noSwimLaneTitle" i18n>Extra Swim Lane Title:</label>
        <input type="text" id="noSwimLaneTitle" formControlName="noSwimLaneTitle">
      </ng-container>
    </ng-container>

    <ng-container *ngIf="userThemes">
      <label for="userTheme" i18n>All Theme Override:</label>
      <div>
        <select id="userTheme" formControlName="userTheme">
          <option [ngValue]="undefined" i18n>default</option>
          <option *ngFor="let t of userThemeValues" [ngValue]="t">{{ t }}</option>
        </select>

        <details *ngIf="themes" class="advanced mini">
          <summary i18n-title title="Custom User Themes"><span></span></summary>
          <app-themes id="userThemes"
                      [group]="config"
                      fieldName="userThemes"></app-themes>
        </details>
      </div>
    </ng-container>

    <ng-container *ngIf="theme">
      <label for="theme" i18n>Tag Page Theme:</label>
      <div>
        <select id="theme" [formControl]="theme">
          <option [ngValue]="undefined" i18n>default</option>
          <option *ngFor="let t of themeValues" [ngValue]="t">{{ t }}</option>
        </select>

        <details *ngIf="themes" class="advanced mini">
          <summary i18n-title title="Custom Themes"><span></span></summary>
          <app-themes id="themes"
                      [group]="config"
                      fieldName="themes"></app-themes>
        </details>
      </div>
    </ng-container>

    <ng-container *ngIf="pinned">
      <label for="pinned" i18n>Pinned:</label>
      <app-links id="pinned"
                 label="pinned link"
                 [group]="config"
                 fieldName="pinned"></app-links>
    </ng-container>

    <ng-container *ngIf="sidebar">
      <label for="sidebar" i18n>Sidebar:</label>
      <div #fill>
        <app-editor id="sidebar"
                    [fillWidth]="fill"
                    [control]="sidebar"></app-editor>
      </div>
    </ng-container>

    <ng-container *ngIf="modmail && inbox">
      <label for="modmail" i18n>Enable Modmail:</label>
      <div>
        <input id="modmail" type="checkbox" [formControl]="modmail">
        <a class="tag" [routerLink]="['/tag', inbox]">{{ inbox }}</a>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="advancedForm?.length">
    <span><!-- Advanced --></span>
    <details class="advanced">
      <summary><span i18n>Advanced</span></summary>
      <formly-form class="form"
                   [form]="config"
                   [fields]="advancedForm!"
                   [options]="options"></formly-form>
    </details>
  </ng-container>

</ng-container>
