<iframe #iframe
        *ngIf="expandPlugins.includes('plugin/embed')"
        [width]="ref.plugins?.['plugin/embed']?.width || 560"
        [height]="ref.plugins?.['plugin/embed']?.height || 315"
        [src]="embed | embed | safe"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
<div *ngIf="expandPlugins.includes('plugin/image')"
     class="image-expand"
     [style.background-image]="cssUrl(ref.plugins?.['plugin/image']?.url || ref.url)"
     appResize></div>
<video *ngIf="expandPlugins.includes('plugin/video')"
       class="video-expand"
       autoplay
       controls
       appResize>
  <source [src]="ref.plugins?.['plugin/video']?.url || ref.url">
</video>
<audio *ngIf="expandPlugins.includes('plugin/audio')"
       class="audio-expand"
       autoplay
       controls>
  <source [src]="ref.plugins?.['plugin/audio']?.url || ref.url">
</audio>
<qrcode *ngIf="expandPlugins.includes('plugin/qr')"
        [qrdata]="ref.plugins?.['plugin/qr']?.url || ref.url"
        [width]="qrWidth"
        [errorCorrectionLevel]="'M'"
        appResize></qrcode>
<app-md *ngIf="ref?.comment"
        class="expand"
        [text]="ref.comment!"
        [plugins]="ref.tags"></app-md>
