<div class="link" [class.remote]="!local">
  <a [routerLink]="['/tag', qualifiedTag]">{{ ext.name || ext.tag }}</a>
  <span *ngIf="ext.name" class="host">({{ qualifiedTag }})</span>
  <span *ngIf="!ext.name && ext.origin" class="host">({{ ext.origin }})</span>
</div>
<div class="stack">
  <div class="info">
    <ng-container *ngIf="ext.modified else notSubmitted">
      <span [title]="ext.modified.toISOString()" i18n>modified {{ ext.modified.fromNow() }}</span>
    </ng-container>
    <ng-template #notSubmitted>
      <span i18n>not found</span>
    </ng-template>
    <ng-container *ngFor="let icon of icons">
      <span class="icon" (click)="clickIcon(icon)" [title]="icon.tag">{{ icon.config!.view! }}</span>
    </ng-container>
    <ng-container *ngIf="!local" i18n>
      on <a [routerLink]="['/tag', ext.origin]">{{ ext.origin }}</a>
    </ng-container>
  </div>
  <div class="actions">
    <a *ngIf="parent"
       [routerLink]="['/tags', parent]" i18n>parent</a>
    <a [routerLink]="['/tags', ext.tag]" i18n>tags</a>
    <ng-container *ngIf="!ext.upload">
      <a *ngIf="!local"
         class="fake-link"
         (click)="copy()" i18n>copy</a>
      <a *ngIf="local && writeAccess else source"
         class="fake-link"
         (click)="editing = !editing" i18n>edit</a>
      <ng-template #source>
        <a *ngIf="!local"
           class="fake-link"
           (click)="editing = !editing" i18n>diff</a>
        <a *ngIf="local"
           class="fake-link"
           (click)="viewSource = !viewSource" i18n>source</a>
      </ng-template>
      <a class="fake-link"
         (click)="download()" i18n>download</a>
      <a *ngIf="!deleting && (store.account.sysMod || writeAccess)"
         class="fake-link"
         (click)="deleting = true" i18n>delete</a>
      <span *ngIf="deleting" class="delete-confirm" i18n>are you sure?
      <a class="fake-link" (click)="delete()">yes</a> /
      <a class="fake-link" (click)="deleting = false">no</a>
    </span>
    </ng-container>
    <ng-container *ngIf="store.account.user && ext.upload">
      <a class="fake-link" (click)="upload()" i18n>save</a>
      <a class="fake-link"
         (click)="editing = !editing" i18n>edit</a>
      <a class="fake-link"
         (click)="download()" i18n>download</a>
      <a *ngIf="!deleting"
         class="fake-link"
         (click)="deleting = true" i18n>remove</a>
      <span *ngIf="deleting" class="delete-confirm" i18n>are you sure?
        <a class="fake-link" (click)="(deleting = false) && store.submit.removeExt(ext)">yes</a> /
        <a class="fake-link" (click)="deleting = false">no</a>
      </span>
    </ng-container>
  </div>
</div>

<form *ngIf="editing else showErrors" class="form" [formGroup]="editForm" (ngSubmit)="save()">

  <app-ext-form [group]="editForm"></app-ext-form>

  <ng-container *ngFor="let e of serverError">
    <span><!-- Unexpected Error --></span>
    <div class="error">{{ e }}</div>
  </ng-container>

  <span><!-- Buttons --></span>
  <span class="form-array right">
    <button type="submit" [disabled]="submitted && !editForm.valid" i18n>save</button>
    <button (click)="editing = false" i18n>cancel</button>
  </span>
</form>

<form *ngIf="viewSource" class="form" [formGroup]="editForm">
  <app-ext-form [group]="editForm"></app-ext-form>
</form>

<ng-template #showErrors>
  <ng-container *ngFor="let e of serverError">
    <div class="error">{{ e }}</div>
  </ng-container>
</ng-template>
