<ng-container *ngIf="ref">
  <app-ref *ngIf="repost"
           class="expand"
           [fetchRepost]="false"
           [showToggle]="true"
           [expandInline]="true"
           [ref]="repost"></app-ref>
  <app-lens *ngIf="page"
            [page]="page"
            [pageControls]="false"
            [tag]="lensQuery"
            [ext]="ext"
            [cols]="lensCols"
            [sort]="lensSort"
            [filter]="lensFilter"
            [search]="lensSearch"></app-lens>
  <div *ngIf="currentTags.includes('plugin/embed')"
       class="embed-container"
       [class.twitter]="twitter">
    <app-loading *ngIf="!embedReady"></app-loading>
    <iframe #iframe
            class="embed-expand"
            [class.ready]="embedReady"
            src="about:blank"
            frameborder="0"
            scrolling="yes"
            allow="fullscreen; accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
  </div>
  <div *ngIf="imageUrl"
       class="image-expand"
       [appImageDim]="imageUrl"
       [defaultWidth]="ref.plugins?.['plugin/image']?.width"
       [defaultHeight]="ref.plugins?.['plugin/image']?.height"
       [grid]="disableResize"
       [appResize]="disableResize"></div>
  <video *ngIf="videoUrl"
         #video
         class="video-expand"
         autoplay
         controls
         [appResize]="disableResize">
    <source [src]="videoUrl">
  </video>
  <audio *ngIf="audioUrl"
         class="audio-expand"
         autoplay
         controls>
    <source [src]="audioUrl">
  </audio>
  <app-qr *ngIf="qrUrl"
          class="qr-expand"
          [url]="qrUrl"
          [appResize]="disableResize"></app-qr>
</ng-container>
<app-md *ngIf="currentText"
        class="expand"
        [origin]="ref?.origin || ''"
        [text]="currentText"
        [plugins]="currentTags"></app-md>
<embed *ngIf="pdfUrl && !currentText"
       type="application/pdf"
       [src]="pdfUrl | safe"
       [style.width]="embedWidth"
       [style.height]="embedHeight">
<ng-container *ngFor="let ui of uis">
  <div [appPluginUi]="ui"
       [appMdPost]
       [ref]="ref!"></div>
</ng-container>
