:host {
  scroll-padding: 20px;
  outline: none;
}
* {
  display: block;
}
iframe {
  opacity: 0;
  transition: opacity 0.4s ease-in 0.4s;

  &.ready {
    opacity: 1;
  }
}

.embed-container {
  iframe {
    display: block !important;
  }
  &.twitter {
    overflow: hidden;
    iframe {
      margin-top: -10px;
      margin-bottom: -10px;
    }
  }
}

:host:fullscreen {
  zoom: 200%;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  &,
  .embed-container,
  .embed-container iframe {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0 !important;
  }
  & > * {
    margin: auto;
  }
  .embed-container.zoom,
  .embed-container.zoom iframe {
    width: 50vw;
    height: 50vh;
  }
  *:not(.zoom) {
    zoom: 50%;
  }
  *:not(.zoom),
  *:not(.zoom) iframe {
    width: 100vw;
    height: 100vh;
  }
  audio {
    width: 100vw !important;
    height: 45vh !important;
  }
  .expand {
    width: 100vw !important;
    height: unset !important;
  }
}
