:host {
  scroll-padding: 20px;
  outline: none;
}
iframe {
  opacity: 0;
  transition: opacity 0.4s ease-in 0.4s;

  &.ready {
    opacity: 1;
  }
}

.embed-container {
  iframe {
    display: block !important;
  }
  &.twitter {
    overflow: hidden;
    iframe {
      margin-top: -10px;
      margin-bottom: -10px;
    }
  }
}

:host.browse {
  & > * {
    margin: auto !important;
    &.embed-container {
      display: contents;
      & > * {
        margin: auto;
      }
    }
  }
}

