<app-ref *ngIf="repost"
         class="expand"
         [fetchRepost]="false"
         [showToggle]="true"
         [expandInline]="true"
         [ref]="repost"></app-ref>
<div *ngIf="currentTags.includes('plugin/embed')"
     class="embed-container"
     [class.twitter]="twitter">
  <app-loading *ngIf="!embedReady"></app-loading>
  <iframe #iframe
          class="embed-expand"
          [class.ready]="embedReady"
          src="about:blank"
          frameborder="0"
          scrolling="yes"
          allow="fullscreen; accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
</div>
<div *ngIf="image || currentTags.includes('plugin/image')"
     class="image-expand"
     [appImageDim]="imageUrl"
     [defaultWidth]="ref?.plugins?.['plugin/image']?.width"
     [defaultHeight]="ref?.plugins?.['plugin/image']?.height"
     appResize></div>
<video *ngIf="currentTags.includes('plugin/video')"
       #video
       class="video-expand"
       autoplay
       controls
       appResize>
  <source [src]="videoUrl">
</video>
<audio *ngIf="currentTags.includes('plugin/audio')"
       class="audio-expand"
       autoplay
       controls>
  <source [src]="audioUrl">
</audio>
<app-qr *ngIf="currentTags.includes('plugin/qr')"
        class="qr-expand"
        [url]="ref?.plugins?.['plugin/qr']?.url || ref?.url"
        appResize></app-qr>
<app-md *ngIf="currentText"
        [border]="true"
        [origin]="ref?.origin || ''"
        [text]="currentText"
        [plugins]="currentTags"></app-md>
<embed *ngIf="pdf && !currentText"
       type="application/pdf"
       [src]="pdfUrl | safe"
       [style.width]="embedWidth"
       [style.height]="embedHeight">
<app-md *ngFor="let ui of uis"
        [origin]="ref?.origin || ''"
        [text]="render(ui)"
        [plugins]="currentTags"></app-md>
