:host {
  scroll-padding: 20px;
  outline: none;
}
* {
  display: block;
}
iframe {
  opacity: 0;
  transition: opacity 0.4s ease-in 0.4s;

  &.ready {
    opacity: 1;
  }
}

.embed-container {
  iframe {
    display: block !important;
  }
  &.twitter {
    overflow: hidden;
    iframe {
      margin-top: -10px;
      margin-bottom: -10px;
    }
  }
}

:host:fullscreen {
  &,
  & .embed-container iframe,
  & > * {
    margin: 0 !important;
    width: 100vw !important;
    height: 100vw !important;
  }
}
