:host {
  scroll-padding: 20px;
  outline: none;
}
video:focus, video:focus-visible {
  outline: none;
}
* {
  display: block;
}
iframe {
  opacity: 0;
  transition: opacity 0.4s ease-in 0.4s;

  &.ready {
    opacity: 1;
  }
}

.embed-container {
  iframe {
    display: block !important;
  }
  &.twitter {
    overflow: hidden;
    iframe {
      margin-top: -10px;
      margin-bottom: -10px;
    }
  }
}
