<app-loading *ngIf="!messages || loadingPrev"></app-loading>
<a *ngIf="messages && !loadingPrev" class="load-more fake-link" (click)="loadPrev()">load prev</a>
<cdk-virtual-scroll-viewport class="messages"
                             [class.scroll-lock]="scrollLock"
                             [itemSize]="itemSize"
                             [style.height.px]="containerHeight"
                             (scrolledIndexChange)="scrollLock = undefined">
  <app-chat-entry *cdkVirtualFor="let ref of messages; let index = index; let odd = odd"
                  [ref]="ref"
                  [class.odd]="odd"
                  (click)="scrollLock = index"
                  [focused]="scrollLock === index"></app-chat-entry>
</cdk-virtual-scroll-viewport>
<div class="spacer"></div>
<div class="input-box">
  <input type="text"
         placeholder="chat..."
         size="10"
         [(ngModel)]="addText"
         (keydown)="$event.key === 'Enter' && add() || true">
  <button type="button" (click)="add()">+</button>
</div>
<span class="hints">
  <ng-container *ngIf="admin.status.plugins.emoji">
    <input id="emoji" type="checkbox" [(ngModel)]="emoji">
    <label for="emoji">
      Emoji plugin
      <sup><a target="_blank" href="https://github.com/ikatyang/emoji-cheat-sheet/blob/master/README.md">help</a></sup>
    </label>
  </ng-container>
  <ng-container *ngIf="admin.status.plugins.latex">
    <input id="latex" type="checkbox" [(ngModel)]="latex">
    <label for="latex">
      LaTeX plugin
      <sup><a target="_blank" href="https://katex.org/docs/supported.html">help</a></sup>
    </label>
  </ng-container>
</span>
<div class="list-container">
  <app-chat-entry *ngFor="let ref of sending" [ref]="ref"></app-chat-entry>
</div>
