.input-box {
  display: flex;
  flex-wrap: wrap;

  * {
    margin: 4px;
  }

  input {
    flex: 1;
  }
}

.fake-link {
  display: block;
  text-align: center;
  user-select: none;
}

.scroll-lock::-webkit-scrollbar {
  display: none;
}

.retry {
  height: 18.5px;
  margin-right: 2px;
  margin-bottom: 2px;
}
