figure {
  margin: 0;
  padding: 0;
  height: 70vh;
}

pre {
  display: inline;
}

.graph-selected {
  padding: 2px;
  margin-left: 10px;
}

.loading-container {
  margin-top: -30px;
  height: 40px;
  app-loading {
    padding: 0;
  }
}

.fake-link {
  display: block;
  text-align: center;
  user-select: none;
}
