<div #tw class="text-wrapper">
  <div class="toolbar">
    <button type="button"
            (click)="toggleFullscreen()"
            i18n-title title="Fullscreen editor"
            i18n>⛶</button>
    <button type="button"
            (click)="toggleHelp()"
            i18n-title title="Help"
            i18n>❓️</button>
    <button *ngIf="fullscreen || currentText"
            type="button"
            (click)="toggleStacked()"
            i18n-title title="Stacked or side by side layout toggle">
      <span *ngIf="!fullscreen" i18n>📝️</span>
      <span *ngIf="fullscreen" i18n>/</span>
    </button>
    <div *ngFor="let plugin of editorPlugins; let i = index" class="editor-plugin">
      <input type="checkbox"
             [style.display]="'none'"
             [id]="id + i"
             [checked]="tags?.includes(plugin.tag)"
             (click)="toggleTag(plugin.tag)">
      <label [for]="id + i"
             [class.on]="tags?.includes(plugin.tag)"
             [title]="plugin.name || plugin.tag">{{ plugin.config?.editor }}
      </label>
    </div>
  </div>
  <textarea #editor
            [formControl]="control"
            (focusin)="editing = true"
            (input)="setText($any($event).target.value)"
            (blur)="syncText($any($event).target.value)"
            [appFillWidth]="fillWidth"
            [padding]="padding"
            [appAutofocus]="autoFocus"></textarea>
  <div class="floating-toggles">
  </div>
</div>
<app-md *ngIf="preview && (fullscreen || currentText)"
        class="expand"
        [origin]="store.account.origin"
        [text]="currentText"
        [plugins]="tags"
        [appLimitWidth]="$any(tw.firstElementChild)"></app-md>

<ng-template #help>
  <div class="editor-help-popup" (click)="toggleHelp()">
    <a target="_blank" href="https://jfcere.github.io/ngx-markdown/cheat-sheet">Markdown</a>
  </div>
  <div class="editor-help-popup" (click)="toggleHelp()">
    <a target="_blank" href="https://katex.org/docs/supported.html">LaTeX plugin</a>
  </div>
</ng-template>
