:host.fullscreen {
  textarea, app-md {
    resize: none;
    overflow: auto;
    min-width: unset !important;
    max-width: unset !important;
  }
  &.stacked {
    textarea, app-md {
      width: calc(100vw - 128px) !important;
      height: calc(50vh - 16px) !important;
    }
  }

  &:not(.stacked) {
    textarea, app-md {
      width: calc(50vw - 66px) !important;
      height: calc(100vh - 12px) !important;
    }
    app-md {
      height: calc(100vh - 8px) !important;
    }
  }

  &:not(.preview) {
    textarea {
      width: calc(100vw - 128px) !important;
      height: calc(100vh - 24px) !important;
    }
  }
}

.editor-help-popup {
  width: 100vw;
  height: 100vh;
}
