<div class="tabs">
  <h5>Submit Feed</h5>
  <div class="spacer"></div>
  <app-settings></app-settings>
</div>

<form class="form" [formGroup]="feedForm" (ngSubmit)="submit()">

  <label for="url">URL:</label>
  <input id="url" type="text" formControlName="url" [attr.disabled]="true">

  <label for="name">Name:</label>
  <input id="name" type="text" formControlName="name">

  <label for="tags">Tags:</label>
  <div id="tags" class="form-group" formArrayName="tags">
    <button type="button" (click)="addTag()">+ Add another tag</button>

    <div *ngFor="let tag of tags.controls; let i=index">
      <label for="tags-{{ i }}">Tag:</label>
      <input id="tags-{{ i }}"
             type="email"
             autocorrect="off"
             autocapitalize="none"
             [formControl]="$any(tag)">
      <button type="button" (click)="removeTag(i)">&ndash;</button>
      <div class="error" *ngIf="tags.at(i).touched && tags.at(i).errors?.['pattern']">
        Tags must be lower case letters and forward slashes. Must not start with a slash or contain two forward slashes in a row. Private
        tags start with an underscore.<br>
        (i.e. "science", "my/tag", or "_my/private/tag")
      </div>
      <div class="error" *ngIf="tags.at(i).touched && tags.at(i).errors?.['required']">
        Tag must not be blank.
      </div>
    </div>
  </div>

  <label for="scrapeInterval">Scrape Interval:</label>
  <input id="scrapeInterval" type="text" [formControl]="scrapeInterval">

  <span><!-- Help --></span>
  <div class="no-margin">
    <span class="hints">
          Use time spans (HH:MM:SS) or ISO 8601 Durations&nbsp;
          <sup><a target="_blank" href="https://en.wikipedia.org/wiki/ISO_8601#Durations">help</a></sup>
    </span>
  </div>

  <label for="scrapeDescription">Scrape Description:</label>
  <input id="scrapeDescription" type="checkbox" [formControl]="scrapeDescription">

  <label for="removeDescriptionIndent">Remove Description Indent:</label>
  <input id="removeDescriptionIndent" type="checkbox" [formControl]="removeDescriptionIndent">

  <ng-container *ngFor="let e of serverError">
    <span><!-- Unexpected Error --></span>
    <div class="error">{{ e }}</div>
  </ng-container>

  <span><!-- Buttons --></span>
  <span class="form-group">
    <button type="submit" [disabled]="submitted && !feedForm.valid">Submit</button>
  </span>

</form>
