<div class="tabs">
  <h5>Submit Feed</h5>
  <div class="spacer"></div>
  <app-settings></app-settings>
</div>

<form class="form" [formGroup]="feedForm" (ngSubmit)="submit()">

  <app-feed-form [group]="feedForm"></app-feed-form>

  <ng-container *ngFor="let e of serverError">
    <span><!-- Unexpected Error --></span>
    <div class="error">{{ e }}</div>
  </ng-container>

  <span><!-- Buttons --></span>
  <span class="form-array">
    <button type="submit" [disabled]="submitted && !feedForm.valid">Submit</button>
  </span>

</form>
