<ng-container *mobxAutorun>
  <div #tabs class="tabs">
    <h5>{{ title }}</h5>
    <a routerLink="/tags" [queryParams]="{ noTemplate: null }" [class.current-tab]="store.view.allTags && !store.view.noTemplate" queryParamsHandling="merge" i18n>all</a>
    <a routerLink="/tags" [queryParams]="{ noTemplate: true }" routerLinkActive="current-tab" queryParamsHandling="merge" i18n-title title="🏷️ Tags" i18n>🏷️</a>
    <a *ngFor="let tmpl of templates"
       [routerLink]="['/tags', tmpl.tag]"
       [queryParams]="{ noTemplate: null }"
       routerLinkActive="current-tab"
       queryParamsHandling="merge" [title]="tmpl.name">{{ tmpl.config!.view }}</a>
    <a routerLink="/tags/user" [queryParams]="{ noTemplate: null }" routerLinkActive="current-tab" queryParamsHandling="merge" i18n-title title="🧑️ User" i18n>🧑️</a>
    <app-mobile-tab-select [tabs]="tabs"></app-mobile-tab-select>
    <app-settings></app-settings>
  </div>
  <app-sidebar [tag]="store.view.template"></app-sidebar>
  <app-ext-list [page]="query.page"></app-ext-list>
</ng-container>
