<ng-container *mobxAutorun>
  <app-ref-list [page]="query.page"
                [newRefs$]="newComments$"
                [cols]="1"
                [showToggle]="false"
                [expanded]="true"
                [expandInline]="true"></app-ref-list>
  <ng-container *ngIf="store.view.ref; else loading">
    <app-comment-reply [to]="query.page?.content?.[(query.page?.content?.length || 0) - 1] || store.view.ref"
                       [top]="top"
                       quote=""
                       [tags]="replyTags"
                       [newComments$]="newComments$"></app-comment-reply>
  </ng-container>
  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
</ng-container>
