:host {
  display: contents;
  white-space: nowrap;
}
.sending {
  opacity: 0.5;
}
.loading-container {
  margin-top: -25px;
  height: 40px;
  app-loading {
    padding: 0 4px;
  }
}
.gutter {
  text-align: right;
  width: 100%;
  .timestamp {
    max-inline-size: 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    transition: max-inline-size 1s 2s ease-out;
  }
  &:focus-within, &:hover {
    .timestamp {
      max-inline-size: 150px;
      transition: max-inline-size 0s 0s ease-in;
    }
  }
}
.message {
  display: flex;
  height: 18.5px;
  overflow: hidden;
  :first-child {
    flex: 1;
  }
  .has-title {
    height: 18.5px;
    overflow: hidden;
    app-md {
      padding: 0 12px;
      display: inline-block;
      text-overflow: ellipsis;
    }
  }
  .actions {
    display: none;
    margin-left: 10px;
  }
  &:focus-within, &:hover, &.deleting, &.tagging, &.focused {
    white-space: normal !important;
    height: unset;
    .actions {
      position: absolute;
      right: 4px;
    }
    .has-title {
      margin-top: 24px;
      height: unset;
      app-md {
        display: block;
      }
    }
  }
}
