<div class="tabs">
  <h5 class="fake-link" routerLink=".." [queryParams]="{}">{{ title$ | async }}</h5>
  <a routerLink="../created" [queryParams]="{pageNumber: null}" queryParamsHandling="merge" routerLinkActive="current-tab" title="Sort by created date">new</a>
  <ng-container *ngIf="admin.status.plugins.comment">
    <a routerLink="../commentCount" [queryParams]="{pageNumber: null}" queryParamsHandling="merge" routerLinkActive="current-tab" title="Sort by number of comments">comments</a>
  </ng-container>
  <a routerLink="../sourceCount" [queryParams]="{pageNumber: null}" queryParamsHandling="merge" routerLinkActive="current-tab" title="Sort by number of sources">sources</a>
  <a routerLink="../responseCount" [queryParams]="{pageNumber: null}" queryParamsHandling="merge" routerLinkActive="current-tab" title="Sort by number of responses">responses</a>
  <a routerLink="../published" [queryParams]="{pageNumber: null}" queryParamsHandling="merge" routerLinkActive="current-tab" title="Sort by published date">published</a>
  <a routerLink="../modified" [queryParams]="{pageNumber: null}" queryParamsHandling="merge" routerLinkActive="current-tab" title="Sort by modified date">modified</a>
  <a routerLink="../title" [queryParams]="{pageNumber: null}" queryParamsHandling="merge" routerLinkActive="current-tab" title="Sort alphabetically by title">title</a>
  <a *ngIf="search$ | async" routerLink="../rank" [queryParams]="{pageNumber: null}" queryParamsHandling="merge" routerLinkActive="current-tab" title="Sort by search relevance">rank</a>
  <ng-container *ngIf="admin.status.plugins.graph">
    <a routerLink="./"
       [class.current-tab]="graph$ | async"
       [queryParams]="{ graph: (graph$ | async) ? null : true, list: null }"
       queryParamsHandling="merge"
       title="Graph these results">graph</a>
  </ng-container>
  <ng-container *ngIf="kanban$ | async">
    <a routerLink="./"
       [class.current-tab]="list$ | async"
       [queryParams]="{ list: (list$ | async) ? null : true, graph: null }"
       queryParamsHandling="merge"
       title="View as list">list</a>
  </ng-container>
  <div class="spacer"></div>
  <app-settings></app-settings>
</div>
<app-sidebar class="aside"
             *ngIf="!(graph$ | async)"
             [tag]="tag$ | async"
             [ext]="ext$ | async"></app-sidebar>
<div *ngIf="accessDenied else accessGranted" class="error-403">Access Denied</div>
<ng-template #accessGranted>
  <!-- TODO: allow paging with graph -->
  <app-ref-list *ngIf="isList$ | async else special"
                [page]="page$ | async"
                [pinned]="pinned$ | async"
                [tag]="tag$ | async"
                [pageControls]="!(graph$ | async)"
                [graph]="graph$ | async"></app-ref-list>
  <ng-template #special>
    <app-kanban *ngIf="kanban$ | async"
                [tag]="tag$ | async"></app-kanban>
  </ng-template>
</ng-template>
