<div class="tabs">
  <h5>{{ title$ | async }}</h5>
  <a routerLink="../created" queryParamsHandling="merge" routerLinkActive="current-tab" title="Sort by created date">new</a>
  <ng-container *ngIf="admin.status.plugins.comment">
    <a routerLink="../commentCount" queryParamsHandling="merge" routerLinkActive="current-tab" title="Sort by number of comments">comments</a>
  </ng-container>
  <a routerLink="../sourceCount" queryParamsHandling="merge" routerLinkActive="current-tab" title="Sort by number of sources">sources</a>
  <a routerLink="../responseCount" queryParamsHandling="merge" routerLinkActive="current-tab" title="Sort by number of responses">responses</a>
  <a routerLink="../published" queryParamsHandling="merge" routerLinkActive="current-tab" title="Sort by published date">published</a>
  <a routerLink="../modified" queryParamsHandling="merge" routerLinkActive="current-tab" title="Sort by modified date">modified</a>
  <a routerLink="../title" queryParamsHandling="merge" routerLinkActive="current-tab" title="Sort alphabetically by title">title</a>
  <a *ngIf="search$ | async" routerLink="../rank" queryParamsHandling="merge" routerLinkActive="current-tab" title="Sort by search relevance">rank</a>
  <ng-container *ngIf="admin.status.plugins.graph">
    <a routerLink="./"
       [class.current-tab]="graph"
       [queryParams]="{ graph: !graph }"
       queryParamsHandling="merge"
       title="Graph these results">graph</a>
  </ng-container>
  <div class="spacer"></div>
  <app-settings></app-settings>
</div>
<app-sidebar class="aside"
             *ngIf="!graph"
             [tag]="tag$ | async"
             [ext]="ext$ | async"></app-sidebar>
<app-ref-list *ngIf="!accessDenied"
              [page]="page$ | async"
              [pinned]="pinned$ | async"
              [tag]="localTag$ | async"
              [graph]="graph"></app-ref-list>
<div *ngIf="accessDenied" class="error-403">Access Denied</div>
