<div cdkDropList
     cdkScrollable
     [cdkDropListData]="data"
     (cdkDropListDropped)="drop.emit($any($event))">
  <app-kanban-card *ngFor="let ref of content"
                   cdkDrag
                   [cdkDragData]="ref"
                   [cdkDragStartDelay]="pressToUnlock ? 251 : 0"
                   [ref]="ref"></app-kanban-card>
  <app-loading *ngIf="!pages"></app-loading>
</div>
<div class="spacer"></div>
<a *ngIf="hasMore"
   class="fake-link"
   (click)="loadMore()" i18n>load more</a>
<input type="text"
       i18n-placeholder
       placeholder="Add..."
       [(ngModel)]="addText"
       [style.display]="addText ? 'block' : 'none'"
       (keydown)="$event.key === 'Enter' && add() || true"
       (blur)="add()">
