<app-loading *ngIf="!pages else loaded"></app-loading>
<ng-template #loaded>
  <ng-container *ngFor="let page of pages">
    <app-kanban-card *ngFor="let ref of page.content"
                     cdkDrag
                     [hideSwimLanes]="hideSwimLanes"
                     [cdkDragData]="ref"
                     [cdkDragStartDelay]="pressToUnlock ? 251 : 0"
                     [pressToUnlock]="pressToUnlock"
                     [ref]="ref"
                     [ext]="ext"></app-kanban-card>
  </ng-container>
</ng-template>
<div class="spacer"></div>
<a *ngIf="hasMore"
   class="fake-link no-select"
   (click)="loadMore()" i18n>load more</a>
<input type="text"
       i18n-placeholder
       placeholder="Add..."
       [(ngModel)]="addText"
       [style.display]="addText ? 'block' : 'none'"
       (keydown)="$event.key === 'Enter' && add() || true"
       (blur)="add()">
