:host {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding: 4px 10px 50px;

  input {
    margin: 8px;
    width: calc(100% - 24px);
    height: 24px;
  }

  &:hover, &:focus-visible {
    padding-bottom: 4px;
  }

  &:hover input, input:focus {
    display: block !important;
  }

  &.cdk-drop-list-dragging,
  &.cdk-drop-list-receiving {
    padding-bottom: 50px;
    .spacer, input {
      display: none !important;
    }
  }

  &.cdk-drop-list-dragging .kanban-card {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .fake-link {
    display: block;
    text-align: center;
  }

}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
