:host {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 280px;
  padding: 4px 10px 50px;

  &.empty {
    border-radius: 32px;
    box-shadow: inset 0 0 60px rgba(128, 128, 128, 0.1);
  }

  input {
    margin: 8px;
    width: calc(100% - 24px);
    height: 30px;
  }

  .spacer {
    min-height: 4px;
  }

  &:hover, &:focus-within {
    border-radius: 0;
    padding-bottom: 4px;
  }

  &:hover input, input:focus {
    display: block !important;
  }

  &.cdk-drop-list-dragging,
  &.cdk-drop-list-receiving {
    padding-bottom: 50px;
    .spacer, input {
      display: none !important;
    }
  }

  &.cdk-drop-list-dragging .kanban-card {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .fake-link {
    display: block;
    text-align: center;
  }

  .load-more {
    .more {
      opacity: 0;
      transition: opacity 0.1s ease-in-out;
    }
    &:hover .more {
      opacity: 1;
    }
  }
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
