<app-loading *ngIf="!page else loaded"></app-loading>
<ng-template #loaded>
  <app-kanban-card *ngFor="let ref of page!.content trackBy: trackByUrlOrigin"
                   cdkDrag
                   [hideSwimLanes]="hideSwimLanes"
                   [cdkDragData]="ref"
                   [cdkDragStartDelay]="pressToUnlock ? 251 : 0"
                   [pressToUnlock]="pressToUnlock"
                   [ref]="ref"
                   [ext]="ext"
                   (copied)="copy($event)"></app-kanban-card>
  <app-kanban-card *ngFor="let text of adding"
                   [ref]="{ url: '', title: text }"
                   [ext]="ext"></app-kanban-card>
</ng-template>
<div class="spacer"></div>
<a *ngIf="hasMore"
   class="fake-link no-select load-more"
   (click)="loadMore()" i18n>load more <span *ngIf="more" class="more">({{ more }})</span></a>
<input type="text"
       enterkeyhint="send"
       i18n-placeholder
       placeholder="Add..."
       [(ngModel)]="addText"
       [style.display]="addText ? 'block' : 'none'"
       (keydown)="$event.key === 'Enter' && add() || true"
       (blur)="add()">
