<div *ngFor="let s of spots trackBy: trackByIdx"
     class="backgammon-spot"
     [style.grid-column]="s.col > 6 ? s.col + 2 : s.col + 1"
     [style.grid-row]="s.top ? 1 : 2"
     [class.move]="s.move"
     [class.red]="s.red"
     [class.top]="s.top"
     [class.drag-source]="dragSource===s.index"
     cdkDropList
     [cdkDropListData]="s.index"
     (cdkDropListDropped)="drop($any($event))"
     (click)="onClick(s.index)"
     (contextmenu)="moveDouble($event, s.index)">
  <div *ngFor="let p of s.pieces trackBy: trackByColor; let pi = index"
       class="backgammon-piece"
       [class.stacked]="pi > 4"
       [class.double-stacked]="pi > 9"
       [class.bounce]="s.bounce && pi >= s.pieces.length - s.bounce"
       cdkDrag
       cdkDragBoundary=".backgammon-board"
       (cdkDragStarted)="onDragStarted(s.index)"
       (cdkDragExited)="dragSource = -1"
       [cdkDragData]="p"
       [cdkDragDisabled]="!writeAccess">{{ drawPiece(p) }}</div>
</div>
<div class="backgammon-off black"
     [style.grid-column]="1"
     [style.grid-row]="1"
     [class.move]="moveBlackOff"
     cdkDropList
     [cdkDropListData]="-2"
     (cdkDropListDropped)="drop($any($event))"
     (click)="onClickOff()"></div>
<div class="backgammon-off red"
     [style.grid-column]="1"
     [style.grid-row]="2"
     [class.move]="moveRedOff"
     cdkDropList
     [cdkDropListData]="-2"
     (cdkDropListDropped)="drop($any($event))"
     (click)="onClickOff()"></div>
<div class="backgammon-bar black"
     [style.grid-column]="8"
     [style.grid-row]="1"
     [class.move]="moves[-2]"
     [class.drag-source]="dragSource===-1"
     cdkDropList
     [cdkDropListData]="-1"
     (click)="onClickBar()"
     (contextmenu)="moveBarDouble($event, 'b')">
  <ng-container *ngFor="let p of blackBar trackBy: trackByColor; let pi = index">
    <div *ngIf="p === 'b'"
         class="backgammon-piece"
         [class.bounce]="pi >= blackBar.length - redBarBounce"
         cdkDrag
         cdkDragBoundary=".backgammon-board"
         (cdkDragStarted)="onDragStarted(-1)"
         [cdkDragData]="p"
         [cdkDragDisabled]="!writeAccess">{{ drawPiece(p) }}</div>
  </ng-container>
</div>
<div class="backgammon-bar red"
     [style.grid-column]="8"
     [style.grid-row]="2"
     [class.drag-source]="dragSource===-1"
     cdkDropList
     [cdkDropListData]="-1"
     (click)="onClickBar()"
     (contextmenu)="moveBarDouble($event, 'r')">
  <ng-container *ngFor="let p of redBar trackBy: trackByColor; let pi = index">
    <div class="backgammon-piece"
         [class.bounce]="pi >= redBar.length - redBarBounce"
         cdkDrag
         cdkDragBoundary=".backgammon-board"
         (cdkDragStarted)="onDragStarted(-1)"
         [cdkDragData]="p"
         [cdkDragDisabled]="!writeAccess">{{ drawPiece(p) }}</div>
  </ng-container>
</div>

<div class="red dice bubble"
     [class.clickme]="!winner && (first && turn === 'r' || !moves.length && turn === 'b')"
     [class.play]="moves.length && turn === 'r'"
     [class.rolling]="rolling === 'r'"
     [class.disabled]="!writeAccess || winner || moves.length || redDice[0] && turn !== 'b'"
     (click)="roll('r')"
     i18n-title title="Red">
  <div *ngIf="winner === 'r'" i18n>
    Red Wins
    <span *ngIf="backgammon" i18n-title title="Backgammon">🎲️🎲️🎲️</span>
    <span *ngIf="gammon && !backgammon" i18n-title title="Gammon">🎲️🎲️</span>
    <span *ngIf="!gammon">🎲️</span>
  </div>
  <div *ngIf="!redDice[0] else redStarted" i18n>🎲️ Roll</div>
  <ng-template #redStarted>
    <div *ngIf="redDice[0] && !redDice[1] else redRolled" i18n>{{ redDice[0] }}</div>
  </ng-template>
  <ng-template #redRolled>
    <div *ngIf="redDice[1]" i18n>{{ redDice[0] }} - {{ redDice[1] }}</div>
  </ng-template>
</div>
<div class="black dice bubble"
     [class.clickme]="!winner && (first && turn === 'b' || !moves.length && turn === 'r')"
     [class.play]="moves.length && turn === 'b'"
     [class.rolling]="rolling === 'b'"
     [class.disabled]="!writeAccess || winner || moves.length || blackDice[0] && turn !== 'r'"
     (click)="roll('b')"
     i18n-title title="Black">
  <div *ngIf="winner === 'b'" i18n>
    Black Wins
    <span *ngIf="backgammon" i18n-title title="Backgammon">🎲️🎲️🎲️</span>
    <span *ngIf="gammon && !backgammon" i18n-title title="Gammon">🎲️🎲️</span>
    <span *ngIf="!gammon">🎲️</span>
  </div>
  <div *ngIf="!blackDice[0] else blackStarted" i18n>🎲️ Roll</div>
  <ng-template #blackStarted>
    <div *ngIf="blackDice[0] && !blackDice[1] else blackRolled" i18n>{{ blackDice[0] }}</div>
  </ng-template>
  <ng-template #blackRolled>
    <div *ngIf="blackDice[1]" i18n>{{ blackDice[0] }} - {{ blackDice[1] }}</div>
  </ng-template>
</div>
