<div *ngFor="let s of spots trackBy: trackByIdx"
     class="backgammon-spot"
     [style.grid-column]="s.col > 6 ? s.col + 1 : s.col"
     [style.grid-row]="s.top ? 1 : 2"
     [class.move]="s.move"
     [class.red]="s.red"
     [class.top]="s.top"
     [class.drag-source]="dragSource===s.index"
     cdkDropList
     [cdkDropListData]="red ? s.index : 23 - s.index"
     (cdkDropListDropped)="drop($any($event))">
  <div *ngFor="let p of s.pieces trackBy: trackByColor; let pi = index"
       class="backgammon-piece"
       [class.stacked]="pi > 4"
       [class.double-stacked]="pi > 9"
       [class.bounce]="s.index === bounce && pi === s.pieces.length - 1"
       (click)="setMoves(s.index)"
       cdkDrag
       cdkDragBoundary=".backgammon-board"
       (cdkDragStarted)="onDragStarted(s.index)"
       (cdkDragExited)="dragSource = -1"
       [cdkDragData]="p">{{ drawPiece(p) }}</div>
</div>
<div class="backgammon-off red"
     [style.grid-column]="7"
     [style.grid-row]="1"
     [class.drag-source]="dragSource===-1"
     cdkDropList
     [cdkDropListData]="-1">
  <ng-container *ngFor="let p of off trackBy: trackByColor; let pi = index">
    <div *ngIf="p === 'r'"
         class="backgammon-piece"
         [class.bounce]="bounce === -1 && pi === off.length - 1"
         (click)="setMovesOff('r')"
         cdkDrag
         cdkDragBoundary=".backgammon-board"
         (cdkDragStarted)="onDragStarted(-1)"
         [cdkDragData]="p">{{ drawPiece(p) }}</div>
  </ng-container>
</div>
<div class="backgammon-off black"
     [style.grid-column]="7"
     [style.grid-row]="2"
     [class.drag-source]="dragSource===-1"
     cdkDropList
     [cdkDropListData]="-1">
  <ng-container *ngFor="let p of off trackBy: trackByColor; let pi = index">
    <div *ngIf="p === 'b'"
         class="backgammon-piece"
         [class.bounce]="bounce === -1 && pi === off.length - 1"
         (click)="setMovesOff('b')"
         cdkDrag
         cdkDragBoundary=".backgammon-board"
         (cdkDragStarted)="onDragStarted(-1)"
         [cdkDragData]="p">{{ drawPiece(p) }}</div>
  </ng-container>
</div>

<div class="red dice bubble"
     [class.play]="!allUsed && turn === 'r'"
     [class.rolling]="rolling === 'r'"
     [class.disabled]="turn === 'r'"
     (click)="roll('r')"
     i18n-title title="Red">
  <span *ngIf="!redDice[0]" i18n>🎲️ Roll</span>
  <span *ngIf="redDice[0] && !redDice[1]" i18n>{{ redDice[0] }}</span>
  <span *ngIf="redDice[1]" i18n>{{ redDice[0] }} - {{ redDice[1] }}</span>
</div>
<div class="black dice bubble"
     [class.play]="!allUsed && turn === 'b'"
     [class.rolling]="rolling === 'b'"
     [class.disabled]="turn === 'b'"
     (click)="roll('b')"
     i18n-title title="Black">
  <span *ngIf="!blackDice[0]" i18n>🎲️ Roll</span>
  <span *ngIf="blackDice[0] && !blackDice[1]" i18n>{{ blackDice[0] }}</span>
  <span *ngIf="blackDice[1]" i18n>{{ blackDice[0] }} - {{ blackDice[1] }}</span>
</div>
