:host {
  display: block;
  max-width: 100vw;
  width: 100%;
}

.comment-collapse {
  cursor: pointer;
}

.hidden-without-removing {
  visibility: hidden;
  height: 0;
}

.comment-body {
  display: block;
}

.comment-children {
  width: calc(100% - 5px);
}
