<div class="comment-container info collapsed" tabindex="0" *ngIf="collapsed">
  <span class="comment-expand fake-link" (click)="collapsed = false">[+]</span>&nbsp;
  <ng-container *ngFor="let user of authors">
    <a class="author" [routerLink]="['/tag', user]">{{ user.substring('user/'.length) + ref.origin }}</a>
  </ng-container>
  {{ ref.created?.fromNow() }}
  {{ comments }}
</div>

<div class="comment-container" tabindex="0" *ngIf="!collapsed">
  <div class="info">
    <span class="comment-collapse fake-link" (click)="collapsed = true">[&ndash;]</span>&nbsp;
    <ng-container *ngFor="let user of authors">
      <a class="author" [routerLink]="['/tag', user]">{{ user.substring('user/'.length) + ref.origin }}</a>
    </ng-container>
    {{ ref.created?.fromNow() }}
    <ng-container *ngIf="tags.length">
      tagged
      <ng-container *ngFor="let tag of tags">
        <a class="tag" [routerLink]="['/tag', tag]">{{ tag }}</a>&nbsp;
      </ng-container>
    </ng-container>
  </div>
  <div class="comment-body">
    {{ ref.comment }}
  </div>
  <div class="actions">
    <a [routerLink]="['/ref/comments/', ref.url]">permalink</a>
    <a [routerLink]="['/ref/responses/', ref.url]">{{ responses }}</a>
    <a [routerLink]="['/ref/sources/', ref.url]">{{ sources }}</a>
    <a [routerLink]="['/ref/graph/', ref.url]">graph</a>
    <a class="fake-link" (click)="watch()">watch</a>
    <a class="fake-link" (click)="tag()">tag</a>
    <a class="fake-link" (click)="reply = true">reply</a>
  </div>
</div>
<app-editor *ngIf="reply"
            [sources]="[ref.url]"
            [newComments]="newComments"></app-editor>
<span class="fake-link"
      *ngIf="!collapsed && depth === 0 && commentCount! > 0"
      (click)="depth = depth + 1">
  load more comments
</span>
<div *ngIf="depth > 0"
     class="comment-children"
     [class.hidden-without-removing]="collapsed">
  <app-comment-list [source]="source"
                    [depth]="depth - 1"
                    [newComments]="newComments"></app-comment-list>
</div>
