<div class="link">
  <a [routerLink]="['/tag', remote.origin]">{{ remote.title || remote.origin || 'local' }}</a>
</div>
<div class="stack">
  <div class="info">
    <span [title]="remote.modified?.toISOString()">modified {{ remote.modified?.fromNow() }}</span>
    <ng-container *ngIf="lastScrape">
      <span [title]="lastScrape.toISOString()"> last scraped {{ lastScrape.fromNow() }} </span>
    </ng-container>
    <ng-container *ngIf="!lastScrape">
      not scraped yet
    </ng-container>
  </div>
  <div class="actions">
    <a *ngIf="store.account.admin"
       class="fake-link"
       (click)="editing = true">edit</a>
    <a *ngIf="!deleting && store.account.admin"
       class="fake-link"
       (click)="deleting = true">delete</a>
    <span *ngIf="deleting" class="delete-confirm"> are you sure?
      <a class="fake-link" (click)="delete()">yes</a> /
      <a class="fake-link" (click)="deleting = false">no</a>
    </span>
  </div>
</div>

<form *ngIf="editing else showErrors" [formGroup]="editForm" (ngSubmit)="save()">

  <app-ref-form [group]="editForm"></app-ref-form>

  <ng-container *ngFor="let e of serverError">
    <span><!-- Unexpected Error --></span>
    <div class="error">{{ e }}</div>
  </ng-container>

  <span><!-- Buttons --></span>
  <span class="form-array">
    <button type="submit" [disabled]="submitted && !editForm.valid">save</button>
    <button (click)="editing = false">cancel</button>
  </span>
</form>

<ng-template #showErrors>
  <ng-container *ngFor="let e of serverError">
    <div class="error">{{ e }}</div>
  </ng-container>
</ng-template>
