<div class="editor-preview">
  <textarea #textbox class="has-plugins" (input)="textboxValue = textbox.value"></textarea>
  <app-md [text]="textboxValue"
          [plugins]="plugins"></app-md>
</div>
<button (click)="reply(textbox.value)">reply</button>
<button *ngIf="showCancel" (click)="cancel()">cancel</button>

<span class="hints">
  <ng-container *ngIf="admin.status.plugins.emoji">
    <input id="emoji" type="checkbox" [(ngModel)]="emoji">
    <label for="emoji">
      Emoji plugin
      <sup><a target="_blank" href="https://github.com/ikatyang/emoji-cheat-sheet/blob/master/README.md">help</a></sup>
    </label>
  </ng-container>
  <ng-container *ngIf="admin.status.plugins.latex">
    <input id="latex" type="checkbox" [(ngModel)]="latex">
    <label for="latex">
      LaTeX plugin
      <sup><a target="_blank" href="https://katex.org/docs/supported.html">help</a></sup>
    </label>
  </ng-container>
</span>
