<div class="row">
  <div class="stack">
    <h2 class="link" [class.remote]="!local">
      <a *ngIf="clickableLink" [href]="ref.url | safe" target="_blank">{{ (ref.title || '').trim() || ref.url }}</a>
      <span *ngIf="!clickableLink">{{ (ref.title || '').trim() || ref.url }}</span>
    </h2>
    <div class="link-below">
      <div class="stack">
        <div class="info">
          <ng-container *ngIf="authors.length" i18n>
            by
            <ng-container *ngFor="let user of authors">
              <a class="user tag" [routerLink]="['/tag', user]">
                {{ formatAuthor(user) }}</a>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="tags.length" i18n>
            tagged
            <ng-container *ngFor="let tag of tags">
              <a class="tag" [routerLink]="['/tag', tag]">{{ tag }}</a>
            </ng-container>
          </ng-container>
          <ng-container *ngFor="let icon of icons">
            <span *ngIf="showIcon(icon)" class="icon" (click)="clickIcon(icon)" [title]="icon.title">{{ icon.label }}</span>
          </ng-container>
          <span [title]="ref.published?.toISOString()">{{ ref.published?.fromNow() }}</span>
          <ng-container *ngIf="!authors.length && ref.created && !local">
            on <a class="origin tag" [routerLink]="['/tag', ref.origin]">{{ ref.origin }}</a>
          </ng-container>
        </div>
        <div class="actions">
          <a [routerLink]="['/ref', ref.url]" [queryParams]="{ origin }" i18n>permalink</a>
          <a *ngIf="store.account.user" routerLink="/submit" [queryParams]="{source: ref.url}" i18n>reply</a>
          <a *ngIf="comments" [routerLink]="['/ref', ref.url, 'comments']" [queryParams]="{ origin }" i18n>{comments, plural, =1 {1&thinsp;comment} other {{{ comments }}&thinsp;comments}}</a>
          <a *ngIf="responses" [routerLink]="['/ref', ref.url, 'responses']" [queryParams]="{ origin }" i18n>{responses, plural, =1 {1&thinsp;citation} other {{{ responses }}&thinsp;citations}}</a>
          <a *ngIf="sources === 1" [routerLink]="['/ref', ref.sources![0]]" [queryParams]="{ origin }" i18n>parent</a>
          <a *ngIf="sources > 1" [routerLink]="['/ref', ref.url, 'sources']" [queryParams]="{ origin }" i18n>{{ sources }}&thinsp;sources</a>
          <a *ngIf="taggingAccess"
             class="fake-link"
             (click)="tagging = !tagging" i18n>tag</a>
          <span *ngIf="tagging" class="inline-tagging">
            <input #inlineTag
                   (keydown)="$event.key === 'Enter' && addInlineTag(inlineTag) || true"
                   (input)="inlineTag.value = inlineTag.value.toLowerCase()"
                   type="text"
                   inputmode="email"
                   [pattern]="tagRegex"
                   autocorrect="off"
                   autocapitalize="none"
                   appAutofocus>
            <button (click)="addInlineTag(inlineTag)" i18n>+</button>
          </span>
          <a *ngIf="writeAccess else source"
             class="fake-link"
             (click)="editing = !editing" i18n>edit</a>
          <ng-template #source>
            <a class="fake-link"
               (click)="viewSource = !viewSource" i18n>source</a>
          </ng-template>
          <a class="fake-link"
             (click)="download()" i18n>download</a>
          <a *ngIf="!deleting && (store.account.sysMod || writeAccess)"
             class="fake-link"
             (click)="deleting = true" i18n>delete</a>
          <span *ngIf="deleting" class="delete-confirm"> are you sure?&nbsp;
            <a class="fake-link" (click)="delete()" i18n>yes</a>&nbsp;/&nbsp;
            <a class="fake-link" (click)="deleting = false" i18n>no</a>&nbsp;
          </span>
          <ng-container *ngIf="canInvoice">
            <a [routerLink]="['/submit/invoice']"
               [queryParams]="{url: ref.url}" i18n>invoice</a>
          </ng-container>
          <a *ngIf="pdf" target="_blank" [href]="pdf" i18n>pdf</a>
          <a *ngIf="archive" target="_blank" [href]="archive" i18n>archive</a>
          <ng-container *ngFor="let a of actions">
            <a *ngIf="showAction(a)" class="fake-link" (click)="acts.apply(ref, a)">{{ label(a) }}</a>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<app-viewer *ngIf="!editing" class="blog-body" [ref]="ref"></app-viewer>

<form *ngIf="editing else showErrors" class="form" [formGroup]="editForm" (ngSubmit)="save()">

  <app-ref-form [group]="editForm"
                (editorTags)="editorPlugins = $event"></app-ref-form>

  <ng-container *ngFor="let e of serverError">
    <span><!-- Unexpected Error --></span>
    <div class="error">{{ e }}</div>
  </ng-container>

  <span><!-- Buttons --></span>
  <span class="form-array right">
    <button type="submit" [disabled]="submitted && !editForm.valid" i18n>save</button>
    <button (click)="editing = false" i18n>cancel</button>
  </span>
</form>

<form *ngIf="viewSource" [formGroup]="editForm">
  <app-ref-form [group]="editForm"></app-ref-form>
</form>

<ng-template #showErrors>
  <ng-container *ngFor="let e of serverError">
    <div class="error">{{ e }}</div>
  </ng-container>
</ng-template>
<hr>
