:host {
  --dim: 60px;
  --piece-size: 45px;

  aspect-ratio: 1 / 1;
  max-height: calc(100vh - 20px);
  display: grid !important;
  grid-template-columns: repeat(8, 1fr) !important;
  user-select: none;
  z-index: 1;

  &.flip {
    transition: 1s ease-in-out transform;
    transform: rotate(180deg);
    .chess-piece {
      transition: 1s ease-in-out transform;
      transform: rotate(-180deg);
    }
  }

  .tile {
    aspect-ratio: 1 / 1;
    &.from {
      box-shadow: inset 3px 3px 16px rgba(255, 255, 255, 0.9),
                  inset -3px -3px 16px rgba(255, 255, 255, 0.9);
    }
    &.move {
      box-shadow: inset 3px 3px 16px rgba(0, 128, 0, 0.9),
                  inset -3px -3px 16px rgba(0, 128, 0, 0.9);
    }
    &.light {
      background-color: rgba(255, 255, 255, 0.1);
    }
    &.dark {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  .chess-piece {
    aspect-ratio: 1 / 1;
    max-height: 100%;
    overflow: hidden;
    line-height: var(--dim);
    font-size: var(--piece-size);

    &.bounce {
      animation-duration: 3s;
      animation-name: bounce;
      animation-iteration-count: 1;
    }
  }
}

@keyframes bounce {
  from {
    transform: scale(100%);
  }

  50% {
    transform: scale(200%);
  }

  to {
    transform: scale(100%);
  }
}
