<div *ngFor="let p of pieces trackBy: trackByPiece; let i = index" class="tile {{ color(i) }}"
     [class.from]="getCoord(white ? i : 63 - i) === from"
     [class.move]="moves.includes(getCoord(white ? i : 63 - i))"
     (click)="clickSquare(white ? i : 63 - i)"
     cdkDropList
     [cdkDropListData]="white ? i : 63 - i"
     (cdkDropListDropped)="drop($any($event))">
  <div *ngIf="(white ? p : pieces[63-i]) as rp" class="chess-piece {{ rp?.color }}"
       [class.bounce]="rp.square===bounce"
       [class.disabled]="!writeAccess || turn !== rp.color"
       cdkDrag
       cdkDragBoundary=".chess-board"
       [cdkDragData]="rp"
       [cdkDragDisabled]="config.mobile || !writeAccess || turn !== rp.color"
       [style.font-size.px]="fontSize"
       [style.line-height.px]="dim">{{ drawPiece(rp) }}</div>
</div>
