<ng-container [formGroup]="group">
  <label for="url" i18n>URL:</label>
  <div class="form-array">
    <input id="url" type="text" formControlName="url">
    <button type="button" (click)="alts.addLink()" i18n>🔗️</button>
  </div>

  <label for="alts"
         [class.no-margin]="!alts.links?.length">
    <ng-container *ngIf="alts.links?.length"
           i18n-title title="Alternate URLs" i18n>Alts:</ng-container>
  </label>
  <app-links #alts
             id="alts"
             label="alternate URL"
             [class.no-margin]="!alts.links?.length"
             [showAdd]="false"
             [group]="group"
             fieldName="alternateUrls"
             [alt]="true"></app-links>

  <label for="title" i18n>Title:</label>
  <div class="form-array">
    <input id="title" type="text" [formControl]="title">
    <button *ngIf="web" type="button" (click)="scrapeTitle()" i18n-title title="Scrape Title" i18n>🪝</button>
  </div>
  <span><!-- Title Errors --></span>
  <div>
    <div class="error" *ngIf="title.touched && title.errors?.['required']" i18n>
      Title must not be blank.
    </div>
  </div>

  <label for="published" i18n>Published:</label>
  <div class="form-array">
    <input id="published" type="datetime-local" step="1" [formControl]="published">
    <button *ngIf="web" type="button" (click)="scrapePublished()" i18n-title title="Scrape Published" i18n>🪝</button>
    <button type="button" (click)="sources.addLink()" i18n>📜️</button>
  </div>
  <span><!-- Published Errors --></span>
  <div>
    <div class="error" *ngIf="published.touched && published.errors?.['required']" i18n>
      Published date is required.
    </div>
  </div>

  <label for="sources"
         [class.no-margin]="!sources.links?.length">
    <ng-container *ngIf="sources.links?.length" i18n>Sources:</ng-container>
  </label>
  <app-links #sources
             id="sources"
             label="source"
             [class.no-margin]="!sources.links?.length"
             [showAdd]="false"
             [group]="group"
             fieldName="sources"></app-links>

  <label for="plugins">
    <app-select-plugin #pluginSelect
                       i18n-title title="Add Plugin"
                       (pluginChange)="togglePlugin($event); pluginSelect.plugin = ''"></app-select-plugin>
  </label>
  <app-form-plugins id="plugins"
                    (togglePlugin)="togglePlugin($event)"
                    [ref]="group.value.url"
                    [tags]="group.value.tags"
                    [group]="group"></app-form-plugins>

  <label for="comment" i18n>Abstract:</label>
  <div class="fill-editor" #fill>
    <app-editor id="comment"
                class="bubble"
                [control]="comment"
                [tags]="getTags()"
                [fillWidth]="fill"
                [showScrape]="web && !oembed"
                (scrape)="scrapeComment()"
                (syncEditor)="syncEditor()"
                (syncTags)="editorTags.next($event)"></app-editor>
  </div>

  <label for="tags" i18n>Tags:</label>
  <app-tags id="tags" [group]="group"></app-tags>

</ng-container>
