<ng-container [formGroup]="group">
  <label for="url">URL:</label>
  <input id="url" type="text" formControlName="url" [attr.disabled]="true">

  <label for="title">Title:</label>
  <input id="title" type="text" [formControl]="title">
  <span><!-- Title Errors --></span>
  <div>
    <div class="error" *ngIf="title.touched && title.errors?.['required']">
      Title must not be blank.
    </div>
  </div>

  <label for="published">Published:</label>
  <input id="published" type="datetime-local" step="1" [formControl]="published">
  <span><!-- Published Errors --></span>
  <div>
    <div class="error" *ngIf="published.touched && published.errors?.['required']">
      Published date is required.
    </div>
  </div>

  <label for="comment">Abstract:</label>
  <div class="editor-preview">
    <textarea id="comment" [formControl]="comment" (blur)="syncEditor()"></textarea>
    <app-embed [ref]="group.value"></app-embed>
  </div>

  <label for="sources">Sources:</label>
  <app-links #sources
             id="sources"
             label="source"
             [group]="group"
             fieldName="sources"></app-links>

  <label for="alts">Alternate URLs:</label>
  <app-links #alts
             id="alts"
             label="alternate URL"
             [group]="group"
             fieldName="alternateUrls"></app-links>

  <label for="tags">Tags:</label>
  <app-tags id="tags" [group]="group"></app-tags>

  <label for="plugins">Plugins:</label>
  <app-form-plugins id="plugins"
                    [ref]="group.value.url"
                    [tags]="group.value.tags"
                    [group]="group"></app-form-plugins>

</ng-container>
