<details *ngIf="debug">
  <summary><span>Debug</span> <app-loading *ngIf="batchRunning"></app-loading></summary>
  <a class="fake-link"
     (click)="generating = !generating">gen</a>
  <span *ngIf="generating">
    <input #inlineGen
           value="100"
           (keydown)="$event.key === 'Enter' && gen(inlineGen.value) || true"
           type="number">
    <button (click)="gen(inlineGen.value)">⏎</button>
  </span>
  <ng-container *ngIf="!empty">
    <a class="fake-link"
       (click)="sourcing = !sourcing">source</a>
    <span *ngIf="sourcing">
      <input #inlineUrl
             placeholder="url"
             (keydown)="$event.key === 'Enter' && source(inlineUrl.value) || true"
             type="url">
      <button (click)="source(inlineUrl.value)">⏎</button>
    </span>
  </ng-container>

  <ng-container *ngFor="let e of serverError">
    <div class="error" [title]="e">{{ e }}</div>
  </ng-container>
</details>
