:host.fullscreen {
  &, .text-wrapper, .toolbar {
    pointer-events: none;
  }
  .toolbar, textarea, .floating-toggles {
    & > * {
      pointer-events: all;
    }
  }
  .text-wrapper {
    height: 100% !important;
  }
  textarea {
    width: 100%;
    height: calc(100% - 42px);
  }
  textarea, app-md {
    resize: none;
    overflow: auto;
    min-width: unset !important;
    max-width: unset !important;
    margin: 1px;
  }
  &.stacked {
    .text-wrapper, app-md {
      width: calc(100vw - 4px) !important;
      height: calc(50% - 1px) !important;
    }
  }

  &:not(.stacked) {
    .text-wrapper, app-md {
      width: calc(50vw - 3px) !important;
    }
    app-md {
      height: calc(100% - 2px) !important;
    }
  }

  &:not(.preview) {
    .text-wrapper {
      width: calc(100vw - 4px) !important;
      height: 100% !important;
    }
  }
}

.editor-help-popup {
  width: 100vw;
  height: 100%;
}

.response-button {
  width: 26px;
  height: 28px;
}
