:host.fullscreen {
  textarea, app-md {
    resize: none;
    overflow: auto;
    min-width: unset !important;
    max-width: unset !important;
  }
  &.stacked {
    textarea, app-md {
      width: calc(100vw - 32px) !important;
      height: calc(50vh - 32px) !important;
    }
  }

  &:not(.stacked) {
    textarea, app-md {
      width: calc(50vw - 18px) !important;
      height: calc(100vh - 64px) !important;
    }
    app-md {
      height: calc(100vh - 24px) !important;
    }
  }

  &:not(.preview) {
    textarea {
      width: calc(100vw - 32px) !important;
      height: calc(100vh - 64px) !important;
    }
  }
}

.editor-help-popup {
  width: 100vw;
  height: 100vh;
}

.response-button {
  width: 26px;
  height: 28px;
}
