<div class="link" [class.remote]="!local">
  <a [routerLink]="['/tag', qualifiedTag]">{{ user.name || user.tag }}</a>
  <span *ngIf="user.name" class="host">({{ qualifiedTag }})</span>
  <span *ngIf="!user.name && user.origin" class="host">({{ user.origin }})</span>
</div>
<div class="stack">
  <div class="info">
    <span [title]="user.modified?.toISOString()" i18n>modified {{ user.modified?.fromNow() }}</span>
    <ng-container *ngIf="!local" i18n>
      on <a [routerLink]="['/tag', user.origin]">{{ user.origin }}</a>
    </ng-container>
  </div>
  <div class="actions">
    <a *ngIf="writeAccess else source"
       class="fake-link"
       (click)="editing = !editing" i18n>edit</a>
    <ng-template #source>
      <a class="fake-link"
         (click)="viewSource = !viewSource" i18n>source</a>
    </ng-template>
    <a *ngIf="!deleting && writeAccess"
       class="fake-link"
       (click)="deleting = true" i18n>delete</a>
    <span *ngIf="deleting" class="delete-confirm" i18n> are you sure?
      <a class="fake-link" (click)="delete()">yes</a> /
      <a class="fake-link" (click)="deleting = false">no</a>
    </span>
  </div>
</div>

<form *ngIf="editing else showErrors" class="form" [formGroup]="editForm" (ngSubmit)="save()">

  <app-user-form [group]="editForm"></app-user-form>

  <ng-container *ngFor="let e of serverError">
    <span><!-- Unexpected Error --></span>
    <div class="error">{{ e }}</div>
  </ng-container>

  <span><!-- Buttons --></span>
  <span class="form-array right">
    <button type="submit" [disabled]="submitted && !editForm.valid" i18n>save</button>
    <button (click)="editing = false" i18n>cancel</button>
  </span>
</form>

<form *ngIf="viewSource" class="form" [formGroup]="editForm">
  <app-user-form [group]="editForm"></app-user-form>
</form>

<ng-template #showErrors>
  <ng-container *ngFor="let e of serverError">
    <div class="error">{{ e }}</div>
  </ng-container>
</ng-template>
