
<form *ngIf="passwordForm" class="form" [formGroup]="passwordForm" (ngSubmit)="save()">

  <label for="password">Password:</label>
  <input id="password" type="password" formControlName="password">

  <ng-container *ngFor="let e of serverError">
    <span><!-- Unexpected Error --></span>
    <div class="error">{{ e }}</div>
  </ng-container>

  <span><!-- Buttons --></span>
  <span class="form-array">
    <button type="submit" [disabled]="submitted && !passwordForm.valid">Save</button>
  </span>

</form>
