

html, body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.spacer {
  flex-grow: 1;
}

:link {
  text-decoration: none;
}

:link:hover,
.fake-link:hover {
  text-decoration: underline;
}

.no-underline {
  &, &:active, &:hover, &:visited {
    text-decoration: none;
  }
}

.fake-link {
  cursor: pointer;
}

label.big {
  padding-top: 5px
}

input.big {
  height: 24px;
}

.wide {
  width: 100%;
}

.context-menu {
  border-radius: 2px;
  padding: 4px;
  white-space: nowrap;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);

  div {
    border-radius: 2px;
    margin: 4px;
    padding: 4px;
    cursor: pointer;
  }
}

.warning {
  font-size: 80%;
  font-style: italic;
  padding: 10px;
}

.error-404, .error-403 {
  font-size: 300%;
  text-align: center;
}

.error-404.submit-button {
  font-size: 100%;
  white-space: nowrap;
  text-transform: capitalize;
  border: 1px solid transparent;
  padding: 4px;
  cursor: pointer;
  overflow: hidden;
}

.deleted {
  text-decoration: line-through;
  opacity: 0.5;
}

.subscription-bar {
  font-size: 70%;
  border-bottom: 1px solid transparent;
  padding: 4px 8px 2px;

  a {
    text-transform: uppercase;
    padding: 0 2px;
  }

  .current-page {
    font-weight: bold;
  }
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  min-height: 60px;
  height: auto;
  padding-left: 120px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100vw;

  & > * {
    align-self: flex-end;
  }

  h5 {
    margin: 4px;
    min-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  & > a {
    display: inline-block;
    position: relative;
    bottom: -1px;

    margin: 0 4px;
    padding: 2px 8px;
    font-weight: bold;
    border-bottom: 1px solid transparent;

    &:link:hover {
      text-decoration: none;
    }

    &.current-tab {
    }
  }

  .settings {
    margin-left: auto;
    border-top-left-radius: 8px;
    display: inline-block;
    justify-self: flex-end;

    font-size: 80%;
    padding: 4px;
    font-weight: bold;
  }
}

.sidebar {
  width: 300px;
  margin-bottom: 100px;
  border-bottom-left-radius: 4px;

  & > * {
    margin: 4px;
  }

  input[type=search] {
    height: 30px;
    width: 256px;
  }

  app-query {
    input {
      height: 21px;
    }
    button {
      height: 27px;
    }
  }

  .breadcrumbs {
    text-align: center;
    * {
      margin: 2px;
    }
  }

  .submit-button {
    white-space: nowrap;
    text-transform: capitalize;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 4px;
    cursor: pointer;
    overflow: hidden;
  }

  .tag-header {
    text-align: center;

    .subscribe, .bookmark {
      margin: 10px;
    }
  }

  .sidebar-link {
    display: block;
    text-align: center;
    font-size: 80%;
  }

  .ext-text {
    padding: 4px;
    a {
      display: inline-block;
      margin: 2px 10px;
    }
  }
}

.row {
  display: flex;
}

.list-container {
  display: grid;
  grid-template-columns: min-content auto;

  .list-number {
    text-align: right;
    align-self: center;
    padding: 10px;
    font-weight: bold;
  }
}

.grow {
  flex: 1;
  display: flex;
  flex-direction: column;
  * {
    flex: 1;
    flex-basis: 100%;
  }
}

.no-margin {
  margin: 0;
}

.form {
  max-width: 600px;
  margin: auto;
  display: grid;
  grid-template-columns: min-content auto;
  padding: 10px;

  .nested-form, formly-field, formly-group, formly-wrapper-form-field, formly-field-textarea, formly-field-input, formly-field-select {
    margin: 0;
    display: contents;
    & > * {
      margin: 4px;
    }

    & > div:empty,
    & > span:empty {
      height: 0;
      margin: 0;
    }
  }

  & > * {
    margin: 4px;
  }

  & > div:empty,
  & > span:empty {
    height: 0;
    margin: 0;
  }

  label {
    white-space: nowrap;
    vertical-align: center;
    text-align: right;
  }

  formly-field-radio, formly-field-multicheckbox {
    margin: 0;
    display: grid;
    grid-template-columns: min-content auto;
    * {
      margin: 4px;
    }
    label {
      text-align: left;
    }
  }
}

.form-group > * {
  margin: 4px 0;

  &:first-child {
    margin-top: 0;
  }
}

.form-array {
  display: flex;

  &.right {
    justify-content: right;
  }

  & > :not(:last-child) {
    margin-right: 4px;
  }

  input {
    flex: 1;
  }
}

.listbox span {
  display: flex;

  span {
    flex: 1;
    padding: 2px;
    border: 1px solid transparent;
  }
}

.page-controls {
  padding: 2px;
  margin: 10px;

  .disabled {
    pointer-events: none;
    text-decoration: none;

    &:link, &:active, &:visited {
      color: black;
    }
  }
}

.thumbnail {
  margin-right: 10px;
  width: 64px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &.default-thumbnail {
    background-image: url("~/assets/default-thumbnail.png");
  }

  &.person {
    border-radius: 32px;
  }
}

.full-page .thumbnail {
  background-position: top center;
}

.list-item {
  display: block;
  max-width: calc(100vw - 8px);
  overflow: hidden;
  border: 1px solid transparent;
  margin: 2px;
  padding: 2px;

  .link-below {
    display: flex;
  }
}

.stack {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.toggle {
  clear: both;
  margin: 4px 8px 4px 0;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  text-align: center;
  line-height: 24px;
  cursor: pointer;

  .toggle-plus {
    position: relative;
    top: -0.5px;
  }
  .toggle-x {
    position: relative;
    top: 0;
  }

  &.actions-toggle {
    margin: 4px 0 4px 8px;
  }

  &.comments {
    margin: 4px 8px 4px 8px;
  }

  &.inline, &.embed {
    display: inline-block;
    margin: 4px;
  }
}

.comment-list {
  display: grid;
}

.comment {
  .comment-container {
    padding: 2px;
    border: 1px solid transparent;
  }

  .comment-body, .actions {
    padding: 4px;
    margin-left: 20px;
  }

  .collapsed {
    font-style: italic;

    .comment-expand {
      font-style: normal;
    }
  }

  .info {
    .author {
      font-weight: bold;
    }
  }
}

.comment-reply, .comment-edit {
  button, textarea {
    margin: 5px;
  }
}

textarea.has-plugins {
  margin-bottom: 0;
}

.hints {
  float: right;
  display: flex;
  font-size: 75%;

  label {
    margin-right: 10px;
    line-height: 13px;
    align-self: center;
    sup {
      margin: 0;
    }
  }
}

.link {
  .host {
    margin-left: 4px;
    font-size: 80%;
  }
}

.info {
  font-size: 80%;
}

.actions {
  padding: 2px 0;
  height: 14px;
  font-size: 80%;
  font-weight: bold;
  white-space: nowrap;

  a {
    margin: 2px 6px 2px 0;
  }

  input {
    margin: 0;
    font-size: 80%;
    height: 10px;
  }

  select {
    margin-top: -2px;
    font-size: 90%;
  }

  button {
    position: relative;
    top: 1px;
    margin: 0 6px;
    padding: 0 4px;
    height: 14px;
    line-height: 10px;
  }
}

.expand {
  border-radius: 4px;
  margin: 2px;
  padding: 8px;
}

.image-expand {
  height: 240px;
  background-size: contain;
  background-repeat: no-repeat;
}

.video-expand {
  height: 240px;
}

.audio-expand {
  width: 100%;
  margin: 10px 0;
}

.notification {
  filter: sepia(100%) saturate(400%) brightness(74%) hue-rotate(300deg);
}

.no-results {
  margin-left: 10px;
}

.icon {
  line-height: 10px;
}

.load-more {
  display: inline-block;
  font-size: 80%;
  font-weight: bold;
  margin: 10px;
}

.empty-plugins {
  display: inline;
  font-size: 80%;
  font-style: italic;
}

textarea {
  width: 504px;
  height: 100px;
}

footer {
  clear: both;
  margin-top: 100px;
  text-align: center;
}

.login-popup {
  position: fixed;
  width: 100vw;
  z-index: 2;
  display: flex;
  justify-content: center;
  & > * {
    margin: 10px;
  }
}

button.backup, button.upload, input.upload {
  margin: 10px;
}

.validations > div {
  margin: 4px;
}

.description {
  font-size: 80%;
}

.md {
  max-width: 60em;
  overflow-wrap: break-word;
  word-wrap: break-word;

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  li p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }

  blockquote {
    padding: 0 8px;
    margin-left: 5px;
  }

  pre {
    padding: 10px !important;
  }

  hr {
    border: none;
    height: 2px;
  }

  td, th {
    padding: 4px;
  }
}

.kanban {
  padding: 4px;
  grid-gap: 8px;

  .column-title, .swim-lane-title {
    margin: 8px 0;
    padding: 4px;
    border-radius: 12px;
    font-weight: bold;
    text-align: center;
  }

  .kanban-header {
    margin-top: 8px;

    .kanban-remove {
      border-radius: 4px;
    }

    .cdk-drag-placeholder {
      display: none;
    }
  }
}

.kanban-card {
  padding: 4px;
  margin-top: 2px;

  .card-title {
    margin-bottom: 4px;
  }

  &.cdk-drag-preview {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  &.cdk-drag-placeholder {
    * {
      visibility: hidden !important;
    }
  }
}

.blog {

  .blog-entry {
    display: block;
    max-width: calc(100vw - 8px);
    overflow: hidden;
    border: 1px solid transparent;
    margin: 2px;
    padding: 2px;

    .row {
      margin-left: 10px;
    }

    .link-below {
      display: flex;
    }
  }
}

.chat {
  .gutter {
    opacity: 0.5;
  }

  .messages {
    max-height: 80vh;
    .cdk-virtual-scroll-content-wrapper {
      display: grid;
      grid-template-columns: min-content auto;
      width: 100%;
    }
  }
}
