$bg: #242424;
$text: #c9c9c9;
$active: #dc5c5c;
$info: #969696;
$tag: #af5800;
$border: lightgrey;
$unselected-tab: grey;
$error: #dc5c5c;
body.dark-theme {
  background-color: $bg;
  color: $text;

  :link {
    color: #5769c2;
  }
  :visited {
    color: #c66acb;
  }
  :active {
    color: $text;
  }

  .subscription-bar {
    background-color: $bg;
    border-bottom: 1px solid black;
    :link, :visited, :active {
      color: $text;
    }
    .current-page {
      color: $active;
    }
  }

  .tabs {
    background-color: #383838;
    border-bottom: 1px solid $border;
    background-image: url("/assets/jasper-dark.png");
    background-position: 4px 0;
    background-repeat: no-repeat;
    & > a {
      background-color: $unselected-tab;
      border-bottom: 1px solid $border;
      &:link, &:visited, &:active {
        color: black;
      }
      &.current-tab {
        color: $active;
        background-color: $bg;
        border-top: 1px solid $border;
        border-left: 1px solid $border;
        border-right: 1px solid $border;
        border-bottom: 1px solid $bg;
      }
    }

    .settings {
      background-color: $unselected-tab;
      .author {
        color: $tag;
      }
      & > a {
        &:link, &:visited, &:active {
          color: black;
        }
      }
    }
  }

  .page-controls {
    .disabled {
      &:link, &:active, &:visited {
        color: $text;
      }
    }
  }

  .ref {
    &:focus {
      border: 1px dashed $border;
    }
  }

  .comment-container {
    &:focus {
      border: 1px dashed $border;
    }
  }

  .comment-children {
    border-left: 1px dotted rgba(211, 211, 211, 0.3);
  }

  .link {
    .host {
      color: $info;
    }
  }
  .toggle {
    background-color: #525252;
  }

  .info {
    color: $info;
    :link, :visited, :active {
      color: $tag;
    }
    .collapsed {
      :link, :visited, :active {
        color: $info;
      }
    }
  }

  .expand {
    border: 1px solid $border;
  }

  .actions {
    :link, :visited, :active, .fake-link {
      color: $info;
    }
  }

  .no-results {
    color: $error;
  }

  textarea {
    background-color: $bg;
    color: $text;
  }

  hr {
    border: none;
    border-top: 1px dotted $border;
  }
}
