// Dark Theme
body.dark-theme {
  --bg: #343434;
  --bg-accent: rgba(90, 90, 90, 0.05);
  --text: #c9c9c9;
  --active: #dc5c5c;
  --info: #969696;
  --tag: #af5800;
  --border: lightgrey;
  --border-accent: rgba(255, 255, 255, 0.4);
  --unselected-tab: grey;
  --error: #dc5c5c;
  --error-bg: #231010;
  --warning: #967f46;
  --mod: #4d9339;
  --card: #3d3d3d;
  --card-dragging: #4d4d4d;
  --placeholder: #2c2c2c;
  --deleting: #dc5c5c;

  @media not print {
    color-scheme: dark;
    color: var(--text);
  }

  .debug {
    .subscription-bar:before {
      color: var(--error);
    }
    footer p {
      border-top: 2px solid var(--border);
      border-bottom: 2px solid var(--border);
    }
  }

  &, ::backdrop, .editor.fullscreen app-md {
    background-color: var(--bg);
    background-image: url("~/assets/bg-dark.png");
    background-blend-mode: soft-light;
  }

  .resize-handle:after {
    filter: drop-shadow(0.5px 0.5px 1px var(--border));
  }

  app-root > .container {
    background: radial-gradient(transparent 0, rgba(0, 0, 0, 0.3));
  }

  :link, .link-style {
    color: #5769c2;
  }

  :visited {
    color: #c66acb;
  }

  a:active {
    color: var(--text);
  }

  .editor-help-popup {
    justify-content: center;
    & > * {
      padding: 16px;
      background-color: var(--card);
      border: 1px solid transparent;
      &:hover {
        border: 1px solid var(--border);
      }
    }
  }

  .floating-ribbons {
    div span {
      border: 1px dashed var(--border);
    }
    div.on span {
      border: 0.5px solid var(--border);
    }
  }

  .toolbar {
    label {
      border: 1px dashed var(--border);
    }
    label.on {
      border: 0.5px solid var(--border);
      backdrop-filter: contrast(0.1) brightness(0.6) blur(1.5px);
    }
  }

  .context-menu {
    background-color: var(--card);

    div:hover {
      background-color: var(--bg-accent);
    }
  }

  .warning {
    color: var(--warning);
  }

  .update {
    font-size: 80%;
    color: var(--text);
    text-decoration: underline;
  }

  .error {
    font-size: 80%;
    color: var(--error);
  }

  .error-404, .error-403 {
    color: var(--error);
  }

  .error-404.submit-button {
    display: inline-block;
    margin: auto;
    color: var(--text);
    border: 1px solid var(--border);
  }

  .tag {
    color: var(--tag);
  }

  .subscription-bar {
    background-color: var(--bg);
    border-bottom: 1px solid black;

    :link, :visited, a:active {
      color: var(--text);
    }

    .current-page {
      color: var(--active);
    }

    .light-toggle {
      border-radius: 16px;
      transition: all 0.2s;
      border: 0.5px solid transparent;
      background-color: rgba(255, 255, 255, 0.1);
      &:hover {
        border: 0.5px dashed var(--border);
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }

  .tabs {
    background-color: rgba(100, 100, 100, 0.3);
    border-bottom: 1px solid var(--border);
    .logo {
      background-image: url("~/assets/jasper-dark.png");
    }

    h5 {
      text-decoration: brown;
    }

    & > a {
      background-color: var(--unselected-tab);
      border-bottom: 1px solid var(--border);

      &:hover {
        background-color: #a7a7a7;
      }

      &:link, &:visited, &:active, &.fake-link {
        color: black;
      }

      &.current-tab {
        color: var(--active);
        background-color: #292929;
        background-image: url("~/assets/bg-dark.png");
        background-blend-mode: soft-light;
        border-top: 1px solid var(--border);
        border-left: 1px solid var(--border);
        border-right: 1px solid var(--border);
        border-bottom: 1px solid transparent;
      }
    }

    .settings {
      background-color: var(--unselected-tab);

      .author {
        color: var(--tag);
      }

      & > a {
        &:link, &:visited, &:active, &.fake-link {
          color: black;
        }
      }
    }
  }

  .sidebar {
    background-color: var(--bg-accent);
    backdrop-filter: grayscale(1) contrast(0.2) brightness(0.4) blur(1px);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);

    .submit-button {
      border: 1px solid var(--border);
      transition: background-color 0.2s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }

  details.advanced {
    summary > span {
      border: 1px solid var(--border);
      border-left: none;
      border-right: none;
      transition: background-color 0.2s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }

      &:after {
        filter: drop-shadow(0 0 2px var(--bg));
      }
    }
  }

  .pinned .link {
    :link, :visited, :active {
      color: var(--mod);
    }
  }

  .list-container {
    .list-number {
      color: var(--info);
    }
  }

  .log {
    padding: 8px;
    border-radius: 4px;
    background-color: var(--card);
    backdrop-filter: blur(1px);
  }

  formly-list-section .form-array:not(:nth-child(2)) > formly-field > formly-group {
    border-top: 0.5px dashed var(--border);
  }

  .editor:focus-within, .bubble, .plugins-form > *, blockquote, .full-page .todo-list {
    border-radius: 8px;
    background-color: var(--bg-accent);
    backdrop-filter: blur(1px);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  }

  .bubble, .plugins-form > *, blockquote {
    margin-top: 8px;
    padding: 8px;
    border: 1px dashed transparent;

    hr {
      border: none;
      border-top: 0.5px dotted var(--border);
      position: relative;
      left: -8px;
      width: calc(100% + 16px);
    }

    &:first-child {
      margin: 0;
    }
  }

  .bubble, .plugins-form > * {
    &:hover {
      border: 1px dashed var(--border);
    }
  }

  .listbox .selected {
    border: 1px dotted var(--border);
  }

  ngx-monaco-editor {
    border: 1px solid var(--border);
  }

  .page-controls {
    .disabled {
      &:link, &:active, &:visited {
        color: var(--text);
      }
    }
  }

  .thumbnail, .image-expand, video, .embed-expand, .qr-expand {
    filter: drop-shadow(0px 0px 0.5px #ffffff);
  }

  .twitter iframe {
     filter: none !important;
   }

  .thumbnail.default-thumbnail {
    filter: none;
  }

  .list-item:not(.full-page):not(.expand) {
    &.last-selected {
      border: 1px dashed var(--border);
    }
  }

  .comment-container {
    &:focus-visible {
      border: 1px dashed var(--border);
    }
  }

  .comment-children {
    border-left: 1px dotted rgba(211, 211, 211, 0.3);
  }

  .link {
    .host {
      color: var(--info);
    }
  }

  .toggle {
    background-color: #525252;
  }

  .info {
    color: var(--info);

    :link, :visited, a:active {
      color: var(--tag);
    }

    .collapsed {
      :link, :visited, a:active {
        color: var(--info);
      }
    }
  }

  .ref.upload, .ext.upload {
    border-left: 10px var(--warning) groove !important;
    &.exists {
      border-left: 10px var(--error) groove !important;
    }
  }

  .ref, .form, .editor {
    .expand {
      border: 1px solid var(--border);
    }
  }

  .thread .ref .expand,
  .bubble .ref.expand {
      border: none !important;
  }

  .actions, .advanced-actions {
    :link, :visited, a:active, .fake-link {
      color: var(--info);
    }
    input:invalid {
      color: var(--error);
    }
  }

  .no-results {
    color: var(--error);
  }

  .load-more {
    color: var(--info);
  }

  hr {
    border: none;
    border-top: 1px groove var(--border);
  }

  .summary-box {
    margin: 8px;
    padding: 8px;
    border-radius: 8px;
    border: 1px dashed transparent;
    background-color: var(--bg-accent);
    backdrop-filter: blur(1px);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  }

  footer {
    hr {
      border: none;
      border-top: 1px groove var(--border-accent);
      box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3),
      0 6px 5px 1px rgba(0, 0, 0, 0.1);
    }
  }

  .login-popup {
    background-color: var(--error-bg);
  }

  .md {
    blockquote {
      color: var(--info);
      border-left: 2px solid var(--info);
    }

    del {
      color: var(--info);
    }

    hr {
      border: none;
      background: var(--info);
    }

    code {
      border-radius: 2px;
      border: 2px solid var(--bg);
      background: var(--bg);
    }

    pre > code {
      border-radius: unset;
      border: none;
      background: transparent;
    }

    table, th, tr, td {
      border: 1px solid var(--info);
      border-collapse: collapse;
    }
  }

  .kanban {
    .column-title, .swim-lane-title {
      background-color: var(--bg-accent);
      backdrop-filter: blur(1px);
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
      &:hover {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2),
                    0 0 1px rgba(255, 255, 255, 0.5);
      }
    }
    .kanban-column {
      border: 1px solid transparent;

      &:hover {
        border: 1px dashed var(--border);
      }
    }

    .kanban-header {
      .kanban-remove {
        background-color: var(--placeholder);
      }

      &.cdk-drop-list-dragging {
        .kanban-remove {
          background-color: var(--deleting);
        }
      }
    }
  }

  .kanban-card {
    border-radius: 4px;
    background-color: var(--card);
    &.unlocked {
      border-radius: 5px;
      border: 0.5px dashed var(--border-accent);
    }
    &:hover {
      filter: drop-shadow(0 0 0.5px var(--border));
    }
    &.cdk-drag-preview {
      background-color: var(--card-dragging);
    }
    &.cdk-drag-placeholder {
      background-color: var(--placeholder);
    }
  }

  .todo-item {
    border-radius: 4px;
    background-color: var(--card);
    &.unlocked {
      border-radius: 5px;
      border: 0.5px dashed var(--border-accent);
    }
    &:hover {
      filter: drop-shadow(0 0 0.5px var(--border));
    }
    &.cdk-drag-preview {
      background-color: var(--card-dragging);
    }
    &.cdk-drag-placeholder {
      background-color: var(--placeholder);
    }
  }

  .blog {
    .blog-entry {
      .blog-body {
        .expand {
          border: none;
        }
      }
    }
  }

  .chat {
    .odd > * {
      background-color: var(--bg-accent);
      backdrop-filter: blur(1px);
    }
  }

  .file, .subfolder {
    :focus, :focus-within {
      .folder-icon {
        filter: drop-shadow(0 0 2px var(--border));
      }
    }
  }

  .backgammon-board {
    --bg: rgba(178, 103, 41, 0.2);
    --black: #111;
    --red: #633;
    --brown: #431;
    --brown-alt: #653;
    --glow: rgba(200, 200, 200, 0.5);
    --move: rgba(0, 128, 0, 0.5);
  }

}
