$bg: #343434;
$bg-accent: rgba(90, 90, 90, 0.05);
$text: #c9c9c9;
$active: #dc5c5c;
$info: #969696;
$tag: #af5800;
$border: lightgrey;
$border-accent: rgba(255, 255, 255, 0.4);
$unselected-tab: grey;
$error: #dc5c5c;
$error-bg: #231010;
$warning: #967f46;
$mod: #4d9339;
$card: #3d3d3d;
$card-dragging: #4d4d4d;
$placeholder: #2c2c2c;
$deleting: #dc5c5c;
body.dark-theme {
  @media not print {
    color-scheme: dark;
    color: $text;
  }

  .debug {
    .subscription-bar:before {
      color: $error;
    }
    footer p {
      border-top: 2px solid $border;
      border-bottom: 2px solid $border;
    }
  }

  &, ::backdrop, .editor.fullscreen app-md {
    background-color: $bg;
    background-image: url("~/assets/bg-dark.png");
    background-blend-mode: soft-light;
  }

  .resize-handle:after {
    filter: drop-shadow(0.5px 0.5px 1px $border);
  }

  app-root > .container {
    background: radial-gradient(transparent 0, rgba(0, 0, 0, 0.3));
  }

  :link, .link-style {
    color: #5769c2;
  }

  :visited {
    color: #c66acb;
  }

  a:active {
    color: $text;
  }

  .editor-help-popup {
    justify-content: center;
    & > * {
      padding: 16px;
      background-color: $card;
      border: 1px solid transparent;
      &:hover {
        border: 1px solid $border;
      }
    }
  }

  .floating-ribbons {
    div span {
      border: 1px dashed $border;
    }
    div.on span {
      border: 0.5px solid $border;
    }
  }

  .toolbar {
    label {
      border: 1px dashed $border;
    }
    label.on {
      border: 0.5px solid $border;
      backdrop-filter: contrast(0.1) brightness(0.6) blur(1.5px);
    }
  }

  .context-menu {
    background-color: $card;

    div:hover {
      background-color: $bg-accent;
    }
  }

  .warning {
    color: $warning;
  }

  .update {
    font-size: 80%;
    color: $text;
    text-decoration: underline;
  }

  .error {
    font-size: 80%;
    color: $error;
  }

  .error-404, .error-403 {
    color: $error;
  }

  .error-404.submit-button {
    display: inline-block;
    margin: auto;
    color: $text;
    border: 1px solid $border;
  }

  .tag {
    color: $tag;
  }

  .subscription-bar {
    background-color: $bg;
    border-bottom: 1px solid black;

    :link, :visited, a:active {
      color: $text;
    }

    .current-page {
      color: $active;
    }

    .light-toggle {
      border-radius: 16px;
      transition: all 0.2s;
      border: 0.5px solid transparent;
      background-color: rgba(255, 255, 255, 0.1);
      &:hover {
        border: 0.5px dashed $border;
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }

  .tabs {
    background-color: rgba(100, 100, 100, 0.3);
    border-bottom: 1px solid $border;
    background-image: url("~/assets/jasper-dark.png");
    background-position: 4px 0;
    background-repeat: no-repeat;

    h5 {
      text-decoration: brown;
    }

    & > a {
      background-color: $unselected-tab;
      border-bottom: 1px solid $border;

      &:hover {
        background-color: #a7a7a7;
      }

      &:link, &:visited, &:active, &.fake-link {
        color: black;
      }

      &.current-tab {
        color: $active;
        background-color: #292929;
        background-image: url("~/assets/bg-dark.png");
        background-blend-mode: soft-light;
        border-top: 1px solid $border;
        border-left: 1px solid $border;
        border-right: 1px solid $border;
        border-bottom: 1px solid transparent;
      }
    }

    .settings {
      background-color: $unselected-tab;

      .author {
        color: $tag;
      }

      & > a {
        &:link, &:visited, &:active, &.fake-link {
          color: black;
        }
      }
    }
  }

  .sidebar {
    background-color: $bg-accent;
    backdrop-filter: grayscale(1) contrast(0.2) brightness(0.4) blur(1px);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);

    .submit-button {
      border: 1px solid $border;
      transition: background-color 0.2s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }

  details.advanced {
    summary {
      span {
        border: 1px solid $border;
        border-left: none;
        border-right: none;
        transition: background-color 0.2s;

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }

        &:after {
          filter: drop-shadow(0 0 2px $bg);
        }
      }
    }
  }

  .pinned .link {
    :link, :visited, :active {
      color: $mod;
    }
  }

  .list-container {
    .list-number {
      color: $info;
    }
  }

  .log {
    padding: 8px;
    border-radius: 4px;
    background-color: $card;
    backdrop-filter: blur(1px);
  }

  formly-list-section .form-array:not(:nth-child(2)) > formly-field > formly-group {
    border-top: 0.5px dashed $border;
  }

  .editor:focus-within, .bubble, .plugins-form > * {
    border-radius: 8px;
    background-color: $bg-accent;
    backdrop-filter: blur(1px);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  }

  .bubble, .plugins-form > * {
    margin-top: 8px;
    padding: 8px;
    border: 1px dashed transparent;

    hr {
      border: none;
      border-top: 0.5px dotted $border;
      position: relative;
      left: -8px;
      width: calc(100% + 16px);
    }

    &:first-child {
      margin: 0;
    }

    &:hover {
      border: 1px dashed $border;
    }
  }

  .listbox .selected {
    border: 1px dotted $border;
  }

  ngx-monaco-editor {
    border: 1px solid $border;
  }

  .page-controls {
    .disabled {
      &:link, &:active, &:visited {
        color: $text;
      }
    }
  }

  .thumbnail, .image-expand, video, .embed-expand, .qr-expand {
    filter: drop-shadow(0px 0px 0.5px #ffffff);
  }

  .thumbnail.default-thumbnail {
    filter: none;
  }

  .list-item:not(.full-page):not(.expand) {
    &.last-selected {
      border: 1px dashed $border;
    }
  }

  .comment-container {
    &:focus-visible {
      border: 1px dashed $border;
    }
  }

  .comment-children {
    border-left: 1px dotted rgba(211, 211, 211, 0.3);
  }

  .link {
    .host {
      color: $info;
    }
  }

  .toggle {
    background-color: #525252;
  }

  .info {
    color: $info;

    :link, :visited, a:active {
      color: $tag;
    }

    .collapsed {
      :link, :visited, a:active {
        color: $info;
      }
    }
  }

  .ref.upload, .ext.upload {
    border-left: 10px $warning groove !important;
    &.exists {
      border-left: 10px $error groove !important;
    }
  }

  .ref, .form, .editor {
    .expand {
      border: 1px solid $border;
    }
  }

  .thread .ref .expand,
  .bubble .ref.expand {
      border: none !important;
  }

  .actions {
    :link, :visited, a:active, .fake-link {
      color: $info;
    }
    input:invalid {
      color: $error;
    }
  }

  .no-results {
    color: $error;
  }

  hr {
    border: none;
    border-top: 1px groove $border;
  }

  .summary-box {
    margin: 8px;
    padding: 8px;
    border-radius: 8px;
    border: 1px dashed transparent;
    background-color: $bg-accent;
    backdrop-filter: blur(1px);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  }

  footer {
    hr {
      border: none;
      border-top: 1px groove $border-accent;
      box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3),
      0 6px 5px 1px rgba(0, 0, 0, 0.1);
    }
  }

  .login-popup {
    background-color: $error-bg;
  }

  .md {
    blockquote {
      color: $info;
      border-left: 2px solid $info;
    }

    del {
      color: $info;
    }

    hr {
      border: none;
      background: $info;
    }

    table, th, tr, td {
      border: 1px solid $info;
      border-collapse: collapse;
    }
  }

  .kanban {
    .column-title, .swim-lane-title {
      background-color: $bg-accent;
      backdrop-filter: blur(1px);
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
    }
    .kanban-column {
      border: 1px solid transparent;

      &:hover {
        border: 1px dashed $border;
      }
    }

    .kanban-header {
      .kanban-remove {
        background-color: $placeholder;
      }

      &.cdk-drop-list-dragging {
        .kanban-remove {
          background-color: $deleting;
        }
      }
    }
  }

  .kanban-card {
    border-radius: 4px;
    background-color: $card;
    &.unlocked {
      border-radius: 5px;
      border: 0.5px dashed $border-accent;
    }
    &.cdk-drag-preview {
      background-color: $card-dragging;
    }
    &.cdk-drag-placeholder {
      background-color: $placeholder;
    }
  }

  .blog {
    .blog-entry {
      .blog-body {
        .expand {
          border: none;
        }
      }
    }
  }

  .chat {
    .odd > * {
      background-color: $bg-accent;
      backdrop-filter: blur(1px);
    }
  }

  .file, .subfolder {
    :focus, :focus-within {
      .folder-icon {
        filter: drop-shadow(0 0 2px $border);
      }
    }
  }

}
