$bg: white;
$bg-accent: rgba(0, 0, 0, 0.05);
$text: black;
$blue: rgba(207, 221, 255, 0.7);
$active: #da0000;
$info: gray;
$tag: #3d3dbb;
$tag-accent: #f3ebc7;
$border: black;
$border-accent: rgba(0, 0, 0, 0.4);
$border-light: rgba(0, 0, 0, 0.2);
$unselected-tab: #b3b9c4;
$error: #da0000;
$error-bg: #ffa9a9;
$warning: #c1c500;
$mod: #136500;
$card: #f3ebc7;
$placeholder: #efebdf;
$deleting: #ffa9a9;
body.light-theme {
  color-scheme: light;
  color: $text;

  &, ::backdrop, .editor.fullscreen app-md {
    background-color: $bg;
    background-image: url("~/assets/bg-light.png");
    background-blend-mode: darken;
  }

  .debug {
    .subscription-bar:before {
      color: $error;
    }
    footer p {
      border-top: 2px solid $border;
      border-bottom: 2px solid $border;
      filter: brightness(3);
    }
  }

  .container {
  }

  .link-style {
    color: blue;
  }

  a:active {
    color: $text;
  }

  .editor-help-popup {
    justify-content: center;
    & > * {
      padding: 16px;
      background-color: $card;
      border: 1px solid transparent;
      &:hover {
        border: 1px solid $border;
      }
    }
  }

  .floating-ribbons {
    div span {
      border: 1px dashed $border;
    }
    div.on span {
      border: 0.5px solid $border;
    }
  }

  .toolbar {
    label {
      border: 1px dashed $border;
    }
    label.on {
      border: 0.5px solid $border;
      backdrop-filter: contrast(0.2) brightness(1.5) blur(1.5px);
    }
  }

  .context-menu {
    background-color: $card;

    div:hover {
      background-color: $bg-accent;
    }
  }

  .warning {
    text-shadow: 0 0 2px $warning;
  }

  .update {
    font-size: 80%;
    color: $text;
    text-decoration: underline;
  }

  .error {
    font-size: 80%;
    color: $error;
  }

  .error-404, .error-403 {
    color: $error;
  }

  .error-404.submit-button {
    display: inline-block;
    margin: auto;
    color: $text;
    border: 1px solid $border;
  }

  .tag {
    color: $tag;
    background-color: $tag-accent;
    padding: 0 2px;
    border-radius: 2px;
  }

  .subscription-bar {
    background-color: $bg;
    border-bottom: 1px solid black;

    :link, :visited, a:active {
      color: $text;
    }

    .current-page {
      color: $active;
    }

    .light-toggle {
      border-radius: 16px;
      transition: all 0.2s;
      border: 0.5px solid transparent;
      background-color: rgba(0, 0, 0, 0.2);
      &:hover {
        border: 0.5px dashed $border;
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }

  .tabs {
    background-color: $blue;
    border-bottom: 1px solid $border;
    background-image: url("~/assets/jasper-light.png");
    background-position: 4px 0;
    background-repeat: no-repeat;

    & > a {
      background-color: $unselected-tab;
      border-bottom: 1px solid $border;

      &:hover {
        background-color: #dedddd;
      }

      &:link, &:visited, &:active, &.fake-link {
        color: black;
      }

      &.current-tab {
        color: $active;
        background-color: $bg;
        background-image: url("~/assets/bg-light.png");
        background-blend-mode: darken;
        border-top: 1px solid $border;
        border-left: 1px solid $border;
        border-right: 1px solid $border;
        border-bottom: 1px solid transparent;
      }
    }

    .settings {
      background-color: $unselected-tab;

      .author {
        color: $tag;
      }

      & > a {
        &:link, &:visited, &:active, &.fake-link {
          color: black;
        }
      }
    }
  }

  .sidebar {
    border-left: 1px dashed $border;
    border-bottom: 1px dashed $border;
    backdrop-filter: grayscale(1) contrast(0.2) brightness(1.5) blur(1px);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);

    .submit-button {
      border: 1px solid $border;
      transition: background-color 0.2s;

      &:hover {
        background-color: $bg-accent;
      }
    }
  }

  details.advanced {
    summary {
      span {
        border: 1px solid $border;
        border-left: none;
        border-right: none;
        transition: background-color 0.2s;

        &:hover {
          background-color: $bg-accent;
        }
      }
    }
  }

  .pinned .link {
    :link, :visited, :active {
      color: $mod;
    }
  }

  .list-container {
    .list-number {
      color: $info;
    }
  }

  .log {
    padding: 8px;
    border-radius: 4px;
    background-color: $card;
    backdrop-filter: blur(1px);
  }

  formly-list-section .form-array:not(:nth-child(2)) > formly-field > formly-group {
    border-top: 0.5px dashed $border;
  }

  .editor:focus-within, .bubble, .plugins-form > * {
    border-radius: 8px;
    backdrop-filter: blur(1px) sepia(5%);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  }

  .bubble, .plugins-form > * {
    margin-top: 8px;
    padding: 8px;
    border: 1px dashed transparent;

    hr {
      border: none;
      border-top: 0.5px dotted $border;
      position: relative;
      left: -8px;
      width: calc(100% + 16px);
    }

    &:first-child {
      margin: 0;
    }

    &:hover {
      border: 1px dashed $border;
    }
  }

  .listbox .selected {
    border: 1px dotted $border;
  }

  ngx-monaco-editor {
    border: 1px solid $border;
  }

  .page-controls {
    .disabled {
      &:link, &:active, &:visited {
        color: $text;
      }
    }
  }

  .list-item:not(.full-page):not(.expand) {
    &:focus-visible {
      border: 1px dashed $border;
    }
  }

  .comment-container {
    &:focus-visible {
      border: 1px dashed $border;
    }
  }

  .comment-children {
    border-left: 1px dotted rgba(128, 128, 128, 0.3);
  }

  .link {
    .host {
      color: $info;
    }
  }

  .toggle {
    background-color: lightgray;
  }

  .info {
    color: $info;

    :link, :visited, a:active {
      color: $tag;
    }

    .collapsed {
      :link, :visited, a:active {
        color: $info;
      }
    }
  }

  .ref.upload, .ext.upload {
    border-left: 10px $warning groove !important;
    &.exists {
      border-left: 10px $error groove !important;
    }
  }

  .ref, .form, .editor {
    .expand {
      border: 1px solid $border;
    }
  }

  .thread .ref .expand,
  .bubble .ref.expand {
    border: none !important;
  }

  .actions {
    :link, :visited, a:active, .fake-link {
      color: $info;
    }
    input:invalid {
      color: $error;
    }
  }

  .no-results {
    color: $error;
  }

  hr {
    border: none;
    border-top: 1px groove $border;
  }

  .summary-box {
    margin: 8px;
    padding: 8px;
    border-radius: 8px;
    border: 1px dashed transparent;
    backdrop-filter: blur(1px) sepia(5%);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  }

  footer {
    hr {
      border: none;
      border-top: 1px groove $border-accent;
      box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.08),
      0 5px 5px 1px rgba(0, 0, 0, 0.1),
      0 4px 0.5px 0 white;
    }
  }

  .login-popup {
    background-color: $error-bg;
  }

  .md {
    blockquote {
      color: $info;
      border-left: 2px solid $info;
    }

    del {
      color: $info;
    }

    hr {
      border: none;
      background: $info;
    }

    table, th, tr, td {
      border: 1px solid $info;
      border-collapse: collapse;
    }
  }

  .kanban {
    .column-title, .swim-lane-title {
      border-radius: 12px;
      padding: 4px;
      background-color: transparent;
      backdrop-filter: blur(1px) sepia(5%);
      border: 0.5px solid $border-light;
    }
    .kanban-column {
      border: 1px solid transparent;

      &:hover {
        border: 1px dashed $border;
      }
    }

    .kanban-header {
      .kanban-remove {
        background-color: $placeholder;
      }

      &.cdk-drop-list-dragging {
        .kanban-remove {
          background-color: $deleting;
        }
      }
    }
  }

  .kanban-card {
    border-radius: 4px;
    background-color: $card;
    &.unlocked {
      border-radius: 5px;
      border: 0.25px dashed $border-accent;
    }
    &.cdk-drag-placeholder {
      background-color: $placeholder;
    }
  }

  .blog {
    .blog-entry {
      .blog-body {
        .expand {
          border: none;
        }
      }
    }
  }

  .chat {
    .odd > * {
      background-color: $bg-accent;
      backdrop-filter: blur(1px);
    }
  }

  .file, .subfolder {
    :focus, :focus-within {
      .folder-icon {
        filter: drop-shadow(0 0 2px $border);
        background-color: red;
      }
    }
  }
}
