// Light Theme
body.light-theme {
  --bg: white;
  --bg-accent: rgba(0, 0, 0, 0.05);
  --text: black;
  --blue: rgba(207, 221, 255, 0.7);
  --active: #da0000;
  --info: gray;
  --tag: #3d3dbb;
  --tag-accent: #f3ebc7;
  --border: black;
  --border-accent: rgba(0, 0, 0, 0.4);
  --border-light: rgba(0, 0, 0, 0.2);
  --unselected-tab: #b3b9c4;
  --error: #da0000;
  --error-bg: #ffa9a9;
  --warning: #c1c500;
  --mod: #136500;
  --card: #f3ebc7;
  --placeholder: #efebdf;
  --deleting: #ffa9a9;

  color-scheme: light;
  color: var(--text);

  &, ::backdrop, .editor.fullscreen app-md {
    background-color: var(--bg);
    background-image: url("~/assets/bg-light.png");
    background-blend-mode: darken;
  }

  .debug {
    .subscription-bar:before {
      color: var(--error);
    }
    footer p {
      border-top: 2px solid var(--border);
      border-bottom: 2px solid var(--border);
      filter: brightness(3);
    }
  }

  .container {
  }

  .link-style {
    color: blue;
  }

  a:active {
    color: var(--text);
  }

  .editor-help-popup {
    justify-content: center;
    & > * {
      padding: 16px;
      background-color: var(--card);
      border: 1px solid transparent;
      &:hover {
        border: 1px solid var(--border);
      }
    }
  }

  .floating-ribbons {
    div span {
      border: 1px dashed var(--border);
    }
    div.on span {
      border: 0.5px solid var(--border);
    }
  }

  .toolbar {
    label {
      border: 1px dashed var(--border);
    }
    label.on {
      border: 0.5px solid var(--border);
      backdrop-filter: contrast(0.2) brightness(1.5) blur(1.5px);
    }
  }

  .context-menu {
    background-color: var(--card);

    div:hover {
      background-color: var(--bg-accent);
    }
  }

  .warning {
    text-shadow: 0 0 2px var(--warning);
  }

  .update {
    font-size: 80%;
    color: var(--text);
    text-decoration: underline;
  }

  .error {
    font-size: 80%;
    color: var(--error);
  }

  .error-404, .error-403 {
    color: var(--error);
  }

  .error-404.submit-button {
    display: inline-block;
    margin: auto;
    color: var(--text);
    border: 1px solid var(--border);
  }

  .tag {
    color: var(--tag);
    background-color: var(--tag-accent);
    padding: 0 2px;
    border-radius: 2px;
  }

  .subscription-bar {
    background-color: var(--bg);
    border-bottom: 1px solid black;

    :link, :visited, a:active {
      color: var(--text);
    }

    .current-page {
      color: var(--active);
    }

    .light-toggle {
      border-radius: 16px;
      transition: all 0.2s;
      border: 0.5px solid transparent;
      background-color: rgba(0, 0, 0, 0.2);
      &:hover {
        border: 0.5px dashed var(--border);
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }

  .tabs {
    background-color: var(--blue);
    border-bottom: 1px solid var(--border);
    background-image: url("~/assets/jasper-light.png");
    background-position: 4px 0;
    background-repeat: no-repeat;

    & > a {
      background-color: var(--unselected-tab);
      border-bottom: 1px solid var(--border);

      &:hover {
        background-color: #dedddd;
      }

      &:link, &:visited, &:active, &.fake-link {
        color: black;
      }

      &.current-tab {
        color: var(--active);
        background-color: var(--bg);
        background-image: url("~/assets/bg-light.png");
        background-blend-mode: darken;
        border-top: 1px solid var(--border);
        border-left: 1px solid var(--border);
        border-right: 1px solid var(--border);
        border-bottom: 1px solid transparent;
      }
    }

    .settings {
      background-color: var(--unselected-tab);

      .author {
        color: var(--tag);
      }

      & > a {
        &:link, &:visited, &:active, &.fake-link {
          color: black;
        }
      }
    }
  }

  .sidebar {
    border-left: 1px dashed var(--border);
    border-bottom: 1px dashed var(--border);
    backdrop-filter: grayscale(1) contrast(0.2) brightness(1.5) blur(1px);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);

    .submit-button {
      border: 1px solid var(--border);
      transition: background-color 0.2s;

      &:hover {
        background-color: var(--bg-accent);
      }
    }
  }

  details.advanced {
    summary > span {
      border: 1px solid var(--border);
      border-left: none;
      border-right: none;
      transition: background-color 0.2s;

      &:hover {
        background-color: var(--bg-accent);
      }
    }
  }

  .pinned .link {
    :link, :visited, :active {
      color: var(--mod);
    }
  }

  .list-container {
    .list-number {
      color: var(--info);
    }
  }

  .log {
    padding: 8px;
    border-radius: 4px;
    background-color: var(--card);
    backdrop-filter: blur(1px);
  }

  formly-list-section .form-array:not(:nth-child(2)) > formly-field > formly-group {
    border-top: 0.5px dashed var(--border);
  }

  .editor:focus-within, .bubble, .plugins-form > * {
    border-radius: 8px;
    backdrop-filter: blur(1px) sepia(5%);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  }

  .bubble, .plugins-form > * {
    margin-top: 8px;
    padding: 8px;
    border: 1px dashed transparent;

    hr {
      border: none;
      border-top: 0.5px dotted var(--border);
      position: relative;
      left: -8px;
      width: calc(100% + 16px);
    }

    &:first-child {
      margin: 0;
    }

    &:hover {
      border: 1px dashed var(--border);
    }
  }

  .listbox .selected {
    border: 1px dotted var(--border);
  }

  ngx-monaco-editor {
    border: 1px solid var(--border);
  }

  .page-controls {
    .disabled {
      &:link, &:active, &:visited {
        color: var(--text);
      }
    }
  }

  .list-item:not(.full-page):not(.expand) {
    &.last-selected {
      border: 1px dashed var(--border);
    }
  }

  .comment-container {
    &:focus-visible {
      border: 1px dashed var(--border);
    }
  }

  .comment-children {
    border-left: 1px dotted rgba(128, 128, 128, 0.3);
  }

  .link {
    .host {
      color: var(--info);
    }
  }

  .toggle {
    background-color: lightgray;
  }

  .info {
    color: var(--info);

    :link, :visited, a:active {
      color: var(--tag);
    }

    .collapsed {
      :link, :visited, a:active {
        color: var(--info);
      }
    }
  }

  .ref.upload, .ext.upload {
    border-left: 10px var(--warning) groove !important;
    &.exists {
      border-left: 10px var(--error) groove !important;
    }
  }

  .ref, .form, .editor {
    .expand {
      border: 1px solid var(--border);
    }
  }

  .thread .ref .expand,
  .bubble .ref.expand {
    border: none !important;
  }

  .actions {
    :link, :visited, a:active, .fake-link {
      color: var(--info);
    }
    input:invalid {
      color: var(--error);
    }
  }

  .no-results {
    color: var(--error);
  }

  hr {
    border: none;
    border-top: 1px groove var(--border);
  }

  .summary-box {
    margin: 8px;
    padding: 8px;
    border-radius: 8px;
    border: 1px dashed transparent;
    backdrop-filter: blur(1px) sepia(5%);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  }

  footer {
    hr {
      border: none;
      border-top: 1px groove var(--border-accent);
      box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.08),
      0 5px 5px 1px rgba(0, 0, 0, 0.1),
      0 4px 0.5px 0 white;
    }
  }

  .login-popup {
    background-color: var(--error-bg);
  }

  .md {
    blockquote {
      color: var(--info);
      border-left: 2px solid var(--info);
    }

    del {
      color: var(--info);
    }

    hr {
      border: none;
      background: var(--info);
    }

    table, th, tr, td {
      border: 1px solid var(--info);
      border-collapse: collapse;
    }
  }

  .kanban {
    .column-title, .swim-lane-title {
      border-radius: 12px;
      padding: 4px;
      background-color: transparent;
      backdrop-filter: blur(1px) sepia(5%);
      border: 0.5px solid var(--border-light);
    }
    .kanban-column {
      border: 1px solid transparent;

      &:hover {
        border: 1px dashed var(--border);
      }
    }

    .kanban-header {
      .kanban-remove {
        background-color: var(--placeholder);
      }

      &.cdk-drop-list-dragging {
        .kanban-remove {
          background-color: var(--deleting);
        }
      }
    }
  }

  .kanban-card {
    border-radius: 4px;
    background-color: var(--card);
    &.unlocked {
      border-radius: 5px;
      border: 0.25px dashed var(--border-accent);
    }
    &.cdk-drag-placeholder {
      background-color: var(--placeholder);
    }
  }

  .blog {
    .blog-entry {
      .blog-body {
        .expand {
          border: none;
        }
      }
    }
  }

  .chat {
    .odd > * {
      background-color: var(--bg-accent);
      backdrop-filter: blur(1px);
    }
  }

  .file, .subfolder {
    :focus, :focus-within {
      .folder-icon {
        filter: drop-shadow(0 0 2px var(--border));
        background-color: red;
      }
    }
  }
}
