body.macos, body.ios {
  input, textarea {
    background-color: var(--form-bg);
  }
  .toggle {
    line-height: 22px;
  }
  .actions-toggle {
    line-height: 25px;
  }
  // See `mobile.scss`
  $mobile-width: 740px;
  @media (max-width: $mobile-width) {
    .subscription-bar {
      .light-toggle > * {
        margin-top: -5px
      }
    }
  }
}

body.macos {
  .subscription-bar {
    .back-button {
      padding-top: 2px;
    }
    .light-toggle {
      padding: 2px 20px 15px 22px;
    }
  }
  app-query {
    input {
      height: 19px;
    }
  }
  select.big {
    font-size: 21px;
  }
  button {
    min-height: 22.5px;
  }
  .search {
    input[type=search] {
      margin-top: 0;
    }
  }
  .search.centered {
    position: relative;
    top: 50%;
    input[type=search] {
      transform: translateY(-50%);
    }
  }
}

body.ios {
  .form-array button {
    min-height: 30px !important;
  }
  .toggle {
    .toggle-x {
      top: -1px;
    }
  }
  .form,
   formly-list-section .form-array > formly-field > formly-group {
     .nested-form,
     formly-field,
     formly-group,
     formly-wrapper-form-field,
     formly-field-textarea,
     formly-field-input,
     formly-field-select,
     formly-list-section {
       & > label {
         line-height: 30px;
       }
     }
     & > label {
       line-height: 30px;
     }
   }
}
