body.macos, body.ios {
  // See `mobile.scss`
  $mobile-width: 740px;
  @media (max-width: $mobile-width) {
    .subscription-bar {
      .light-toggle > * {
        margin-top: -5px
      }
    }
  }
}

body.macos {
  .subscription-bar {
    .back-button {
      padding-top: 2px;
    }
    .light-toggle {
      padding: 2px 20px 15px 22px;
    }
  }
  input[type=email], input[type=url], input[type=text], input[type=number], input[type=search], textarea {
    appearance: none;
    border-radius: 2px;
    padding: 1px 2px;
    border: 1px solid var(--border-accent);
    background-color: var(--form-bg);
  }
  select.big {
    font-size: 21px;
  }
  button {
    min-height: 22.5px;
  }
}
