$mobile-width: 740px;
$tablet-width: 960px;

/* Tablet and Bigger Screens */
@media (min-width: $mobile-width) {
  app-mobile-tab-select {
    display: none;
  }

  .toggle.actions-toggle, .toggle.comments {
    display: none;
  }

  .full-page-form {
    app-ref {
      max-width: 80%;
      margin: auto;
    }
    .form {
      margin: auto;
    }
  }

  .mobile-block, .mobile-inline {
    display: none !important;
  }
}


/* Mobile Overrides */
@media not print {
/* Tablet and Smaller Screens */
@media (max-width: $tablet-width) {
.sidebar {
  position: static !important;
  float: none !important;
  backdrop-filter: blur(1px) !important;
  border: none !important;

  details {
    max-height: 42px;
  }

  input[type=search] {
    width: 100%;
  }

  & > * {
    max-height: 1000px;
    overflow: hidden;
    transition: opacity .4s .1s,
    font-size .5s,
    margin .5s,
    padding .5s,
    border .5s,
    max-height .5s;
  }

  &:not(.expanded) {
    .hide {
      transition: opacity .5s,
      font-size .4s .1s,
      margin .4s .1s,
      padding .4s .1s,
      border .4s .1s,
      max-height .4s .1s;
      font-size: 0 !important;
      margin: 0 !important;
      max-height: 0 !important;
      opacity: 0 !important;
      padding: 0 !important;
      border: 0 !important;
    }
    .button-bar {
      flex-direction: row;
    }
    .submit-button {
      display: flex;
      flex-grow: 1;
      margin: 0;
      margin-right: 4px;
      align-items: center;
      &:last-child {
        margin-right: 1px;
      }
      span {
        width: 100%;
        text-align: center;
      }
      label {
        display: none;
      }
    }
  }
}
}

/* Phone Screens */
@media (max-width: $mobile-width) {
  .mobile-col {
    flex-direction: column;
  }
  .mobile-hide {
    display: none !important;
  }
  .mobile-block {
    display: block !important;
  }
  .mobile-inline {
    display: inline !important;
  }

  .tabs {
    h5 {
      flex-basis: 100%;
    }
    & > a:not(.current-tab) {
      display: none;
    }
  }

  .editor, .summary-box {
    margin: 0 !important;
    padding: 0 !important;
    background-color: unset !important;
    backdrop-filter: unset !important;
    box-shadow: unset !important;
    border: 1px solid transparent !important;
  }

  .list-container {
    .list-number {
      opacity: 0;
      width: 0;
      padding: 0;
    }
    .link {
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
    }
  }

  .form {
    padding: 0;
  }

  textarea {
    margin: 0;
    resize: vertical;
  }

  ngx-monaco-editor {
    width: 100vw !important;
    max-height: 50vh;
  }

  .voting {
    font-size: 170%;
    * {
      transform: none !important;
    }
  }

  .comment {
    margin-left: 2px;

    .voting {
      margin-top: 10px;
    }

    .comment-children {
      margin-left: 2px;
    }

    .comment-container {
      max-width: calc(100% - 8px);
    }
  }

  .comment-reply, .comment-edit {
    width: calc(100vw - 8px);
  }

  .embed {
    position: relative;
    left: 0;
    margin: 0;
    width: 100vw;
  }

  video {
    width: 100vw;
    height: 100vh;
  }

  .full-page {
    .embed {
      width: calc(100vw - 10px);
    }
  }

  .info, .actions {
    font-size: 16px;
    line-height: 28px;
    height: 28px;
    padding-top: 0;
    padding-bottom: 0;
    transition: height .5s;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;

    a, .fake-link {
      line-height: 28px;
    }
  }

  .ref {
    .info, .actions {
      height: 0;

      &.expanded {
        height: 28px;
        padding-bottom: 10px;
      }
    }
  }

  .expand {
    border: none !important;
  }

  .image-expand {
    width: 100vw;
    height: 100vh;
  }

  .fill-editor {
    margin: 0 !important;
  }

  .editor textarea {
      margin-left: -12px;
  }

  .cdk-overlay-pane .editor textarea {
    margin-left: 2px;
  }

  .full-page {
    .toggle.actions-toggle, .toggle.comments {
      display: none;
    }

    .info, .actions {
      height: 28px;
      padding-bottom: 10px;
    }
  }
  .form {
    max-width: 100vw;
    display: flex !important;
    flex-direction: column;

    label {
      text-align: left;
    }
  }
}
}
