

.print-block, .print-inline {
  display: none !important;
}

@media print {
  .print-hide {
    display: none !important;
  }
  .print-block {
    display: block !important;
  }
  .print-inline {
    display: inline !important;
  }

  .login-popup,
  .notifications-popup,
  .subscription-bar,
  .tabs a,
  .tabs .settings,
  .sidebar,
  .toggle,
  .actions,
  .blog .icon,
  app-comment-reply,
  .mobile-tab-select,
  footer {
    display: none !important;
  }

  hr {
    box-shadow: none !important;
  }

  body, .container {
      background: none !important;
  }

  .tabs,
  .print-images,
  .thumbnail,
  .logo {
    color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .tabs {
    background-color: unset !important;
    .logo {
      background-image: url("~/assets/jasper-light.png") !important;
    }
  }

  .image-expand {
    max-width: 100% !important;
  }
  .md code {
    border: unset !important;
    background-color: unset !important;
  }

}
