
@media print {

  .login-popup,
  .subscription-bar,
  .tabs a,
  .tabs .settings,
  .sidebar,
  .toggle,
  app-comment-reply,
  app-mobile-tab-select {
    display: none !important;
  }

  hr {
    box-shadow: none !important;
  }

  body, .container {
      background: none !important;
  }

  footer {
    display: none;
  }

}
