<ng-container *mobxAutorun>
  <ng-container *ngIf="!store.account.signedIn">
    <ng-container *ngIf="authn.clientAuth">
      <a class="fake-link" (click)="authn.logIn()" i18n>login</a>
      <span *ngIf="config.signup" i18n> or </span>
    </ng-container>
    <ng-container *ngIf="!authn.clientAuth && config.login">
      <a [href]="config.loginLink" i18n>login</a>
      <span *ngIf="config.signup" i18n> or </span>
    </ng-container>
    <ng-container *ngIf="config.signup">
      <a [href]="config.signup" i18n>sign up</a>
    </ng-container>
    <span *ngIf="authn.clientAuth || config.login || config.signup"> | </span>
    <a routerLink="/settings" i18n>settings</a>
  </ng-container>
  <ng-container *ngIf="store.account.signedIn">
    <a class="author"
       [title]="fullUserTagAndRole"
       [routerLink]="['/tag', store.account.tag]">{{ shortUserTag }}</a>
    <ng-container *ngIf="admin.status.plugins.inbox && admin.status.templates.user">
      <ng-container *ngIf="store.account.notifications as n; else noNotifications">
        | {{ n }} <a class="inbox notification" routerLink="/inbox/unread">✉️</a>
      </ng-container>
      <ng-template #noNotifications>
        | <a class="inbox" routerLink="/inbox">✉️</a>
      </ng-template>
    </ng-container>
    | <a routerLink="/settings" i18n>settings</a>
    <a *ngIf="store.view.updates"
       routerLink="/settings/setup"
       i18n-title title="Updates available in setup" i18n>🌟️</a>
    <ng-container *ngIf="authn.clientAuth">
      | <a class="fake-link" (click)="authn.logOut()" i18n>logout</a>
    </ng-container>
    <ng-container *ngIf="!authn.clientAuth && config.logout">
      | <a [href]="config.logout" i18n>logout</a>
    </ng-container>
  </ng-container>
</ng-container>
