<div class="tabs">
  <h5>Submit Web Link</h5>
  <div class="spacer"></div>
  <app-settings></app-settings>
</div>

<form class="form" [formGroup]="webForm" (ngSubmit)="submit()">

  <label for="url">URL:</label>
  <input id="url" type="text" formControlName="url" [attr.disabled]="true">

  <label for="title">Title:</label>
  <input id="title" type="text" [formControl]="title">
  <span><!-- Title Errors --></span>
  <div>
    <div class="error" *ngIf="title.touched && title.errors?.['required']">
      Title must not be blank.
    </div>
  </div>

  <label for="published">Published:</label>
  <input id="published" type="date" [formControl]="published">
  <span><!-- Published Errors --></span>
  <div>
    <div class="error" *ngIf="published.touched && published.errors?.['required']">
      Published date is required.
    </div>
  </div>

  <label for="comment">Abstract:</label>
  <textarea id="comment" [formControl]="comment"></textarea>

  <label for="sources">Sources:</label>
  <div id="sources" class="form-group" formArrayName="sources">
    <button type="button" (click)="addSource()">+ Add another source</button>

    <div *ngFor="let source of sources.controls; let i=index">
      <label for="sources-{{ i }}">Source:</label>
      <input id="sources-{{ i }}" type="text" [formControl]="$any(source)">
      <button type="button" (click)="removeSource(i)">&ndash;</button>
      <div class="error" *ngIf="sources.at(i).touched && sources.at(i).errors?.['required']">
        Source must not be blank.
      </div>
    </div>
  </div>

  <label for="tags">Tags:</label>
  <div id="tags" class="form-group" formArrayName="tags">
    <button type="button" (click)="addTag()">+ Add another tag</button>

    <div *ngFor="let tag of tags.controls; let i=index">
      <label for="tags-{{ i }}">Tag:</label>
      <input id="tags-{{ i }}" type="text" [formControl]="$any(tag)">
      <button type="button" (click)="removeTag(i)">&ndash;</button>
      <div class="error" *ngIf="tags.at(i).touched && tags.at(i).errors?.['pattern']">
        Tags must be lower case letters and forward slashes. Must not start with a slash or contain two forward slashes in a row. Private
        tags start with an underscore.<br>
        (i.e. "science", "my/tag", or "_my/private/tag")
      </div>
      <div class="error" *ngIf="tags.at(i).touched && tags.at(i).errors?.['required']">
        Tag must not be blank.
      </div>
    </div>
  </div>

  <ng-container *ngFor="let e of serverError">
    <span><!-- Unexpected Error --></span>
    <div class="error">{{ e }}</div>
  </ng-container>

  <span><!-- Buttons --></span>
  <span class="form-group">
    <button type="submit" [disabled]="submitted && !webForm.valid">Submit</button>
  </span>

</form>
