<div class="tabs">
  <div class="spacer"></div>
  <app-settings></app-settings>
</div>

<form class="form" [formGroup]="editForm" (ngSubmit)="save()">

  <label for="tag">Tag:</label>
  <input id="tag" type="text" formControlName="tag" [attr.disabled]="true">

  <label for="name">Name:</label>
  <input id="name" type="text" formControlName="name">

  <label for="sidebar">Sidebar:</label>
  <textarea id="sidebar" [formControl]="sidebar"></textarea>

  <label for="pinned">Pinned:</label>
  <div id="pinned" class="form-group">
    <button type="button" (click)="addPinned()">+ Add another pinned link</button>

    <div *ngFor="let alias of pinned.controls; let i=index">
      <label for="pinned-{{ i }}">Link:</label>
      <input id="pinned-{{ i }}" type="text" [formControlName]="i">
      <button type="button" (click)="removePinned(i)">&ndash;</button>
      <div class="error" *ngIf="pinned.at(i).touched && pinned.at(i).errors?.['required']">
        Pinned link must not be blank.
      </div>
    </div>
  </div>

  <ng-container *ngFor="let e of serverError">
    <span><!-- Unexpected Error --></span>
    <div class="error">{{ e }}</div>
  </ng-container>

  <span><!-- Buttons --></span>
  <span>
    <button type="submit" [disabled]="submitted && !editForm.valid">Save</button>
  </span>

</form>
