<div class="tabs">
  <h5 i18n>Edit Tag Extension</h5>
  <app-settings></app-settings>
</div>

<form *ngIf="editForm" class="form" [formGroup]="editForm" (ngSubmit)="save()">

  <app-ext-form [group]="editForm"></app-ext-form>

  <ng-container *ngFor="let e of serverError">
    <span><!-- Unexpected Error --></span>
    <div class="error">{{ e }}</div>
  </ng-container>

  <span><!-- Buttons --></span>
  <span class="form-array right">
    <button type="submit" [disabled]="submitted && !editForm.valid" i18n>Save</button>
    <button type="button" (click)="delete()" i18n>Delete</button>
  </span>

</form>
