<div class="tabs">
  <h5>Inbox</h5>
  <a routerLink="./all" routerLinkActive="current-tab">all</a>
  <a routerLink="./unread" routerLinkActive="current-tab">unread</a>
  <ng-container *ngIf="admin.status.plugins.invoice">
    <a routerLink="./invoices" routerLinkActive="current-tab">invoices</a>
  </ng-container>
  <a routerLink="./sent" routerLinkActive="current-tab">sent</a>
  <div class="spacer"></div>
  <app-settings></app-settings>
</div>
<app-sidebar></app-sidebar>
<router-outlet></router-outlet>
