<div class="tabs">
  <h5>Submit</h5>
  <app-settings></app-settings>
</div>
<form class="form" [formGroup]="submitForm" (ngSubmit)="submit()">

  <ng-container *ngIf="feed">
    <span>Type:</span>
    <span>RSS / Atom Feed</span>
  </ng-container>

  <ng-container *ngIf="origin">
    <span>Type:</span>
    <span>Replicate Remote Origin</span>
  </ng-container>

  <ng-container *ngIf="wiki">
    <span>Type:</span>
    <span>Wiki</span>
  </ng-container>

  <label for="url" *ngIf="!wiki">URL:</label>
  <label for="url" *ngIf="wiki">Title:</label>
  <input id="url" type="text" formControlName="url" appAutofocus>

  <br>
  <div class="validations">
    <ng-container *ngFor="let v of validations">
      <div *ngIf="v.passed">✔️ &nbsp;{{ v.name }}</div>
      <div *ngIf="!v.passed">❌️ &nbsp;{{ v.name }}</div>
    </ng-container>
  </div>

  <span><!-- Buttons --></span>
  <span class="form-array">
    <button type="submit" [disabled]="!submitForm.valid">Next</button>
    <div *ngIf="web">
      <input id="scrape" type="checkbox" [checked]="scrape" (input)="scrape = $any($event.target).value">
      <label for="scrape">Scrape</label>
    </div>
  </span>
</form>

<ng-container *ngIf="existingRef">
  <br>
  <app-ref [ref]="existingRef" [showToggle]="true"></app-ref>
</ng-container>
