<ng-container *mobxAutorun>
  <div #tabs class="tabs">
    <h5 i18n>Submit</h5>
    <a routerLink="/submit"
       [class.current-tab]="store.submit.web && !store.submit.internal"
       [queryParams]="{ url: url.value, tag: store.submit.withoutInternal }"
       [replaceUrl]="true"
       queryParamsHandling="merge" i18n>link</a>
    <a routerLink="/submit/text"
       [class.current-tab]="store.submit.text"
       [queryParams]="{ url: null, tag: store.submit.withoutInternal }"
       queryParamsHandling="merge" i18n>text</a>
    <a class="fake-link"
       (click)="showUpload() || uploadFile.click()"
       [class.current-tab]="store.submit.upload"
       i18n-title title="Upload Refs and Exts"
       i18n>upload</a>
    <ng-container *ngIf="!admin.isWikiExternal()">
      <a routerLink="/submit"
         [class.current-tab]="store.submit.wiki"
         [queryParams]="{ url: wikify, tag: store.submit.withoutInternal }"
         [replaceUrl]="true"
         queryParamsHandling="merge" i18n>wiki</a>
    </ng-container>
    <a routerLink="/submit/dm"
       *ngIf="admin.status.templates.dm"
       [class.current-tab]="store.submit.subpage === 'dm'"
       [queryParams]="{ url: null, tag: store.submit.withoutInternal }"
       queryParamsHandling="merge" i18n>dm</a>
    <a *ngFor="let p of store.submit.submitInternal" routerLink="/submit/web"
       [class.current-tab]="store.submit.tags.includes(p.tag)"
       [queryParams]="{ tag: withTag(p.tag), url: genUrl }"
       [replaceUrl]="true"
       queryParamsHandling="merge">{{ p.config!.submitInternal }}</a>
    <app-mobile-tab-select [tabs]="tabs"></app-mobile-tab-select>
    <app-settings></app-settings>
  </div>

  <input #uploadFile
         type="file"
         class="upload"
         (change)="upload(uploadFile?.files!)"
         multiple>
  <router-outlet></router-outlet>

  <div class="full-page-form" *ngIf="!store.submit.subpage">
    <form class="form" [formGroup]="submitForm" (ngSubmit)="submit()">

      <ng-container *ngIf="!store.submit.wiki && selectedPlugin">
        <span i18n>Type:</span>
        <div>
          <span>{{ selectedPlugin.name || selectedPlugin.config?.submit || selectedPlugin.tag }}</span>
          <p *ngIf="selectedPlugin.config?.description" class="description">
            {{ selectedPlugin.config!.description }}
          </p>
        </div>
      </ng-container>

      <ng-container *ngIf="store.submit.wiki">
        <span i18n>Type:</span>
        <div>
          <span i18n>Wiki</span>
          <p class="description" i18n>
            Create a text post that can be linked to via double bracket [[Wiki]] style.
          </p>
        </div>
      </ng-container>

      <label for="url" class="big" *ngIf="!store.submit.wiki"></label>
      <label for="url" class="big" *ngIf="store.submit.wiki">Title:</label>
      <div class="form-array">
        <app-select-plugin *ngIf="store.submit.web" [(plugin)]="plugin"></app-select-plugin>
        <input id="url"
               [placeholder]="placeholder"
               class="big"
               type="text"
               autocomplete="off"
               formControlName="url"
               appAutofocus>
        <app-qr-scanner *ngIf="!store.submit.wiki" (data)="scanQr($event)"></app-qr-scanner>
      </div>

      <ng-container *ngFor="let e of serverErrors">
        <span><!-- Unexpected Error --></span>
        <div class="error">{{ e }}</div>
      </ng-container>

      <span><!-- Tags --></span>
      <div class="form-array right">
        <span *ngFor="let tag of store.submit.tags">🏷️{{ tag }}</span>
      </div>

      <br>
      <div class="validations">
        <ng-container *ngFor="let v of validations">
          <div *ngIf="v.passed">✅️ &nbsp;{{ v.name }}</div>
          <div *ngIf="!v.passed">❌️ &nbsp;{{ v.name }}</div>
        </ng-container>
      </div>

      <span><!-- Buttons --></span>
      <span class="form-array right">
    <button type="submit" [disabled]="!submitForm.valid">Next</button>
    <div *ngIf="store.submit.web">
      <input id="scrape" type="checkbox" [checked]="scrape" (input)="scrape = !scrape">
      <label for="scrape">Scrape</label>
    </div>
  </span>
    </form>

    <ng-container *ngIf="existingRef">
      <br>
      <app-ref [ref]="existingRef" [showToggle]="true"></app-ref>
    </ng-container>
  </div>
</ng-container>
