<div [style.height.px]="contentHeight">
  <cdk-virtual-scroll-viewport autosize
                               *ngIf="!graph"
                               class="list-container"
                               (scroll)="scrollViewport($event)"
                               [style.height]="'calc(min(100vh, ' + contentHeight + 'px))'"
                               [style.position]="'relative'"
                               [style.top.px]="top">
    <ng-container *ngFor="let ref of pinned">
      <div class="list-number">&bullet;</div>
      <app-ref class="pinned"
               [ref]="ref"
               [showToggle]="true"
               [expanded]="expanded"></app-ref>
    </ng-container>
    <div *cdkVirtualFor="let ref of page?.content; let i = index" class="form-container">
      <div class="list-number">{{ getNumber(i) }}</div>
      <app-ref [ref]="ref"
               [showToggle]="true"
               [showAlarm]="showAlarm"
               [expanded]="expanded"></app-ref>
    </div>
    <ng-container *ngFor="let ref of newRefs; let i = index">
      <div class="list-number">{{ getNumber(i + (page?.content?.length || 0)) }}</div>
      <app-ref [ref]="ref"
               [showToggle]="true"
               [expanded]="expanded"></app-ref>
    </ng-container>
  </cdk-virtual-scroll-viewport>
</div>
<ng-container *ngIf="page else loading">
  <p class="no-results" *ngIf="page.empty else results">
    {{ emptyMessage }}
  </p>
  <ng-template #results>
    <app-force-directed *ngIf="graph"
                        [tag]="tag"
                        [content]="page.content"></app-force-directed>
    <app-page-controls *ngIf="pageControls && !graph"
                       [page]="page"></app-page-controls>
  </ng-template>
</ng-container>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
