<div class="tabs">
  <h5>Administration</h5>
  <a routerLink="./setup" routerLinkActive="current-tab">setup</a>
  <a routerLink="./origin" routerLinkActive="current-tab">origins</a>
  <a routerLink="./plugin" routerLinkActive="current-tab">plugins</a>
  <a routerLink="./template" routerLinkActive="current-tab">templates</a>
  <a routerLink="./backup" routerLinkActive="current-tab">backup</a>
  <div class="spacer"></div>
  <app-settings></app-settings>
</div>
<app-sidebar class="aside" [searchable]="false"></app-sidebar>
<router-outlet></router-outlet>
