<ng-container *mobxAutorun>
  <div class="row">
    <div class="toggle"
         *ngIf="showToggle"
         (click)="expanded = !expanded">☰</div>
    <div class="wide" *ngIf="store.view.type && (!home || store.view.search || store.view.filter.length || !query.page?.empty)">
      <app-search></app-search>
      <div class="show-remotes" *ngIf="expanded && (store.view.settings || store.view.tags)">
        <input id="show-remotes" #sr type="checkbox" [checked]="store.view.showRemotes" (input)="showRemotes = sr.checked">
        <label for="show-remotes" i18n>show remotes</label>
      </div>
    </div>
  </div>
  <ng-container *ngIf="expanded && store.view.type && (!home || store.view.search || store.view.filter.length || !query.page?.empty)">
    <app-query *ngIf="store.view.tag" [query]="tag" class="breadcrumbs"></app-query>
    <div class="row">
      <app-filter [type]="store.view.type!" [activeExts]="store.view.exts"></app-filter>
      <app-sort [type]="store.view.type!"></app-sort>
    </div>
  </ng-container>
  <app-debug *ngIf="expanded"></app-debug>
  <app-bulk *ngIf="expanded && store.view.type" [type]="store.view.type!" [activeExts]="store.view.exts"></app-bulk>
  <span class="button-bar">
    <ng-container *ngIf="store.account.user && (store.view.type === 'ref' || store.view.current === 'ref/summary')">
      <div *ngIf="plugin?.config?.submitDm else submitInternal" class="submit-button" routerLink="/submit/dm" [queryParams]="{ tag: plugin!.tag, url: genUrl }">
        <span i18n-title title="Submit" i18n>📝️</span> <label i18n>Submit
        &nbsp;
        &nbsp;
        {{ plugin!.config!.submitDm }}</label>
      </div>
      <ng-template #submitInternal>
        <div *ngIf="plugin?.config?.submit && plugin?.config?.internal else submitText" class="submit-button" routerLink="/submit/web" [queryParams]="{ tag: plugin!.tag, url: genUrl }">
          <span i18n-title title="Submit" i18n>📝️</span> <label i18n>Submit
          &nbsp;
          &nbsp;
          {{ plugin!.config!.submit }}</label>
        </div>
      </ng-template>
      <ng-template #submitText>
        <ng-container *ngIf="!user">
          <div *ngIf="rootConfig?.submitText else submit" class="submit-button" routerLink="/submit/text" [queryParams]="{ tag: addTags }">
            <span i18n-title title="Submit" i18n>📝️</span> <label i18n>Submit
            &nbsp;
            &nbsp;
            {{ plugin?.config?.submit || '' }}</label>
          </div>
        </ng-container>
      </ng-template>
      <ng-template #submit>
        <div class="submit-button" routerLink="/submit" [queryParams]="{ tag: addTags }">
          <span i18n-title title="Submit" i18n>📝️</span> <label i18n>Submit
          &nbsp;
          &nbsp;
          {{ plugin?.config?.submit || '' }}</label>
        </div>
      </ng-template>
    </ng-container>
    <ng-container *ngIf="store.view.current === 'tag' && store.account.user && (home || store.account.tag === tag)">
      <div class="submit-button" routerLink="/submit/dm" [queryParams]="{ to: store.account.tag }">
        <span i18n-title title="Notes" i18n>✍️</span> <label i18n>Notes</label>
      </div>
    </ng-container>
    <ng-container *ngIf="store.account.tag !== tag && messages">
      <ng-container *ngIf="mailPlugin else noMailPlugin">
        <div class="submit-button" routerLink="/submit/dm" [queryParams]="{ to: tag, tag: mailPlugin.tag }">
          <span i18n-title title="Direct Message" i18n>✉️</span> <label i18n>Message
          &nbsp;
          &nbsp;
          {{ mailPlugin.config?.submitDm || '' }}</label>
        </div>
      </ng-container>
      <ng-template #noMailPlugin>
        <div class="submit-button" routerLink="/submit/dm" [queryParams]="{ to: tag }">
          <span i18n-title title="Direct Message" i18n>✉️</span> <label i18n>Message</label>
        </div>
      </ng-template>
    </ng-container>
    <ng-container *ngIf="store.account.mod && store.view.current === 'user' || (writeAccess && store.view.userTemplate && store.account.tag !== store.view.template)">
      <div class="submit-button" routerLink="/user">
        <span i18n-title title="Create User" i18n>🧑️</span> <label i18n>Create User</label>
      </div>
    </ng-container>
    <ng-container *ngIf="writeAccess && user && store.view.current === 'user'">
      <div class="submit-button" [routerLink]="['/user', tag]">
        <span i18n-title title="Edit User" i18n>🧑️</span> <label i18n>Edit User</label>
      </div>
    </ng-container>
    <ng-container *ngIf="writeAccess && store.view.type === 'ext'">
      <div class="submit-button" [routerLink]="['/ext', store.view.template]">
        <span i18n-title title="Extend Tag" i18n>🎨️</span> <label i18n>Extend Tag
        &nbsp;
        &nbsp;
        {{ template?.name || '' }}</label>
      </div>
    </ng-container>
    <ng-container *ngIf="store.view.type === 'ext' && !store.view.template">
      <div class="submit-button" [routerLink]="['/ext']">
        <span i18n-title title="Extend Tag" i18n>🎨️</span> <label i18n>Extend Tag</label></div>
    </ng-container>
    <ng-container *ngIf="local && writeAccess && store.view.noQuery">
      <div class="submit-button" [routerLink]="['/ext', tag]">
        <span i18n-title title="Edit Tag" i18n>🎨️</span> <label i18n>Edit Tag</label>
      </div>
    </ng-container>
    <ng-container *ngIf="store.account.user && ext && (!local || !writeAccess) && store.view.noQuery">
      <div class="submit-button" [routerLink]="['/tags', tag]">
        <span i18n-title title="Edit Tag" i18n>🎨️</span> <label i18n>Edit Tag</label>
      </div>
    </ng-container>
  </span>

  <div class="hide tag-header" *ngIf="home">
    <ng-container *ngIf="!store.view.forYou">
      <h3><a [routerLink]="['/home']" i18n>Home</a></h3>
    </ng-container>

    <ng-container *ngIf="store.view.forYou">
      <h3><a [routerLink]="['/home']" [queryParams]="{ forYou: true }" i18n>For You</a></h3>
      <p *ngIf="!store.account.userSubs.length" i18n>
        Follow other users to see their subscriptions alongside yours here.
      </p>
    </ng-container>

    <ng-container *ngIf="homeWriteAccess">
      <a *ngIf="admin.status.templates.home"
         class="sidebar-link edit"
         [routerLink]="['/ext', '+home']" i18n>
        edit
      </a>
    </ng-container>
  </div>
  <div class="hide tag-header" *ngIf="!home && store.view.tag">
    <h3 *ngIf="store.view.current === 'tag'">{{ ext?.name || tag }}</h3>
    <ng-container *ngIf="store.account.signedIn && tag && admin.status.templates.user">
      <button *ngIf="inBookmarks; else notBookmarked"
              class="bookmark"
              i18n-title title="Remove from top bar"
              (click)="removeBookmark()" i18n>&ndash; bookmark</button>
      <ng-template #notBookmarked>
        <button (click)="bookmark()"
                i18n-title title="Add to top bar"
                class="bookmark" i18n>+ bookmark</button>
      </ng-template>
      <ng-container *ngIf="user">
        <button *ngIf="inSubs; else notFollowing"
                class="subscribe"
                i18n-title title="Remove from home screen"
                (click)="unsubscribe()" i18n>&ndash; unfollow</button>
        <ng-template #notFollowing>
          <button (click)="subscribe()"
                  i18n-title title="Add to home screen"
                  class="subscribe" i18n>+ follow</button>
        </ng-template>
      </ng-container>
      <ng-container *ngIf="!user">
        <button *ngIf="inSubs; else notInSubs"
                class="subscribe"
                i18n-title title="Remove from home screen"
                (click)="unsubscribe()" i18n>&ndash; unsubscribe</button>
        <ng-template #notInSubs>
          <button (click)="subscribe()"
                  i18n-title title="Add to home screen"
                  class="subscribe" i18n>+ subscribe</button>
        </ng-template>
      </ng-container>
      <button *ngIf="inAlarms; else notInAlarms"
              class="alarm"
              i18n-title title="Remove alarm"
              (click)="removeAlarm()" i18n>🔇</button>
      <ng-template #notInAlarms>
        <button (click)="addAlarm()"
                i18n-title title="Add alarm"
                class="alarm" i18n>🔔</button>
      </ng-template>
    </ng-container>
  </div>

  <ng-container *ngIf="ui && ext">
    <div class="hide ui"
         [appTemplateUi]="ui"
         [appMdPost]
         [ext]="ext"></div>
  </ng-container>

  <div *ngIf="root" class="hide template-root">
    <app-md *ngIf="ext?.config?.sidebar"
            [origin]="ext?.origin || ''"
            [text]="ext!.config!.sidebar"></app-md>
  </div>

  <div *ngIf="user || home" class="hide home">
    <div class="ext-text" *ngIf="bookmarkExts.length" i18n>
      My Bookmarks:
      <br>
      <ng-container *ngFor="let book of bookmarkExts; let i = index">
        <a class="tag" [routerLink]="['/tag', userConfig!.bookmarks![i]]">{{ book.name || userConfig!.bookmarks![i] }}</a>
        <br>
      </ng-container>
    </div>
    <div class="ext-text" *ngIf="userSubExts.length" i18n>
      Following:
      <br>
      <ng-container *ngFor="let sub of userSubExts; let i = index">
        <a class="tag" [routerLink]="['/tag', sub.tag + sub.origin]">{{ sub.name || (sub.tag + sub.origin) }}</a>
        <br>
      </ng-container>
    </div>
    <div class="ext-text" *ngIf="tagSubExts.length" i18n>
      Subscribed to:
      <br>
      <ng-container *ngFor="let sub of tagSubExts; let i = index">
        <a class="tag" [routerLink]="['/tag', sub.tag + sub.origin]">{{ sub.name || (sub.tag + sub.origin) }}</a>
        <br>
      </ng-container>
    </div>
  </div>
</ng-container>
