<ng-container *mobxAutorun>
  <div class="row">
    <div class="toggle"
         *ngIf="showToggle"
         (click)="expanded = !expanded">☰</div>
    <div *ngIf="store.view.current && (!home || store.view.search || store.view.filter.length || !query.page?.empty)" class="wide">
      <app-query *ngIf="store.view.tag" [query]="tag" class="hide breadcrumbs"></app-query>
      <app-search></app-search>
      <div class="show-remotes" *ngIf="expanded && store.view.type !== 'ref'">
        <input id="show-remotes" #sr type="checkbox" [checked]="store.view.showRemotes" (input)="showRemotes = sr.checked">
        <label for="show-remotes" i18n>show remotes</label>
      </div>
      <div *ngIf="expanded && store.view.type === 'ref'" class="hide">
        <app-filter></app-filter>
      </div>
      <div *ngIf="expanded && showSort" class="hide">
        <app-sort [type]="store.view.type!"></app-sort>
      </div>
    </div>
  </div>
  <app-debug *ngIf="expanded"></app-debug>
  <app-bulk *ngIf="expanded && store.view.current" [type]="store.view.type!"></app-bulk>
  <span class="button-bar">
    <ng-container *ngIf="store.account.poster">
      <div class="submit-button" routerLink="/submit" [queryParams]="{ tag: localTag }">
        <span i18n-title title="Submit" i18n>📝️</span> <label i18n>Submit</label>
      </div>
    </ng-container>
    <ng-container *ngIf="store.account.editor || writeAccess">
      <div class="submit-button" [routerLink]="['/ext', writeAccess ? localTag : '']">
        <span i18n-title title="Extend Tag" i18n>🖌️</span> <label i18n>Edit</label>
      </div>
    </ng-container>
    <ng-container *ngIf="admin.status.plugins.inbox">
      <ng-container *ngIf="store.account.poster && (user || modmail)">
        <div class="submit-button" routerLink="/submit/dm" [queryParams]="{ to: tag }">
          <span i18n-title title="Direct Message" i18n>✉️</span> <label i18n>Message</label>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="store.account.mod || store.account.tag === tag">
      <div class="submit-button" [routerLink]="['/user', user && tag || '']">
        <span i18n-title title="Create User" i18n>👤️</span> <label i18n>User</label>
      </div>
    </ng-container>
  </span>

  <div class="hide tag-header" *ngIf="home">
    <h3><a [routerLink]="['/home']" i18n>Home</a></h3>

    <ng-container *ngIf="homeWriteAccess">
      <a *ngIf="admin.status.templates.home"
         class="sidebar-link edit"
         [routerLink]="['/tag', '+home']" i18n>
        edit
      </a>
    </ng-container>
  </div>
  <div class="hide tag-header" *ngIf="!home && store.view.tag">
    <h3 *ngIf="store.view.current === 'tag'">{{ ext?.name || tag }}</h3>
    <ng-container *ngIf="store.account.signedIn && tag && admin.status.templates.user">
      <button *ngIf="inSubs; else notInSubs"
              class="subscribe"
              (click)="unsubscribe()" i18n>&ndash; unsubscribe</button>
      <ng-template #notInSubs>
        <button (click)="subscribe()"
                title="Add to home screen"
                class="subscribe" i18n>+ subscribe</button>
      </ng-template>
      <button *ngIf="inBookmarks; else notBookmarked"
              class="bookmark"
              (click)="removeBookmark()" i18n>&ndash; bookmark</button>
      <ng-template #notBookmarked>
        <button (click)="bookmark()"
                title="Add to top bar"
                class="bookmark" i18n>+ bookmark</button>
      </ng-template>
    </ng-container>
  </div>

  <ng-container *ngIf="ui && ext">
    <div class="hide ui"
         [appTemplateUi]="ui"
         [ext]="ext"></div>
  </ng-container>

  <div *ngIf="queue" class="hide template-queue">
    <div class="ext-text" *ngIf="ext?.config?.bounty">
      <b i18n>Bounty:</b> {{ ext?.config?.bounty }}
    </div>
    <div class="ext-text" *ngIf="ext?.config?.maxAge">
      <b i18n>Max Age:</b> {{ ext?.config?.maxAge }}
    </div>
    <div class="ext-text" *ngIf="ext?.config?.approvers?.length">
      <b i18n>Approvers:</b>
      <br>
      <ng-container *ngFor="let a of ext!.config!.approvers!">
        <a class="tag" [routerLink]="['/tag', a]">
          {{ a }}
        </a>
        <br>
      </ng-container>
    </div>
    <div *ngIf="isApprover">
      <a class="sidebar-link"
         [routerLink]="['/tag', prefix('plugin/invoice', ext!.tag)]" i18n>invoices</a>
    </div>
  </div>

  <div *ngIf="user || home" class="hide home">
    <div class="ext-text" *ngIf="ext?.config?.bookmarks?.length" i18n>
      My Bookmarks:
      <br>
      <ng-container *ngFor="let book of ext!.config!.bookmarks!">
        <a class="tag" [routerLink]="['/tag', book]">
          {{ book }}
        </a>
        <br>
      </ng-container>
      <br *ngIf="ext?.config?.subscriptions?.length">
    </div>
    <div class="ext-text" *ngIf="ext?.config?.subscriptions?.length" i18n>
      Subscribed to:
      <br>
      <ng-container *ngFor="let sub of ext!.config!.subscriptions!">
        <a class="tag" [routerLink]="['/tag', sub]">
          {{ sub }}
        </a>
        <br>
      </ng-container>
    </div>
  </div>

  <div *ngIf="root" class="hide template-root">
    <app-md *ngIf="ext?.config?.sidebar"
            [origin]="ext?.origin"
            [text]="ext!.config!.sidebar"></app-md>
  </div>
</ng-container>
