<ng-container *mobxAutorun>
  <div class="row dont-hide">
    <div class="toggle dont-hide"
         *ngIf="showToggle"
         (click)="expanded = !expanded">📚️</div>
    <app-search-filter *ngIf="showSearch" class="dont-hide" [showFilter]="showFilter"></app-search-filter>
  </div>
  <div *ngIf="!home" class="breadcrumbs">
      <span *ngFor="let breadcrumb of breadcrumbs">
        <a *ngIf="breadcrumb.tag" class="tag" [routerLink]="['/tag', breadcrumb.tag]">{{ breadcrumb.text }}</a>
        <span *ngIf="!breadcrumb.tag">{{ breadcrumb.text }}</span>
      </span>
  </div>
  <ng-container *ngIf="store.account.poster">
    <div class="submit-button" routerLink="/submit" [queryParams]="{ tag: localTag }">
      🔗️ &nbsp; Submit Link
    </div>
    <div class="submit-button" routerLink="/submit/text" [queryParams]="{ tag: localTag }">
      📝️ &nbsp; Submit Text Post
    </div>
    <div class="submit-button" routerLink="/submit" [queryParams]="{ tag: localTag, url: 'wiki:' }">
      📔 &nbsp; Submit Wiki
    </div>
  </ng-container>
  <ng-container *ngIf="store.account.editor || writeAccess">
    <div class="submit-button" routerLink="/create/ext" [queryParams]="ext ? null : { tag: writeAccess ? localTag : '' }">
      🖌️ &nbsp; Create Tag Extension
    </div>
  </ng-container>
  <ng-container *ngIf="feed">
    <div class="submit-button" routerLink="/submit" [queryParams]="{ tag: ['+plugin/feed'].concat(localTag ? [localTag] : []) }">
      📰️ &nbsp; Submit Feed
    </div>
  </ng-container>
  <ng-container *ngIf="config.scim && store.account.mod">
    <div class="submit-button" routerLink="/create/profile" [queryParams]="{ tag: localTag }">
      👤️ &nbsp; Create Profile
    </div>
  </ng-container>
  <ng-container *ngIf="store.account.mod">
    <div class="submit-button" routerLink="/create/user" [queryParams]="{ tag: localTag }">
      🗝️️ &nbsp; Create User Permissions
    </div>
  </ng-container>
  <ng-container *ngIf="store.account.admin && admin.status.plugins.origin">
    <div class="submit-button" routerLink="/submit" [queryParams]="{ tag: ['+plugin/origin'].concat(localTag ? [localTag] : []) }">
      🔧️ &nbsp; Replicate Remote Origin
    </div>
  </ng-container>
  <ng-container *ngIf="admin.status.plugins.inbox">
    <ng-container *ngIf="user && store.account.tag !== tag">
      <div class="submit-button" routerLink="/submit/dm" [queryParams]="{ to: tag }">
        ✉️ &nbsp; Send Direct Message
      </div>
    </ng-container>
    <ng-container *ngIf="store.account.poster && !user && modmail">
      <div class="submit-button" routerLink="/submit/dm" [queryParams]="{ to: modmail }">
        ✉️ &nbsp; Send Mod Mail
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="store.account.signedIn && store.account.tag === tag">
    <div class="submit-button" routerLink="/settings/password">
      🔑️️ &nbsp; Change Password
    </div>
  </ng-container>

  <div class="tag-header" *ngIf="home">
    <h3><a [routerLink]="['/home']">Home</a></h3>
  </div>
  <div class="tag-header" *ngIf="!home">
    <h3>{{ ext?.name || tag }}</h3>
    <ng-container *ngIf="store.account.signedIn && tag && admin.status.templates.user">
      <button *ngIf="inSubs; else notInSubs"
              class="subscribe"
              (click)="unsubscribe()">&ndash; unsubscribe</button>
      <ng-template #notInSubs>
        <button (click)="subscribe()"
                title="Add to home screen"
                class="subscribe">+ subscribe</button>
      </ng-template>
      <button *ngIf="inBookmarks; else notBookmarked"
              class="bookmark"
              (click)="removeBookmark()">&ndash; bookmark</button>
      <ng-template #notBookmarked>
        <button (click)="bookmark()"
                title="Add to top bar"
                class="bookmark">+ bookmark</button>
      </ng-template>
    </ng-container>
  </div>

  <ng-container *ngIf="ui && ext">
    <div [appTemplateUi]="ui"
         [ext]="ext"></div>
  </ng-container>

  <ng-container *ngIf="queue">
    <div class="ext-text" *ngIf="ext?.config?.bounty">
      <b>Bounty:</b> {{ ext?.config?.bounty }}
    </div>
    <div class="ext-text" *ngIf="ext?.config?.maxAge">
      <b>Max Age:</b> {{ ext?.config?.maxAge }}
    </div>
    <div class="ext-text" *ngIf="ext?.config?.approvers?.length">
      <b>Approvers:</b>
      <br>
      <ng-container *ngFor="let a of ext!.config!.approvers!">
        <a class="tag" [routerLink]="['/tag', a]">
          {{ a }}
        </a>
        <br>
      </ng-container>
    </div>
    <div *ngIf="isApprover">
      <a class="sidebar-link"
         [routerLink]="['/tag', prefix('plugin/invoice/', ext!.tag)]">invoices</a>
    </div>
  </ng-container>

  <ng-container *ngIf="user || home">
    <div class="ext-text" *ngIf="ext?.config?.bookmarks?.length">
      My Bookmarks:
      <br>
      <ng-container *ngFor="let book of ext!.config!.bookmarks!">
        <a class="tag" [routerLink]="['/tag', book]">
          {{ book }}
        </a>
        <br>
      </ng-container>
      <br *ngIf="ext?.config?.subscriptions?.length">
    </div>
    <div class="ext-text" *ngIf="ext?.config?.subscriptions?.length">
      Subscribed to:
      <br>
      <ng-container *ngFor="let sub of ext!.config!.subscriptions!">
        <a class="tag" [routerLink]="['/tag', sub]">
          {{ sub }}
        </a>
        <br>
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="writeAccess && modmail">
    <a class="sidebar-link"
       [routerLink]="['/tag', modmail]">
      modmail
    </a>
  </ng-container>

  <ng-container *ngIf="root">
    <app-md *ngIf="ext?.config?.sidebar"
            [origin]="ext?.origin"
            [text]="ext!.config!.sidebar"></app-md>

    <ng-container *ngIf="writeAccess">
      <a *ngIf="ext"
         class="sidebar-link"
         [routerLink]="['/tag', localTag, 'edit']">
        edit
      </a>
      <a *ngIf="!ext"
         class="sidebar-link"
         routerLink="/create/ext"
         [queryParams]="{tag: localTag}">
        edit
      </a>
    </ng-container>
  </ng-container>
</ng-container>
