:host {
  z-index: 1;
}

.row {
  app-search, app-filter, app-sort {
    flex-grow: 1;
  }
  app-filter, app-sort {
    width: 50%;
  }
}

.fake-link {
  display: block;
  text-align: center;
  user-select: none;
}

app-nav.center {
  display: block;
  text-align: center;
}

.tag-select {
  margin: 0;
  padding: 0;
}

.tag-select > * {
  margin: 4px;
  padding: 8px;
}
