<ng-container *mobxAutorun>
  <div *ngIf="plugin" class="row form">
    <span><!-- Title --></span>
    <h2 i18n>{{ plugin.name || plugin.tag }} Settings</h2>
    <span><!-- Description --></span>
    <p>{{ plugin.config?.description || '' }}</p>

    <span><!-- Buttons --></span>
    <span class="buttons form-array right">
      <button type="button" *ngIf="plugin.config?.hasDefaults && writeAccess" (click)="loadDefaults()" i18n>🔁️ load defaults</button>
      <button type="button" *ngIf="plugin.config?.hasClearCache && writeAccess" (click)="clearCache()">{{ plugin.config!.hasClearCache }}</button>
    </span>
  </div>
  <ng-container *ngIf="query.error?.status !== 403 else accessDenied">
    <app-ref-list [page]="query.page"></app-ref-list>
  </ng-container>
  <ng-template #accessDenied>
    <div class="error-403" i18n>Access Denied</div>
  </ng-template>
</ng-container>
