<div [formGroup]="group">
  <div class="form-group" [formArrayName]="fieldName">
    <button type="button" (click)="addSource()">+ Add another source</button>

    <div *ngFor="let source of sources.controls; let i=index">
      <label for="sources-{{ i }}">Source:</label>
      <input id="sources-{{ i }}" type="text" [formControl]="$any(source)">
      <button type="button" (click)="removeSource(i)">&ndash;</button>
      <div class="error" *ngIf="sources.at(i).touched && sources.at(i).errors?.['required']">
        Source must not be blank.
      </div>
    </div>
  </div>
</div>
