<form class="form" [formGroup]="adminForm" (ngSubmit)="install()">
  <span><!-- Title --></span>
  <h3 i18n>Install Plugins and Templates</h3>
  <span><!-- Description --></span>
  <p i18n>
    Quickly turn on and off templates bundled with this client.
    Visit the <a routerLink="../plugin">plugins</a> or
    <a routerLink="../template">templates</a> settings page to manage all
    plugins and templates.
  </p>

  <label i18n>Templates:</label>
  <div class="bubble">
    <div formGroupName="templates" class="form">
      <ng-container *ngFor="let group of templateGroups | keyvalue">
        <label [style.text-transform]="'capitalize'" i18n>{{ group.key }}</label>
        <div>
          <div *ngFor="let e of group.value" [title]="e[1].config?.description || ''" class="nowrap">
            <input id="template-{{ e[0] }}" type="checkbox" [formControlName]="e[0]">
            <label for="template-{{ e[0] }}">{{ e[1].name || e[0] || e[1].tag }}</label>
            <span *ngIf="needsTemplateUpdate(e[0])" class="update">
            <span class="fake-link" (click)="updateTemplate($any(e[0]))" i18n>🌟️ update</span></span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <label i18n>Plugins:</label>
  <div class="bubble">
    <div formGroupName="plugins" class="form">
      <ng-container *ngFor="let group of pluginGroups | keyvalue">
        <label [style.text-transform]="'capitalize'" i18n>{{ group.key }}</label>
        <div>
          <div *ngFor="let e of group.value" [title]="e[1].config?.description || ''" class="nowrap">
            <input id="plugin-{{ e[0] }}" type="checkbox" [formControlName]="e[0]">
            <label for="plugin-{{ e[0] }}">{{ e[1].name || e[0] || e[1].tag }}</label>
            <span *ngIf="needsPluginUpdate(e[0])" class="update">
            <span class="fake-link" (click)="updatePlugin($any(e[0]))" i18n>🌟️ update</span></span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <ng-container *ngFor="let e of serverError">
    <span><!-- Unexpected Error --></span>
    <div class="error">{{ e }}</div>
  </ng-container>

  <span><!-- Buttons --></span>
  <span class="form-array right">
    <button type="button" (click)="selectAll()" *ngIf="selectAllToggle" i18n>Select None</button>
    <button type="button" (click)="selectAll()" *ngIf="!selectAllToggle" i18n>Select All</button>
    <button type="submit" [disabled]="submitted && !adminForm.valid" i18n>Save</button>
  </span>

  <ng-container *ngFor="let i of installMessages">
    <span><!-- Progress Log --></span>
    <div>{{ i }}</div>
  </ng-container>
</form>
