.update {
  margin-left: 10px;
  font-size: 80%;
}

.mod-diff-link {
  margin-left: 8px;
}

.modified-indicator {
  color: var(--warning);
  margin-left: 2px;
}

label {
  margin-top: 16px;
}

.log {
  flex: 1;
  margin: 10px;
}

.merge-panel {
  margin-top: 20px;
}

.merge-title {
  display: block;
}

.merge-buttons {
  margin-top: 10px;
}
