<ag-grid-angular [class.ag-theme-quartz]="!store.darkTheme"
                 [class.ag-theme-quartz-dark]="store.darkTheme"
                 theme="legacy"
                 [style.height.vh]="90"
                 [rowData]="page?.content"
                 [columnDefs]="columnDefs">
</ag-grid-angular>
@if (page) {
  @if (emptyMessage && !page.content.length) {
    <p class="no-results">{{ emptyMessage }}</p>
  } @else if (pageControls) {
    <app-page-controls [page]="page"
                       [defaultCols]="cols"></app-page-controls>
  }
} @else {
  <app-loading></app-loading>
}
