<div class="tabs">
  <h5>Create User Permissions</h5>
  <div class="spacer"></div>
  <app-settings></app-settings>
</div>

<form class="form" [formGroup]="userForm" (ngSubmit)="create()">

  <label for="tag">Tag:</label>
  <input id="tag" type="text" formControlName="tag">
  <span><!-- Tag Errors --></span>
  <div>
    <div class="error" *ngIf="tag.touched && tag.errors?.['pattern']">
      User tags must start with the "user/" or "_user/" prefix.
      Tags must be lower case letters and forward slashes. Must not start with a slash or contain two forward slashes in a row. Private
      tags start with an underscore.<br>
      (i.e. "science", "my/tag", or "_my/private/tag")
    </div>
    <div class="error" *ngIf="tag.touched && tag.errors?.['required']">
      Tag must not be blank.
    </div>
  </div>

  <label for="name">Name:</label>
  <input id="name" type="text" formControlName="name">

  <label for="readAccess">Read Access:</label>
  <div id="readAccess" class="form-group" formArrayName="readAccess">
    <button type="button" (click)="addReadAccess()">+ Add another tag</button>

    <div *ngFor="let tag of readAccess.controls; let i=index">
      <label for="readAccess-{{ i }}">Tag:</label>
      <input id="readAccess-{{ i }}" type="text" [formControl]="$any(tag)">
      <button type="button" (click)="removeReadAccess(i)">&ndash;</button>
      <div class="error" *ngIf="readAccess.at(i).touched && readAccess.at(i).errors?.['pattern']">
        Tags must be lower case letters and forward slashes. Tags may be qualified with an origin. Must not start with a slash or contain
        two forward slashes in a row. Private tags start with an underscore.<br>
        (i.e. "science", "science@origin" "my/tag", or "_my/private/tag")
      </div>
      <div class="error" *ngIf="readAccess.at(i).touched && readAccess.at(i).errors?.['required']">
        Tag must not be blank.
      </div>
    </div>
  </div>

  <label for="writeAccess">Write Access:</label>
  <div id="writeAccess" class="form-group" formArrayName="writeAccess">
    <button type="button" (click)="addWriteAccess()">+ Add another tag</button>

    <div *ngFor="let tag of writeAccess.controls; let i=index">
      <label for="writeAccess-{{ i }}">Tag:</label>
      <input id="writeAccess-{{ i }}" type="text" [formControl]="$any(tag)">
      <button type="button" (click)="removeWriteAccess(i)">&ndash;</button>
      <div class="error" *ngIf="writeAccess.at(i).touched && writeAccess.at(i).errors?.['pattern']">
        Tags must be lower case letters and forward slashes. Tags may be qualified with an origin. Must not start with a slash or contain
        two forward slashes in a row. Private tags start with an underscore.<br>
        (i.e. "science", "science@origin" "my/tag", or "_my/private/tag")
      </div>
      <div class="error" *ngIf="writeAccess.at(i).touched && writeAccess.at(i).errors?.['required']">
        Tag must not be blank.
      </div>
    </div>
  </div>

  <ng-container *ngFor="let e of serverError">
    <span><!-- Unexpected Error --></span>
    <div class="error">{{ e }}</div>
  </ng-container>

  <span><!-- Buttons --></span>
  <span class="form-group">
    <button type="submit" [disabled]="submitted && !userForm.valid">Create</button>
  </span>

</form>
