<div class="tabs">
  <h5>Create User Permissions</h5>
  <app-settings></app-settings>
</div>

<form class="form" [formGroup]="userForm" (ngSubmit)="create()">

  <app-user-form [group]="userForm"></app-user-form>

  <ng-container *ngFor="let e of serverError">
    <span><!-- Unexpected Error --></span>
    <div class="error">{{ e }}</div>
  </ng-container>

  <span><!-- Buttons --></span>
  <span class="form-array">
    <button type="submit" [disabled]="submitted && !userForm.valid">Create</button>
  </span>

</form>
