video {
  width: 100%;
}

video, .video-placeholder {
  margin: 4px 0;
  border-radius: 4px;
  display: block;
}

.mirror-video {
  transform: scaleX(-1);
  &::-webkit-media-controls-panel {
    transform: scaleX(-1);
  }
}

.video-placeholder {
  height: 64px;
  &.hungup {
    box-shadow: inset 0 0 24px grey;
    padding: 24px;
    font-size: 48px;
    text-align: center;
  }
}

.stream-label {
  position: absolute;
  right: 4px;
  border-radius: 4px;
  margin: 4px;
  padding: 6px;
  z-index: 1;
}
