video, .video-placeholder {
  margin: 4px 0;
  border-radius: 4px;
  display: block;
  width: 100%;
}

.video-placeholder {
  aspect-ratio: 19/10;
}

.stream-label {
  border-radius: 4px;
  margin: 4px;
  padding: 6px;
  position: absolute;
  right: 4px;
  z-index: 1;
}
