<button type="button" (click)="addSort()">+ Add sort</button>
<span class="form-array" *ngFor="let f of sorts; let i=index">
  <label for="filter-{{ i }}">Sort:</label>
  <select id="filter-{{ i }}" [ngModel]="sortCol(sorts[i])" (ngModelChange)="setSortCol(i, $event)">
    <option *ngFor="let opt of allSorts" [value]="opt.value">{{ opt.label || opt.value }}</option>
  </select>
  <button *ngIf="sortDir(sorts[i]) === 'DESC'" type="button" (click)="setSortDir(i, 'ASC')">🔽</button>
  <button *ngIf="sortDir(sorts[i]) === 'ASC'" type="button" (click)="setSortDir(i, 'DESC')">🔼</button>
  <button *ngIf="i > 0" type="button" (click)="removeSort(i)">&ndash;</button>
</span>
