<div class="list-container">
  <ng-container *ngFor="let tag of page?.content; let i = index">
    <div class="list-number">{{ i + page!.number * page!.size + 1 }}</div>
    <ng-container *ngIf="tag.type === 'user'; else generic">
      <app-user [user]="$any(tag)"></app-user>
    </ng-container>
    <ng-template #generic>
      <app-tag [tag]="tag"></app-tag>
    </ng-template>
  </ng-container>
</div>
<app-loading *ngIf="!page"></app-loading>
<app-page-controls *ngIf="page && !page.empty"
                   [page]="page"></app-page-controls>

<p class="no-results" *ngIf="page && page.empty">
  No results found
</p>
