<ng-container *mobxAutorun>
  <div #tabs class="tabs" [class.empty]="query.page?.empty">
    <h5 i18n>Home</h5>
    <ng-container>
      <a routerLink="./"
         [class.current-tab]="store.view.noView"
         [queryParams]="{view: null}"
         queryParamsHandling="merge" i18n>list</a>
    </ng-container>
    <app-mobile-tab-select [tabs]="tabs"></app-mobile-tab-select>
    <app-settings></app-settings>
  </div>
  <app-sidebar [home]="true"
               [ext]="store.account.ext"></app-sidebar>
  <app-viewer *ngIf="homeRef"
              [ref]="homeRef"></app-viewer>
  <app-ref-list *ngIf="!query.page?.empty"
                [page]="query.page"
                [showVotes]="store.view.isVoteSorted"></app-ref-list>
</ng-container>
