<ng-container *mobxAutorun>
  <app-tabs [class.empty]="query.page?.empty">
    <a class="logo" routerLink="/"></a>
    <h5 class="fake-link" routerLink="." i18n>Home</h5>
    <ng-container *ngIf="store.view.extTemplate else multipleExt">
      <a routerLink="./"
         [class.current-tab]="store.view.noView"
         [queryParams]="{view: null}"
         queryParamsHandling="merge" i18n>{{ store.view.extTemplate.config?.view || store.view.extTemplate.tag }}</a>
      <a routerLink="./"
         [class.current-tab]="store.view.list"
         [queryParams]="{view: 'list'}"
         queryParamsHandling="merge" i18n>list</a>
    </ng-container>
    <ng-template #multipleExt>
      <ng-container *ngIf="store.view.activeExts.length else noExt">
        <a *ngFor="let x of store.view.activeExts; let i = index"
           routerLink="./"
           [class.current-tab]="store.view.viewTag === x.tag"
           [queryParams]="{view: i === 0 ? null : x.tag}"
           queryParamsHandling="merge" i18n>{{ x.name || x.tag }}</a>
        <a routerLink="./"
           [class.current-tab]="store.view.list"
           [queryParams]="{view: 'list'}"
           queryParamsHandling="merge" i18n>list</a>
      </ng-container>
    </ng-template>
    <ng-template #noExt>
      <a routerLink="./"
         [class.current-tab]="store.view.noView"
         [queryParams]="{view: null}"
         queryParamsHandling="merge" i18n>list</a>
    </ng-template>
    <a *ngFor="let x of store.view.globalTemplates"
       routerLink="./"
       [class.current-tab]="store.view.view === x.tag"
       [queryParams]="{view: x.tag}"
       queryParamsHandling="merge" i18n>{{ x.config?.view || x.name || x.tag }}</a>
  </app-tabs>
  <app-sidebar [home]="true"
               [floating]="floatingSidebar"
               [ext]="homeExt"></app-sidebar>
  <ng-container *ngIf="query.error?.status !== 403 else accessDenied">
    <app-lens [page]="query.page"
              [showVotes]="store.view.isVoteSorted"
              [ext]="homeExt"
              [fullPage]="true"
              [size]="store.view.pageSize"
              [cols]="store.view.cols"
              [sort]="store.view.sort"
              [filter]="store.view.filter"
              [search]="store.view.search"></app-lens>
  </ng-container>
  <ng-template #accessDenied>
    <div class="error-403" i18n>Access Denied</div>
  </ng-template>
</ng-container>
