<ng-container *mobxAutorun>
  <div #tabs class="tabs">
    <a routerLink="." [queryParams]="{origin: store.view.origin}" [class.current-tab]="!store.view.current" i18n>view</a>
    <ng-container *ngIf="store.view.ref?.created">
      <ng-container *ngIf="store.view.current === 'ref/comments' || comments">
        <a routerLink="comments" [queryParams]="{origin: store.view.origin}" routerLinkActive="current-tab" i18n>comments</a>
      </ng-container>
      <ng-container *ngIf="store.view.current === 'ref/email' || emailReplies">
        <a routerLink="email" [queryParams]="{origin: store.view.origin}" routerLinkActive="current-tab" i18n>email thread</a>
      </ng-container>
      <ng-container *ngIf="store.view.current === 'ref/responses' || responses">
        <a routerLink="responses" [queryParams]="{origin: store.view.origin}" routerLinkActive="current-tab" i18n>responses</a>
      </ng-container>
      <ng-container *ngIf="store.view.current === 'ref/sources' || sources">
        <a routerLink="sources" [queryParams]="{origin: store.view.origin}" routerLinkActive="current-tab" i18n>sources</a>
        <a routerLink="missing" [queryParams]="{origin: store.view.origin}" routerLinkActive="current-tab" i18n>missing sources</a>
      </ng-container>
      <ng-container *ngIf="alts">
        <a routerLink="alts" [queryParams]="{origin: store.view.origin}" routerLinkActive="current-tab" i18n>alts</a>
      </ng-container>
      <ng-container *ngIf="store.view.current === 'ref/versions' || error && store.view.versions || store.view.versions > 1">
        <a routerLink="versions" [queryParams]="{origin: store.view.origin}" routerLinkActive="current-tab" i18n>versions</a>
      </ng-container>
      <app-mobile-tab-select [tabs]="tabs"></app-mobile-tab-select>
    </ng-container>
    <app-settings></app-settings>
  </div>
  <app-sidebar class="aside"></app-sidebar>
  <ng-container *ngIf="store.view.ref else loading">
    <app-ref class="full-page"
             [ref]="store.view.ref"
             [showToggle]="true"
             [expandInline]="true"
             [expanded]="store.local.isRefToggled(store.view.url, !!store.view.ref.comment)"></app-ref>
    <div *ngIf="refWarning"
         class="warning" i18n>
      * Published date was changed to be after source published date.
    </div>
  </ng-container>
  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
  <ng-container *ngIf="error">
    <ng-container *ngIf="error!.status === 404">
      <div class="stack">
        <div class="error-404" i18n>Not Found</div>
        <ng-container *ngIf="store.account.signedIn">
          <div *ngIf="!store.view.isTextPost && !isWiki(store.view.url)" class="error-404 submit-button" routerLink="/submit" [queryParams]="{ url: store.view.url }" i18n>
            🔗 Submit Link
          </div>
          <div *ngIf="store.view.isTextPost" class="error-404 submit-button" routerLink="/submit/text" [queryParams]="{ url: store.view.url }" i18n>
            📝 Submit Text Post
          </div>
          <div *ngIf="isWiki(store.view.url)" class="error-404 submit-button" routerLink="/submit/text" [queryParams]="{ url: store.view.url }" i18n>
            📔 &nbsp; Submit Wiki
          </div>
        </ng-container>
      </div>
    </ng-container>
    <div *ngIf="error!.status !== 404" class="error">{{ printError(error!) }}</div>
  </ng-container>
  <ng-container *ngIf="store.view.ref?.created">
    <hr>
    <router-outlet></router-outlet>
  </ng-container>
</ng-container>
