<div class="tabs">
  <ng-container *ngIf="admin.status.plugins.comment">
    <a routerLink="./comments" routerLinkActive="current-tab">comments</a>
  </ng-container>
  <a routerLink="./responses" routerLinkActive="current-tab">responses</a>
  <a routerLink="./sources" routerLinkActive="current-tab">sources</a>
  <ng-container *ngIf="admin.status.plugins.graph">
    <a routerLink="./graph" [queryParams]="{ hideSearch: true }" routerLinkActive="current-tab">graph</a>
  </ng-container>
  <div class="spacer"></div>
  <app-settings></app-settings>
</div>
<app-sidebar *ngIf="!(hideSearch$ | async)" class="aside"></app-sidebar>
<div style="display: grid" *ngIf="!error; else errorMessage">
  <ng-container *ngIf="ref$ | async as ref; else loading">
    <app-ref class="full-page"
             [ref]="ref"
             [showToggle]="true"
             [expandInline]="true"
             [expanded]="expandedByDefault"></app-ref>
  </ng-container>
  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
  <router-outlet></router-outlet>
</div>
<ng-template #errorMessage>
  <div *ngIf="error!.status === 404" class="error-404">Not Found</div>
  <div *ngIf="error!.status !== 404" class="error">{{ printError(error!) }}</div>
</ng-template>
