:host {
  display: flex;
  & > :nth-child(2) {
    margin-left: 10px;
  }
}
.subs {
  flex-grow: 1;
  display: block;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
