<ng-container *mobxAutorun>
  <div class="subs">
    <a routerLink="/home" routerLinkActive="current-page" i18n>home</a> &bullet;
    <a routerLink="/tag/@*" routerLinkActive="current-page" i18n>all</a>
    <ng-container *ngFor="let b of store.account.bookmarks">
      &bullet; <a [routerLink]="['/tag', b]" routerLinkActive="current-page">{{ b }}</a>
    </ng-container>
    <ng-container *ngFor="let sub of store.account.subs">
      &bullet; <a [routerLink]="['/tag', sub]" routerLinkActive="current-page">{{ sub }}</a>
    </ng-container>
  </div>
  <a class="light-toggle fake-link no-underline" (click)="themes.toggle()">{{ store.darkTheme ?  '🌙️' : '💡️'}}</a>
</ng-container>
