<ng-container *mobxAutorun>
  <span class="back-button" (click)="location.back()">🔙️</span>
  <div class="subs">
    <a routerLink="/home" routerLinkActive="current-page" i18n>home</a> &bullet;
    <a routerLink="/tag/@*" routerLinkActive="current-page" i18n>all</a>
    <ng-container *ngFor="let b of store.account.bookmarks">
      &bullet; <a [routerLink]="['/tag', b]" routerLinkActive="current-page">{{ b }}</a>
    </ng-container>
    <ng-container *ngFor="let sub of store.account.subs">
      &bullet; <a [routerLink]="['/tag', sub]" routerLinkActive="current-page">{{ sub }}</a>
    </ng-container>
  </div>
  <span *ngIf="store.submit.files?.length" class="drafts" routerLink="/submit/upload" i18n-title title="Unsaved Drafts" i18n>🗂️</span>
  <span *ngIf="store.account.signedIn" class="preferences" [routerLink]="['/ext', store.account.localTag]" i18n-title title="User Settings" i18n>⚙️</span>
  <div class="light-toggle"
     (click)="themes.toggle()">
    <div class="moon" [class.lights-on]="!store.darkTheme" [class.lights-off]="store.darkTheme" i18n>🌙️</div>
    <div class="light" [class.lights-on]="!store.darkTheme" [class.lights-off]="store.darkTheme" i18n>💡️</div>
  </div>
</ng-container>
