<ng-container *mobxAutorun>
  <span class="back-button" (click)="location.back()">🔙️</span>
  <div class="subs">
    <a routerLink="/home" [class.current-page]="store.view.current === 'home' && !store.view.forYou" i18n>home</a> &bullet;
    <ng-container *ngIf="admin.status.templates.user">
      <a routerLink="/home" [queryParams]="{ forYou : true }" routerLinkActive="current-page" i18n>for you</a> &bullet;
    </ng-container>
    <a routerLink="/tag/@*" routerLinkActive="current-page" i18n>all</a> &bullet;
    <a [routerLink]="'/tag/' + (store.account.origin || '*')" routerLinkActive="current-page" i18n>local</a> &bullet;
    <a [routerLink]="['/tags', store.view.noQuery]" routerLinkActive="current-page" i18n>tags</a>
    <ng-container *ngIf="bookmarkExts$ | async as bookmarkExts; else bookNoExts">
      <ng-container *ngFor="let b of bookmarkExts">
        &bullet; <a [routerLink]="['/tag', b.tag]" routerLinkActive="current-page">{{ b.name || b.tag }}</a>
      </ng-container>
    </ng-container>
    <ng-template #bookNoExts>
      <ng-container *ngFor="let t of store.account.bookmarks">
        &bullet; <a [routerLink]="['/tag', t]" routerLinkActive="current-page">{{ t }}</a>
      </ng-container>
    </ng-template>
    <ng-container *ngIf="subExts$ | async as subExts; else subNoExts">
      <ng-container *ngFor="let sub of subExts">
        &bullet; <a [routerLink]="['/tag', sub.tag]" routerLinkActive="current-page">{{ sub.name || sub.tag }}</a>
      </ng-container>
    </ng-container>
    <ng-template #subNoExts>
      <ng-container *ngFor="let t of store.account.subs">
        &bullet; <a [routerLink]="['/tag', t]" routerLinkActive="current-page">{{ t }}</a>
      </ng-container>
    </ng-template>
  </div>
  <span *ngIf="store.submit.files?.length" class="drafts" routerLink="/submit/upload" i18n-title title="Unsaved Drafts" i18n>🗂️</span>
  <span *ngIf="store.account.signedIn" class="preferences" [routerLink]="['/ext', store.account.localTag]" i18n-title title="User Settings" i18n>⚙️</span>
  <div class="light-toggle"
     (click)="themes.toggle()">
    <div class="moon" [class.lights-on]="!store.darkTheme" [class.lights-off]="store.darkTheme" i18n>🌙️</div>
    <div class="light" [class.lights-on]="!store.darkTheme" [class.lights-off]="store.darkTheme" i18n>💡️</div>
  </div>
</ng-container>
