@if (page) {
  <mgl-map [mapStyle]="mapStyle"
           [bounds]="view ? undefined : bounds"
           [center]="view?.center"
           [zoom]="view?.zoom"
           [fitBoundsOptions]="fitBoundsOptions"
           (mapError)="onMapError($event)"
           (mapLoad)="mapLoaded($event)"
           appResizeHandle>
    <mgl-control mglScale
                 position="bottom-left"
                 unit="imperial"></mgl-control>
    <mgl-control mglNavigation
                 position="bottom-left"
                 [visualizePitch]="true"
                 [visualizeRoll]="true"
                 [showCompass]="true"
                 [showZoom]="true"></mgl-control>
  </mgl-map>
  @if (pageControls) {
    <app-page-controls [page]="page"></app-page-controls>
  }
} @else {
  <app-loading></app-loading>
}
