@if (page) {
  @if (emptyMessage && !page.content.length) {
    <p class="no-results">{{ emptyMessage }}</p>
  } @else{
    <mgl-map [mapStyle]="'https://demotiles.maplibre.org/style.json'"
             [zoom]="[6]"
             [center]="[-64, 45]"
             (mapLoad)="mapLoaded($event)">
      <mgl-control mglNavigation
                   position="top-left"
                   [visualizePitch]="true"
                   [visualizeRoll]="true"
                   [showCompass]="true"
                   [showZoom]="true"></mgl-control>
      <mgl-control mglScale
                   position="bottom-left"
                   unit="imperial"></mgl-control>
    </mgl-map>
    @if (pageControls) {
      <app-page-controls [page]="page"></app-page-controls>
    }
  }
} @else {
  <app-loading></app-loading>
}
