<div class="link">
  <a [href]="downloadLink" *ngIf="!inProgress">{{ id }}</a>
  <span *ngIf="inProgress">{{ id.substring(1) }}</span>
</div>
<div class="stack">
  <div class="info">
    <span *ngIf="inProgress" i18n>in progress...</span>
  </div>
  <div class="actions">
    <a [routerLink]="['/ref', downloadLink]" i18n>ref</a>
    <a *ngIf="store.account.sysadmin && !restoring && !inProgress"
       class="fake-link"
       (click)="restoring = true" i18n>restore</a>
    <span *ngIf="restoring" class="restore-confirm">are you sure?
      <a class="fake-link" (click)="restore()">yes</a> /
      <a class="fake-link" (click)="restoring = false" i18n>no</a>
    </span>
    <a *ngIf="store.account.sysadmin && !deleting"
       class="fake-link"
       (click)="deleting = true" i18n>delete</a>
    <span *ngIf="deleting" class="delete-confirm" i18n>are you sure?
      <a class="fake-link" (click)="delete()">yes</a> /
      <a class="fake-link" (click)="deleting = false">no</a>
    </span>
  </div>
</div>

<ng-container *ngFor="let e of serverError">
  <div class="error">{{ e }}</div>
</ng-container>
