@import "theme/light";
@import "theme/dark";

html, body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.spacer {
  flex-grow: 1;
}

:link {
  text-decoration: none;
}
:link:hover,
.fake-link:hover {
  text-decoration: underline;
}
.fake-link {
  cursor: pointer;
}

.subscription-bar {
  font-size: 70%;
  border-bottom: 1px solid transparent;
  padding: 4px 8px 2px;
  a {
    text-transform: uppercase;
    padding: 0 2px;
  }
  .current-page {
    font-weight: bold;
  }
}

.tabs {
  display: flex;
  height: 60px;
  padding-left: 120px;
  & > a {
    display: inline-block;
    align-self: flex-end;
    position: relative;
    bottom: -1px;

    margin: 0 4px;
    padding: 2px 8px;
    font-weight: bold;
    border-bottom: 1px solid transparent;

    &:link:hover {
      text-decoration: none;
    }
    &.current-tab {
    }
  }
  .settings {
    border-top-left-radius: 8px;
    display: inline-block;
    align-self: flex-end;

    font-size: 80%;
    padding: 4px;
    font-weight: bold;
  }
}

.ref {
  border: 1px solid transparent;
}

.comment {
  .comment-container {
    padding: 2px;
    border: 1px solid transparent;
  }
  .comment-body, .actions {
    padding: 2px;
    margin-left: 20px;
  }
  .collapsed {
    font-style: italic;
    .comment-expand {
      font-style: normal;
    }
  }
  .info {
    .author {
      font-weight: bold;
    }
  }
}

.link {
  .host {
    margin-left: 4px;
    font-size: 80%;
  }
}

.info {
  font-size: 80%;
}

.actions {
  padding: 2px;
  font-size: 80%;
  font-weight: bold;
  a {
    margin: 2px 4px;
  }
}

.expand {
  border-radius: 4px;
  padding: 4px;
}

.notification {
  filter: sepia(100%) saturate(400%) brightness(74%) hue-rotate(300deg);
}

.no-results {
  margin-left: 10px;
}
