more results:

<ng-container *ngIf="hasQuery">
  <a class="first-page"
     routerLink="./"
     routerLinkActive="disabled"
     [queryParams]="{ pageNumber: 0 }">first</a>
  |
  <a class="prev-page"
     routerLink="./"
     routerLinkActive="disabled"
     [queryParams]="{ pageNumber: prev }">prev</a>
  |
</ng-container>
<a class="next-page"
   routerLink="./"
   routerLinkActive="disabled"
   [queryParams]="{ pageNumber: next }">next</a>
|
<a class="last-page"
   routerLink="./"
   routerLinkActive="disabled"
   [queryParams]="{ pageNumber: last }">last</a>
