@if (isTemplate('graph')) {
  <app-force-directed [tag]="tag"
                      [content]="page?.content || []"></app-force-directed>
} @else if (isTemplate('grid')) {
  <app-grid [tag]="tag"
            [ext]="ext!"
            [page]="page"
            [pageControls]="pageControls"
            [cols]="cols"></app-grid>
} @else if (isTemplate('kanban')) {
  <app-kanban [query]="tag"
              [ext]="ext!"
              [fullPage]="fullPage"
              [pageControls]="pageControls"
              [size]="size"
              [sort]="sort"
              [filter]="filter"
              [search]="search"></app-kanban>
} @else if (isTemplate('blog')) {
  <app-blog [ext]="ext!"
            [page]="page"
            [pageControls]="pageControls"
            [cols]="cols"></app-blog>
} @else if (isTemplate('blog')) {
  <app-chat [query]="tag"></app-chat>
} @else if (isTemplate('blog')) {
  <app-folder [tag]="tag"
              [page]="page"
              [ext]="ext!"></app-folder>
} @else {
  <app-ref-list [class]="cssClass(ext?.tag)"
                [ext]="ext"
                [page]="page"
                [pageControls]="pageControls"
                [plugins]="plugins"
                [cols]="cols"
                [showAlarm]="showAlarm"
                [showVotes]="showVotes"></app-ref-list>
}
