<app-force-directed *ngIf="isTemplate('graph') else kanban"
                    [tag]="tag"
                    [content]="page?.content || []"></app-force-directed>
<ng-template #kanban>
  <app-kanban *ngIf="isTemplate('kanban') else blog"
              [query]="tag"
              [ext]="ext!"
              [fullPage]="fullPage"
              [pageControls]="pageControls"
              [size]="size"
              [sort]="sort"
              [filter]="filter"
              [search]="search"></app-kanban>
</ng-template>
<ng-template #blog>
  <app-blog *ngIf="isTemplate('blog') else chat"
            [ext]="ext!"
            [page]="page"
            [pageControls]="pageControls"
            [cols]="cols ?? ext?.config?.defaultCols"></app-blog>
</ng-template>
<ng-template #chat>
  <app-chat *ngIf="isTemplate('chat') else folder"
            [query]="tag"></app-chat>
</ng-template>
<ng-template #folder>
  <app-folder *ngIf="isTemplate('folder') else noTmpl"
              [tag]="tag"
              [page]="page"
              [ext]="ext!"></app-folder>
</ng-template>
<ng-template #noTmpl>
  <app-ref-list [class]="cssClass(ext?.tag)"
                [ext]="ext"
                [page]="page"
                [pageControls]="pageControls"
                [plugins]="plugins"
                [cols]="cols"
                [showAlarm]="showAlarm"
                [showVotes]="showVotes"></app-ref-list>
</ng-template>
