<div class="link">
  <a [href]="feed.url">{{ feed.name || feed.url }}</a>
  <span class="host">({{ host }})</span>
</div>
<div class="link-below">
  <div class="stack">
    <div class="info">
      <ng-container *ngIf="feed.lastScrape">
        <span [title]="feed.lastScrape.toISOString()"> last scraped {{ feed.lastScrape.fromNow() }} </span>
      </ng-container>
      <ng-container *ngIf="!feed.lastScrape">
        not scraped yet
      </ng-container>
      <span [title]="feed.modified?.toISOString()"> modified {{ feed.modified?.fromNow() }} </span>
      <ng-container *ngIf="tags.length">
        tagged
        <ng-container *ngFor="let tag of tags">
          <a [routerLink]="['/tag', tag]">{{ tag }}</a>&nbsp;
        </ng-container>
      </ng-container>
      <ng-container *ngIf="feed.origin">
        on <a [routerLink]="['/tag', feed.origin]">{{ feed.origin }}</a>
      </ng-container>
    </div>
    <div class="actions">
      <a *ngIf="store.account.editor"
         class="fake-link"
         (click)="editing = !editing">edit</a>
      <a *ngIf="!deleting && store.account.editor"
         class="fake-link"
         (click)="deleting = true">delete</a>
      <span *ngIf="deleting" class="delete-confirm"> are you sure?
        <a class="fake-link" (click)="delete()">yes</a> /
        <a class="fake-link" (click)="deleting = false">no</a>
      </span>
      <a *ngIf="store.account.editor"
         class="fake-link"
         (click)="tagging = !tagging">tag</a>
      <span *ngIf="tagging" class="inline-tagging">
        <input #inlineTag
               (keydown)="$event.key === 'Enter' && addInlineTag() || true"
               type="text"
               inputmode="email"
               [pattern]="tagRegex"
               autocorrect="off"
               autocapitalize="none"
               appAutofocus>
        <button (click)="addInlineTag()">+</button>
      </span>
      <a *ngIf="store.account.mod"
         class="fake-link"
         (click)="scrape()">scrape</a>
    </div>
  </div>
</div>

<form *ngIf="editing else showErrors" class="form" [formGroup]="editForm" (ngSubmit)="save()">

  <app-feed-form [group]="editForm"></app-feed-form>

  <ng-container *ngFor="let e of serverError">
    <span><!-- Unexpected Error --></span>
    <div class="error">{{ e }}</div>
  </ng-container>

  <span><!-- Buttons --></span>
  <span class="form-array">
    <button type="submit" [disabled]="submitted && !editForm.valid">save</button>
    <button (click)="editing = false">cancel</button>
  </span>
</form>

<ng-template #showErrors>
  <ng-container *ngFor="let e of serverError">
    <div class="error">{{ e }}</div>
  </ng-container>
</ng-template>

