<div class="link">
  <a [href]="ref.url">{{ ref.title || ref.url }}</a>&nbsp;
  <span class="host">({{ host }})</span>
</div>
<div class="link-below">
  <div class="toggle"
       *ngIf="showToggle && expandPlugin"
       (click)="expanded = !expanded">
    <span *ngIf="!expanded">+</span>
    <span *ngIf="expanded">x</span>
  </div>
  <div class="stack">
    <div class="info">
      submitted {{ ref.created?.fromNow() }}
      <ng-container *ngIf="authors.length">
        by
        <ng-container *ngFor="let user of authors">
          <a [routerLink]="['/tag', 'new', user]">{{ user.substring('user/'.length) }}</a>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="tags.length">
        tagged
        <ng-container *ngFor="let tag of tags">
          <a [routerLink]="['/tag', 'hot', tag]">{{ tag }}</a>&nbsp;
        </ng-container>
      </ng-container>
    </div>
    <div class="expand" *ngIf="ref.comment && !showToggle">
      {{ ref.comment }}
    </div>
    <div class="actions">
      <a [routerLink]="['/ref/comments/', ref.url]">{{ commentCount }} comments</a>
      <a [routerLink]="['/ref/responses/', ref.url]">{{ responseCount - commentCount }} responses</a>
      <a [routerLink]="['/ref/sources/', ref.url]">{{ sourceCount }} sources</a>
      <a [routerLink]="['/ref/graph/', ref.url]">graph</a>
      <a href="#" (click)="watch()">watch</a>
      <a href="#" (click)="tag()">tag</a>
    </div>
  </div>
</div>
<div class="expand" *ngIf="expanded && expandPlugin && showToggle">
  {{ ref.comment }}
</div>
