<div class="row">
  <ng-container *ngIf="admin.status.plugins.thumbnail">
    <div class="thumbnail"
         *ngIf="thumbnail else defaultThumbnail"
         [style.background-image]="cssUrl(ref | thumbnail)"></div>
    <ng-template #defaultThumbnail>
      <div class="thumbnail default-thumbnail"></div>
    </ng-template>
  </ng-container>
  <div class="stack">
    <div class="link" [class.remote]="!local">
      <a *ngIf="clickableLink" [href]="ref.url | safe" target="_blank">{{ ref.title || ref.url }}</a>
      <a *ngIf="!clickableLink" [routerLink]="['/ref', ref.url]" [queryParams]="{ origin }">{{ ref.title || ref.url }}</a><wbr>
      <span class="host">({{ host }})</span>
    </div>
    <div class="link-below">
      <div class="toggle toggle-comment"
           *ngIf="showToggle && (ref.comment || expandPlugins.length)"
           (click)="editing ? editing = false : viewSource ? viewSource = false : store.local.setRefToggled(ref.url, expanded = !expanded)">
        <span class="toggle-plus" *ngIf="!editing && !viewSource && !expanded">＋</span>
        <span class="toggle-x" *ngIf="editing || viewSource || expanded">✕</span>
      </div>
      <div class="stack">
        <div class="info" [class.expanded]="!actionsExpanded">
          <ng-container *ngIf="ref.created else notSubmitted">
            <span *ngIf="!ref.published || ref.published.diff(ref.created, 'seconds') <= 5" [title]="ref.created.toISOString()" i18n>submitted {{ ref.created.fromNow() }}</span>
            <span *ngIf="ref.modified!.diff(ref.created, 'seconds') > 5"
                  i18n-title
                  title="last edited {{ ref.modified!.fromNow() }}">*</span>
            <ng-container *ngIf="!scrapeable && ref.published && ref.published.diff(ref.created, 'seconds') > 5">
              <span [title]="ref.published.toISOString()" i18n>
                {{ publishedLabel }}
                {{ ref.published.fromNow() }}</span>
            </ng-container>
          </ng-container>
          <ng-template #notSubmitted>
            <span i18n>not found</span>
          </ng-template>
          <ng-container *ngIf="authors.length" i18n>
            by
            <ng-container *ngFor="let user of authors">
              <a class="user tag" [routerLink]="['/tag', user]">
                {{ formatAuthor(user) }}</a>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="tags.length" i18n>
            tagged
            <ng-container *ngFor="let tag of tags">
              <a class="tag" [routerLink]="['/tag', tag + ref.origin]">{{ tag }}</a>
            </ng-container>
          </ng-container>
          <ng-container *ngFor="let icon of icons">
            <span *ngIf="showIcon(icon)" class="icon" (click)="clickIcon(icon)" [title]="icon.title">{{ icon.label }}</span>
          </ng-container>
          <ng-container *ngIf="scrapeable">
            <ng-container *ngIf="scraped">
              <span [title]="lastScrape.toISOString()" i18n> last scraped {{ lastScrape.fromNow() }}</span>
            </ng-container>
            <ng-container *ngIf="!lastScrape" i18n>
              not scraped yet
            </ng-container>
          </ng-container>
          <ng-container *ngIf="ref.created && !local" i18n>
            on <a class="origin tag" [routerLink]="['/tag', ref.origin]">{{ ref.origin }}</a>
          </ng-container>
          <ng-container *ngIf="addTags?.length" i18n>
            tagging refs
            <ng-container *ngFor="let tag of addTags">
              <a [routerLink]="['/tag', tag]">{{ tag }}</a>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="addOrigin" i18n>
            to <a [routerLink]="['/tag', addOrigin]">{{ addOrigin }}</a>
          </ng-container>
        </div>
        <app-viewer *ngIf="expanded && expandInline && !editing && !viewSource" [ref]="ref" ></app-viewer>
        <div class="actions" [class.expanded]="actionsExpanded">
          <ng-container *ngIf="!local || !ref.created">
            <a routerLink="/submit" [queryParams]="{ url: ref.url }" i18n>submit</a>
          </ng-container>
          <ng-container *ngIf="ref.created">
            <a [routerLink]="['/ref', ref.url]" [queryParams]="{ origin }" i18n>permalink</a>
            <a *ngIf="store.account.poster" routerLink="/submit" [queryParams]="{source: ref.url}" i18n>reply</a>
            <a *ngIf="comments" [routerLink]="['/ref', ref.url, 'comments']" [queryParams]="{ origin }" i18n>{comments, plural, =1 {1&thinsp;comment} other {{{ comments }}&thinsp;comments}}</a>
            <a *ngIf="responses" [routerLink]="['/ref', ref.url, 'responses']" [queryParams]="{ origin }" i18n>{feed, select, true {{{ responses }}&thinsp;scraped} false {{responses, plural, =1 {1&thinsp;citation} other {{{ responses }}&thinsp;citations}}}}</a>
            <a *ngIf="sources === 1" [routerLink]="['/ref', ref.sources![0]]" [queryParams]="{ origin }" i18n>parent</a>
            <a *ngIf="sources > 1" [routerLink]="['/ref', ref.url, 'sources']" [queryParams]="{ origin }" i18n>{{ sources }}&thinsp;sources</a>
            <a *ngIf="local && (store.account.editor || writeAccess)"
               class="fake-link"
               (click)="tagging = !tagging" i18n>tag</a>
            <span *ngIf="tagging" class="inline-tagging">
              <input #inlineTag
                     (keydown)="$event.key === 'Enter' && addInlineTag(inlineTag) || true"
                     (input)="inlineTag.value = inlineTag.value.toLowerCase()"
                     type="text"
                     inputmode="email"
                     [pattern]="tagRegex"
                     autocorrect="off"
                     autocapitalize="none"
                     appAutofocus>
              <button (click)="addInlineTag(inlineTag)" i18n>+</button>
            </span>
            <a *ngIf="writeAccess else source"
               class="fake-link"
               (click)="editing = !editing" i18n>edit</a>
            <ng-template #source>
              <a class="fake-link"
                 (click)="viewSource = !viewSource" i18n>source</a>
            </ng-template>
            <a class="fake-link"
               (click)="download()" i18n>download</a>
            <a *ngIf="!deleting && writeAccess"
               class="fake-link"
               (click)="deleting = true" i18n>delete</a>
            <span *ngIf="deleting" class="delete-confirm" i18n> are you sure?&nbsp;
              <a class="fake-link" (click)="delete()">yes</a>&nbsp;/&nbsp;
              <a class="fake-link" (click)="deleting = false">no</a>&nbsp;
            </span>
            <a class="fake-link"
               (click)="download()" i18n>download</a>
            <ng-container *ngIf="canInvoice">
              <a routerLink="/submit/invoice"
                 [queryParams]="{url: ref.url}" i18n>invoice</a>
            </ng-container>
            <a *ngIf="pdf" target="_blank" [href]="pdf" i18n>pdf</a>
            <a *ngIf="clickableLink && archive" target="_blank" [href]="archive" i18n>archive</a>
            <a *ngIf="store.account.mod && scrapeable" class="fake-link" (click)="scrape()" i18n>scrape</a>
            <ng-container *ngFor="let a of actions">
              <a *ngIf="showAction(a)" class="fake-link" (click)="doAction(a)">{{ active(a) ? a.labelOn : a.labelOff }}</a>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <div class="toggle actions-toggle"
           (click)="actionsExpanded = !actionsExpanded">⚙️</div>
      <div class="toggle comments"
           *ngIf="admin.status.plugins.comment"
           [routerLink]="['/ref', ref.url, 'comments']">💬️</div>
    </div>
  </div>
</div>
<app-viewer *ngIf="expanded && !expandInline && !editing && !viewSource" [ref]="ref"></app-viewer>

<form *ngIf="editing else showErrors" class="form" [formGroup]="editForm" (ngSubmit)="save()">

  <app-ref-form [group]="editForm"
                (editorTags)="editorPlugins = $event"></app-ref-form>

  <ng-container *ngFor="let e of serverError">
    <span><!-- Unexpected Error --></span>
    <div class="error">{{ e }}</div>
  </ng-container>

  <span><!-- Buttons --></span>
  <span class="form-array right">
    <button type="submit" [disabled]="submitted && !editForm.valid" i18n>save</button>
    <button (click)="editing = false" i18n>cancel</button>
  </span>
</form>

<form *ngIf="viewSource" class="form" [formGroup]="editForm">
  <app-ref-form [group]="editForm"></app-ref-form>
</form>

<ng-template #showErrors>
  <ng-container *ngFor="let e of serverError">
    <div class="error">{{ e }}</div>
  </ng-container>
  <div *ngIf="publishChanged"
       class="warning" i18n>
    * Published date was changed to be after source published date.
  </div>
</ng-template>
