:host {
  display: block;
}

.link-below {
  display: flex;
  .stack {
    display: flex;
    flex-direction: column;
  }
}

.toggle {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  text-align: center;
  line-height: 22px;
  cursor: pointer;
}

.expand {
  margin: 2px;
}
