<ng-container *mobxAutorun>
  <form class="form" [formGroup]="dmForm" (ngSubmit)="submit()"
        [appLimitWidth]="fill?.nativeElement" [limitSibling]="true">
    @if (!store.submit.dmPlugin) {
      <label for="to">To:</label>
      <input id="to"
             placeholder="Myself"
             [formControl]="to"
             type="email"
             autocorrect="off"
             autocapitalize="none"
             (keydown)="$event.key === 'Enter' && (bookmarks.to = $any($event.target).value.split(' ')) || true"
             (blur)="bookmarks.to = $any($event.target).value.split(' ')"
             [appAutofocus]="!store.submit.to.length">

      <div><!-- Errors --></div>
      <div>
        @if (to.touched) {
          @if (to.errors?.['pattern']) {
            <div class="error" i18n>
              User tags must start with the "+user/" or "_user/" prefix.
              Notification tags must start with the "plugin/inbox" or "plugin/outbox" prefix.
              Tags must be lower case letters, numbers, periods and forward slashes.
              Must not or contain two forward slashes or periods in a row.<br>
              (i.e. "+user/bob", "plugin/outbox/dictionary/science", or "_user/charlie&#64;jasperkm.info")
            </div>
          }
          @if (!to.value) {
            <div class="warning" i18n>
              Message to myself
            </div>
          }
        }
      </div>
    }

    <label for="title" i18n>Title:</label>
    <input id="title" type="text" [formControl]="title">

    <app-select-plugin #pluginSelect
                       class="shrink"
                       [text]="true"
                       i18n-title title="Add Plugin"
                       (pluginChange)="bookmarks.toggleTag($event); pluginSelect.plugin = ''"></app-select-plugin>
    <app-form-plugins id="plugins"
                      (togglePlugin)="bookmarks.toggleTag($event)"
                      [tags]="$any(dmForm.value).tags"
                      [group]="dmForm"></app-form-plugins>

    @if (editingViewer) {
      <span><!-- Viewer --></span>
      <app-viewer [text]="dmForm.value.comment"
                  [tags]="$any(dmForm.value).tags"
                  (comment)="comment.setValue($event)"></app-viewer>
    } @else {
      <span i18n>Mesage:</span>
      <div #fill>
        <app-editor class="bubble"
                    [control]="comment"
                    (focusin)="setDefaultTitle()"
                    [fillWidth]="fill"
                    (syncEditor)="syncEditor()"
                    [tags]="$any(dmForm.value).tags"
                    (syncTags)="editorTags = $event"
                    [autoFocus]="!!store.submit.to.length"></app-editor>
      </div>
    }

    <app-tags #tags
              [group]="dmForm"
              (syncTags)="syncTags($event)"></app-tags>

    @for (e of serverError; track e) {
      <span><!-- Unexpected Error --></span>
      <div class="error">{{ e }}</div>
    }

    <span><!-- Buttons --></span>
    <span class="buttons form-array right">
    <button type="submit" [disabled]="submitted && !dmForm.valid" i18n>Send</button>
  </span>
  </form>
</ng-container>
