<ng-container *mobxAutorun>
  <form class="form" [formGroup]="dmForm" (ngSubmit)="submit()"
        [appLimitWidth]="fill?.nativeElement" [limitSibling]="true">

    <ng-container *ngIf="!store.submit.dmPlugin">
      <label for="to">To:</label>
      <input id="to"
             placeholder="Myself"
             [formControl]="to"
             type="email"
             autocorrect="off"
             autocapitalize="none"
             (keydown)="$event.key === 'Enter' && (bookmarks.to = $any($event.target).value.split(' ')) || true"
             (blur)="bookmarks.to = $any($event.target).value.split(' ')"
             [appAutofocus]="!to.value">

      <div><!-- Errors --></div>
      <div>
        <div class="error" *ngIf="to.touched && to.errors?.['pattern']" i18n>
          User tags must start with the "+user/" or "_user/" prefix.
          Notification tags must start with the "plugin/inbox" or "plugin/outbox" prefix.
          Tags must be lower case letters, numbers, periods and forward slashes.
          Must not or contain two forward slashes or periods in a row.<br>
          (i.e. "+user/bob", "plugin/outbox/dictionary/science", or "_user/charlie&#64;jasperkm.info")
        </div>
        <div class="warning" *ngIf="to.touched && !to.value" i18n>
          Message to myself
        </div>
      </div>
    </ng-container>

    <label for="title" i18n>Title:</label>
    <input id="title" type="text" [formControl]="title">

    <app-select-plugin #pluginSelect
                       class="shrink"
                       [text]="true"
                       i18n-title title="Add Plugin"
                       (pluginChange)="bookmarks.toggleTag($event); pluginSelect.plugin = ''"></app-select-plugin>
    <app-form-plugins id="plugins"
                      (togglePlugin)="bookmarks.toggleTag($event)"
                      [tags]="dmForm.value.tags"
                      [group]="dmForm"></app-form-plugins>

    @if (editingViewer) {
      <span><!-- Viewer --></span>
      <div #fill>
        <app-viewer [text]="dmForm.value.comment"
                    [tags]="dmForm.value.tags"
                    (comment)="comment.setValue($event)"></app-viewer>
      </div>
    } @else {
      <span i18n>Mesage:</span>
      <div #fill>
        <app-editor class="bubble"
                    [control]="comment"
                    (focusin)="setDefaultTitle()"
                    [fillWidth]="fill"
                    (syncEditor)="syncEditor()"
                    (syncTags)="plugins = $event"
                    [autoFocus]="true"></app-editor>
      </div>
    }

    <app-tags #tags [group]="dmForm"></app-tags>

    <ng-container *ngFor="let e of serverError">
      <span><!-- Unexpected Error --></span>
      <div class="error">{{ e }}</div>
    </ng-container>

    <span><!-- Buttons --></span>
    <span class="buttons form-array right">
    <button type="submit" [disabled]="submitted && !dmForm.valid" i18n>Send</button>
  </span>
  </form>
</ng-container>
