<form class="form" [formGroup]="invoiceForm" (ngSubmit)="submit()"
      [appLimitWidth]="fill" [limitSibling]="true">

  <label for="to" i18n>Queue:</label>
  <input id="to"
         type="email"
         autocorrect="off"
         autocapitalize="none"
         [value]="queue || ''" (change)="queue = $any($event.target).value">

  <label for="qr" i18n>QR Code:</label>
  <div class="form-array">
    <input id="qr" type="text" [formControl]="url" (blur)="checkUrl()">
    <app-qr-scanner (data)="$event && url.setValue($event)"></app-qr-scanner>
  </div>
  <span><!-- QR Code Errors --></span>
  <div>
    <div class="error" *ngIf="url.touched && url.errors?.['required']" i18n>
      QR Code must not be blank.
    </div>
    <div class="error" *ngIf="url.touched && url.errors?.['pattern']" i18n>
      QR Code must be a valid URI according to <a target="_blank" href="https://datatracker.ietf.org/doc/html/rfc3986">RFC 3986</a>.
    </div>
  </div>

  <label for="title" i18n>Title:</label>
  <input id="title" type="text" [formControl]="title">
  <span><!-- Title Errors --></span>
  <div>
    <div class="error" *ngIf="title.touched && title.errors?.['required']" i18n>
      Title must not be blank.
    </div>
  </div>

  <span><!-- Message --></span>
  <div #fill>
    <app-editor [control]="comment"
                [fillWidth]="fill"
                (syncEditor)="syncEditor()"
                (syncTags)="plugins = $event"></app-editor>
  </div>

  <ng-container *ngFor="let e of serverError">
    <span><!-- Unexpected Error --></span>
    <div class="error">{{ e }}</div>
  </ng-container>

  <span><!-- Buttons --></span>
  <span class="form-array right">
    <button type="submit" [disabled]="submitted && !invoiceForm.valid" i18n>Send</button>
  </span>
</form>
